[2022-07-19 18:24] xmarcalx opened #3059 "[Doc] Improve the documentation to reflect the max amount of vCPU supported"
# Feature Request

Improve the documentation and give better clarity of how many vCPU are supported into Firecracker.

## Describe the desired solution

Documentation should state the max number of vCPU supported

## Describe possible alternatives

N/A

## Additional context

As result of the [survey](https://github.com/firecracker-microvm/firecracker/discussions/2987), some of our customers were

[2022-07-20 00:12] KarthikNedunchezhiyan commented on #3047
I am not so good at this topic, but I found this issue interesting. I prefer the word "should" when that indicates the responsibilities and duties of a person. I prefer the word "must" to enforce the task compulsorily.

There are a lot of cases where developers may decide to start firecracker binary without a jailer. For example, the developer may have ensured the security of the sandbox where the

[2022-07-20 18:03] xmarcalx commented on #3047
Hi,

Currently i have an open PR https://github.com/firecracker-microvm/firecracker/pull/3060#pullrequestreview-1043947084 which actually touched that sentence too and tried to clarify this sentence. Please feel free to comment and review the PR itself :)

@KarthikNedunchezhiyan 's interpretation is also mine at the moment.  We recommend in production to use the jailer to mitigate security threat

[2022-07-21 09:32] jackdouglas opened #3062 "Debian Jessie rootfs"
I have created Alpine rootfs's following the guide instructions for Docker and all works fine. When I try and do something similar for Debian Jessie I've got stuck — is there a guide for non-Alpine rootfs creation somewhere? I tried installing Openrc on Jessie, but init won't run.

[2022-07-22 13:22] richardcase opened #3063 "[Bug] The behaviour of MMDS(v1) has changed between v0.25.2 and v1.1.0"
# Describe the bug

We rely heavily on the MMDS in Firecracker for cloud-init with the **nocloud** data source (i.e. `ds=nocloud-net;s=http://169.254.169.254/latest/`).

With Firecracker v0.25.2 this works but upgrading our solution to use Firecracker v1.1.0 cloud-init is failing as it can't communicate with the MMDS.

It appears there is a change in behaviour with MMDS between v0.25.2 and v1.1.0.

[2022-07-25 15:50] luminitavoicu commented on #3063
Hi @richardcase!

Thank you for reaching out to us and we are sorry that you are experiencing this problem!

In order for us to be able to reproduce this issue, it would be great if you could provide us with more information:
- is the firecracker version the only thing that has changed since experiencing this issue?
- what does the network configuration in the boot logs look for Firecracker v0.25?

[2022-07-26 08:28] luminitavoicu commented on #3058
Hi @sondavidb, thank you for bringing this to our attention. Indeed, the fix here seems to be adding a way to specify a rootfs directory. If you would like to tackle this issue, we encourage contributions and we will be able to provide you with guidance if needed.

[2022-07-26 08:40] luminitavoicu commented on #3057
A lot of features depend on the output of Firecracker version and we do not recommend to override the version. Could you please offer us more details about why you need to do this? There is a distinction between the firecracker version and the version of the package of the Linux distribution.

[2022-07-26 09:44] richardcase commented on #3063
@luminitavoicu - thanks for the response :smile:  I should've said that we use a forked version of v0.25.2 that has the macvtap feature, and `--metadata` functionality merged in.

For the requested information:

Yes. We are using the same volume, kernel, network configuration and the same host.

[code]

We create tap network interfaces, and block devices.

We don't send commands ourself. Instead c

[2022-07-26 14:31] FollieHiyuki commented on #3057
I'm not trying to overwrite the version to a random number. What I want is to make the version string the same as it is presented in the latest released binary on Github.

I'll use AlpineLinux as an example here.

- We have Firecracker build script stored in a repo -> https://gitlab.alpinelinux.org/alpine/aports/-/blob/master/testing/firecracker/APKBUILD
- The packaging process is just us download

[2022-07-26 15:08] jackdouglas commented on #3062
even `init=/bin/bash` won't boot:

[code]

[2022-07-26 16:35] dianpopa commented on #3062
Hello,

We do not have documentation but we do offer a script that builds an Ubuntu. Take a look here: https://github.com/firecracker-microvm/firecracker/blob/main/tools/devtool#L2110.

[2022-07-27 19:11] jackdouglas commented on #3062
Thanks @dianpopa, that's very useful. I have Debian booting now with systemd installed. It stalls during boot with:

[code]

 I guess I need the equivalent for the alpine:

[code]

Are you able to point me in the right direction on this too?

[2022-07-28 09:03] dianpopa commented on #3062
First thing I would check is if you used `ttyS0` in the [boot params](https://github.com/firecracker-microvm/firecracker/blob/3e217c19abaea275138ac13a4be0f85b834ec246/tests/framework/vm_config.json#L4) and the other thing you can try is doing this: https://github.com/firecracker-microvm/firecracker/blob/main/resources/tests/setup_rootfs.sh#L24.

[2022-07-28 12:10] jackdouglas commented on #3062
Thanks very much, that set me on the right path - I needed to install `udev` as well as `systemd-sysv`:

[code]

[code]

I now have a fully working Debian system!

[2022-07-31 16:16] ryanrussell opened #3072 "[Bug] Slack Link Expired in Readme"
# Describe the bug

Slack chat link in readme not functional

## To Reproduce

1. Go to bottom of https://github.com/firecracker-microvm/firecracker
2. Click Slack join link

## Expected behaviour

Join the chat :)

## Checks

- [x] Have you searched the Firecracker Issues database for similar problems?
- [x] Have you read the existing relevant Firecracker documentation?

[2022-07-31 18:05] cperciva opened #3074 "[Feature Request] support for resetting virtio devices"
# Feature Request

During the FreeBSD boot process, it resets network devices.  (Why?  Good question.)  When running in Firecrackers, this means resetting the vtnet device.

## Describe the desired solution

When a status of `0` is written to the virtio device, it should reset.

It looks like the MMIO code in Firecracker gets this right, but it calls a `_reset` routine for the device and none of t

[2022-08-01 06:30] luminitavoicu commented on #3072
Hi @ryanrussell, thank you for letting us know about this! I have posted a PR with the new invite, please feel free to use that link to join the slack.

[2022-08-01 13:52] #3072 closed

[2022-08-04 09:04] dianpopa commented on #119
Closing this in favor of #1662

[2022-08-04 09:04] #119 closed

[2022-08-04 10:48] dianpopa commented on #186
A manifest of microVM capabilities can be found in the https://github.com/firecracker-microvm/firecracker/blob/v1.0.0/tests/framework/vm_config.json. This can be programatically consumed to configure a microVM from commandline. See #1212.

[2022-08-04 10:48] #186 closed

[2022-08-08 10:12] alsrdn commented on #3074
@cperciva can you share your kernel and rootfs so we can reproduce the issue?

[2022-08-08 10:40] alsrdn commented on #3057
@FollieHiyuki thanks for the feedback. We'll look into how to make this work.

[2022-08-08 18:31] cperciva commented on #3074
@alsrdn Happy to share, but FreeBSD relies on PVH booting (see #3041) so it doesn't work on mainline Firecracker yet.  Unless you want to work on virtio reset urgently I'd suggest waiting until I can get PVH support merged to Firecracker (which is next on my to-do list after I finish the outstanding issues on FreeBSD's side).

[2022-08-09 08:35] alsrdn commented on #1671
We are not currently seeing a use case for virtio-rng. If you have a use-case where virtio-rng is needed and the same functionality cannot be achieved without it, please create a new issue.

[2022-08-09 08:35] #1671 closed

[2022-08-09 08:36] alsrdn commented on #2142
We already do create incremental snapshots.

[2022-08-09 08:43] alsrdn commented on #2150
We're tracking publishing the performance numbers under this issue: https://github.com/firecracker-microvm/firecracker/issues/2939

[2022-08-09 08:43] #2150 closed

[2022-08-15 13:29] alsrdn commented on #3063
@richardcase I'm unable to reproduce this issue. I have not tried cloud-init but I did however try to replicate the same network setup.

[code]

Inside the microVM, I've set up the same address and routing as seen in your logs:
[code]
[code]

The metadata service is accessible without issues:
[code]

Also tcpdump looks good to me:
[code]

Can you verify the output of `tcpdump` on one of the microv

[2022-08-15 14:13] alsrdn commented on #3057
@FollieHiyuki we've discussed internally and we would like to also keep the `git --describe` versioning also because it helps us trace back logs to a specific commit when doing testing. However, having a `FIRECRACKER_VERSION_OVERRIDE` variable which can be used to force the version number is very reasonable.
Would this work for you? Do you build using `devtool`? I'm guessing a version override par

[2022-08-15 16:15] FollieHiyuki commented on #3057
I'm totally okay with keeping the current `git --describe` behavior and I agree with your suggestion.

I mainly use AlpineLinux and as you can see in the build template (referenced above), `firecracker` is built directly with cargo commands.

Yes, extending `devtool` to support both versioning methods would be nice. Although I don't use the script, it can act as a good reference for distro package

[2022-08-16 08:40] alsrdn commented on #2318
Closing this for now. While this is a nice to have improvement, the current system works well for our use-case. We might want to re-open it when/if we decide to change or improve the perf testing framework.

[2022-08-16 08:40] #2318 closed

[2022-08-16 08:43] alsrdn commented on #2317
Closing this issue since we want to add functionality to override the version string if needed. See https://github.com/firecracker-microvm/firecracker/issues/3057

[2022-08-16 08:43] #2317 closed

[2022-08-16 14:17] #3058 closed

[2022-08-19 07:01] richardcase commented on #3063
Thanks for the response @alsrdn. I will try what you said and respond here.

A few comments:

- We don't use the api server, everything is configured via file (i.e. `--no-api --config-file /var/lib/flintlock/vm/default/fctest/01G8JZ10M7HYCEA4S3QPA4KWC6/firecracker.cfg`). So your repro is slightly different.
- Our configuration worked with Firecracker v0.25.2 and we had no issues with the MMDS (and

[2022-08-19 08:07] richardcase commented on #3063
@alsrdn - turns out the issue was with this in the configuration file we use:

[code]

This should have been:

[code]

I will create a separate issue for this and close this one. Thanks for looking into this @alsrdn & @luminitavoicu

[2022-08-19 08:07] #3063 closed

[2022-08-19 15:19] #2967 closed

[2022-08-22 16:56] ihciah opened #3100 "[ci] Improved coverage ci needed"
I am working on a small patch(#3098) and I found it's hard to pass coverage ci.

# Why writing a fixed threashold in code is not a good solution
I checked the code and found that in this project it maintains coverage target in code, which may be outdated and unable to calculate commit diff.
There is a `COVERAGE_MAX_DELTA` design, I think its purpose is to allow commits which cause coverage drop li

[2022-08-27 09:39] jackdouglas opened #3109 "Is there a prebuilt 5.10 kernel to download?"
The [quickstart guide](https://github.com/firecracker-microvm/firecracker/blob/main/docs/getting-started.md) has a link to [a pre-built 4.14 kernel](https://s3.amazonaws.com/spec.ccfc.min/img/quickstart_guide/x86_64/kernels/vmlinux.bin), and somewhere in the issues here I found another 4.14 kernel that was optimised for faster boot time, but I haven't found any 5.10 kernels (the other currently su

[2022-08-31 14:27] andreeaflorescu commented on #3023
@upxe do you have an example of a boot argument that follows the `--bar` pattern you are mentioning in the issue? From this documentation I understand that the kernel interprets everything after the first `--` as init arguments. Indeed, in Firecracker right now we don't except more than one `--` in the kernel command line which leads to Problem 2 as you describe it, but I don't think that we need

[2022-09-01 07:01] andreitraistaru commented on #3023
I investigated this issue a little bit and this is a summary of what I discovered / tried:

1. According to [this documentation](https://www.kernel.org/doc/html/latest/admin-guide/kernel-parameters.html) it looks like there is no need for a whitespace as you said @andreeaflorescu ; however, the findings below shows that a whitespace is required
2. The linux kernel seems to parse kernel params extr

[2022-09-01 10:24] andreeaflorescu commented on #3023
Great investigation @andreitraistaru! That looks correct and matches my understanding as well. I think with this though minimal changes are required to the Firecracker code to fix the problem:
- use a delimiter that takes into consideration the whitespace
- use `splitn` instead of split so that we always get at most 2 tokens: what is before `--[whitespace]` and everything that is after: https://do

[2022-09-01 10:29] andreitraistaru commented on #3023
Ok, sounds good! I'll come up with the code changes for the rust-vmm and the integration in Firecracker of the bugfix.

[2022-09-01 11:55] upxe commented on #3023
@andreeaflorescu, @andreitraistaru  thank you for your input. The kernel documentation is ambiguous in its description of `--`. In particular, "Everything after “--” is passed as an argument to init" is misleading, in that it doesn't mention that that `--` should be whitespace-delimited. It's also slightly more complicated than that because the kernel supports double-quoting of command line argume

[2022-09-05 17:51] dianpopa commented on #3109
HI!

Yup there is!

x86 - https://s3.amazonaws.com/spec.ccfc.min/ci-artifacts/kernels/x86_64/vmlinux-5.10.bin
aarch64 - https://s3.amazonaws.com/spec.ccfc.min/ci-artifacts/kernels/aarch64/vmlinux-5.10.bin

[2022-09-06 09:40] andreitraistaru commented on #3023
We are considering the rework of the cmdline parser to cover this usecase as well. I'll have a look on that and let you know the progress on our side.

[2022-09-06 10:19] jackdouglas commented on #3109
marvellous, thanks very much!

[2022-09-06 10:19] #3109 closed

[2022-09-09 12:19] TilBlechschmidt opened #3129 "[Bug] Firecracker MMDS API headers are parsed case-sensitive"
# Describe the bug

When sending MMDS requests to Firecracker, the `X-metadata-token` and `X-metadata-token-ttl-seconds` headers are parsed case-sensitive.

## To Reproduce

1. Start Firecracker VM with MMDS enabled (according to doc examples)
2. Send an HTTP request with a lowercased header field name
    - e.g. `curl -X PUT -H "x-metadata-token-ttl-seconds: 21000" http://169.254.169.254/latest/a

[2022-09-13 08:26] luminitavoicu commented on #1713
We don't have an immediate plan for this. Will reopen in the future if necessary.

[2022-09-13 08:26] #1713 closed

[2022-09-13 08:31] luminitavoicu commented on #2189
All our metrics are pub fields and documented in the source file. Usage is documented here: https://github.com/firecracker-microvm/firecracker/blob/main/docs/metrics.md.

[2022-09-13 08:31] #2189 closed

[2022-09-13 08:34] luminitavoicu commented on #2214
Test added here: https://github.com/firecracker-microvm/firecracker/blob/main/tests/integration_tests/functional/test_drives.py#L478.

[2022-09-13 09:17] JonathanWoollett-Light commented on #3100
This is an issue we have discussed and decided to address moving forward. We intend to implement a solution like https://github.com/marketplace/actions/continuous-benchmark but adjusted to use BuildKite and other specifics.

[2022-09-13 09:35] JonathanWoollett-Light commented on #3100
[codecov](https://about.codecov.io/) looks interesting thank you for bringing this to our attention.

[2022-09-13 11:31] luminitavoicu commented on #3129
Hi @TilBlechschmidt, thank you for opening this issue!
We already have an open PR tackling this: #3006, but it hasn't been updated in a while and it got out of sync with the main branch. We will push forward to get this merged.

[2022-09-13 11:39] TilBlechschmidt commented on #3129
Ah right, I went through the issues looking for a similar one but totally forgot to check the PRs. Thanks a lot!

(For people using `hyper`: Temporarily worked around it by using curl instead of hyper as I did not find a suitable fix apart from the open issue linked previously which is not implemented yet)

[2022-09-13 11:48] TilBlechschmidt commented on #3129
@Compulves if you are not interested in pushing the PR forward anymore let me know and I'll take a stab at bringing it back in sync 🙂

[2022-09-15 12:12] dianpopa commented on #2943
#3121 fixed the network part of this issue.
We still have some loose ends to tie (i.e cpu_template, smt and boot-source)

[2022-09-19 07:12] Adhilr opened #3137 "Using NVME-oF over RDMA"
Hi, this is not a feature request. I am trying to access an NVME-oF over RDMA disk from the MicroVM. To make the RDMA work we need the NIC/PIC available inside the MicroVM. Is it possible to do this, are there any docs or references we can use to do this?

[2022-09-23 09:55] zulinx86 commented on #1082
I've confirmed that this issue still happens with the latest version (v1.1.1).
[code]

[2022-09-27 13:41] dianpopa commented on #2017
This behavior can be triggered only from the host (the guest is not affected - we are ensuring through this [integration test](https://github.com/firecracker-microvm/firecracker/blob/v1.1.1/tests/integration_tests/functional/test_mmds.py#L617)).
Given that the host user is trusted in Firecracker's threat model, we do not plan to implement additional checks.

[2022-09-27 13:41] #2017 closed

[2022-09-28 13:13] zulinx86 opened #3147 "Rootfs built by `devtool` with default parameters leads to a warning message"
# Description

When rootfs is built by `devtool`, the size of the deliverable is 300MB (300000000B) by default.

https://github.com/firecracker-microvm/firecracker/blob/main/tools/devtool#L2119-L2124
[code]

But as firecracker prefers a multiple of sector size 512, the following warning message is displayed when booting with the rootfs:
[code]

https://github.com/firecracker-microvm/firecracker/bl

[2022-09-29 12:12] dianpopa opened #3149 "[Bug] Backport fix for a self-DOS scenario from rust-vmm's vm-virtio"
# Describe the bug

Backport PR https://github.com/rust-vmm/vm-virtio/pull/196 which fixes a self-DOS scenario in the virtio queue logic.
The PR solves an issue where a malitious guest driver could force the virtio device to process some descriptors more than once. This in turn could lead to a self-DOS on the thread processing the queue.

More details on the aformentioned PR.

## Environment

`[Au

[2022-10-03 12:03] alsrdn commented on #3137
Hi @Adhilr, thanks for your interest in using Firecracker! Unfortunately, Firecracker does not have a PCI device model and can't pass through network devices to the Guest so you can't use RDMA with a HW NIC inside the uVM. PCI passthrough support is currently unplanned for Firecracker and we don't know if/when we'll implement this feature.

[2022-10-03 12:03] #3137 closed

[2022-10-04 10:01] #2782 closed

[2022-10-04 14:27] #3149 closed

[2022-10-04 15:02] JonathanWoollett-Light opened #3161 "Use `clippy::as_conversions`"
From a discussion https://github.com/firecracker-microvm/firecracker/pull/3156#discussion_r986640407 it was thought utilizing the clippy lint [`clippy::as_conversions`](https://rust-lang.github.io/rust-clippy/master/#as_conversions) would introduce additional safety.

It would be good to implement this lint, either via `#![warn(clippy::as_conversions)]` or passed as a command line argument under `

[2022-10-04 16:28] #2943 closed

[2022-10-06 11:49] dianpopa opened #3166 "[Bug] Black does not format files inside integration_tests/build"
# Describe the bug

See this https://github.com/psf/black/issues/1193.

## To Reproduce

`./tools/devtool shell -p`
`cd tests/integration_tests/build`
`black .`
[code]

## Expected behaviour

Files in `integration_tests/build directory` are Python formatted.

[2022-10-11 08:47] JonathanWoollett-Light opened #3177 "Use `clippy::undocumented_unsafe_blocks`"
In the PR template we include a checkbox for

This can be replaced by using the lint [`clippy::undocumented_unsafe_blocks`](https://rust-lang.github.io/rust-clippy/master/#undocumented_unsafe_blocks).

[2022-10-11 09:36] #2014 closed

[2022-10-12 15:40] #3129 closed

[2022-10-12 15:59] dianpopa commented on #2885
No action items left here. If anymore details are needed, feel free to start a discussion about it.

[2022-10-12 15:59] #2885 closed

[2022-10-12 16:03] dianpopa commented on #2481
Starting with v1.0.0, we have released a kernel support policy that can be found here: https://github.com/firecracker-microvm/firecracker/blob/main/docs/kernel-policy.md.

[2022-10-12 16:03] #2481 closed

[2022-10-12 16:10] #361 closed, assigned to pb8o

[2022-10-14 12:08] ftankovic1 commented on #751
I tried to run Firecracker on VirtualBox VM and got an error. Is running Firecracker in VritualBox VM even known to be supported?

The use-case is following:
Physical machine: Ubuntu 22.04.1, kernel: 5.15.0-50, x86_64 Intel i7-8565U
VirtualBox VM (Enabled nested VT-x): Gentoo Linux, kernel: 5.15.58

Debug Trace:
[code]

[2022-10-14 13:52] mattschlebusch commented on #751
Hi @ftankovic1,

While there has been some experimentation done, nested virtualization is not supported for Firecracker. With that said, it is also not validated/blocked against by Firecracker, so feel free to experiment as you would like to.

Other suggestions I can make:
* Confirm you successfully enabled virtualization in VB, run `lscpu | egrep --color -i "svm|vmx"` in your VBox instance and co

[2022-10-18 14:41] jwinarske opened #3188 "[Bug] Build - Cross Compilation Failure"
# Describe the bug

When cross compiling firecracker the secompiler-bin execution step fails.

## To Reproduce

Cross compile using Yocto `kirkstone` build system using this recipe
[code]

local.conf requires
[code]

layer deps: `meta-clang`

## Expected behaviour

That seccompiler-bin works when cross compiled.
One solution would be to check the system path for it before attempting to build.

##

[2022-10-19 17:16] fertapric opened #3191 "Slack channel invite link is no longer working"
It seems the Slack channel invite link is no longer valid. When clicked, the Slack application says:

![E9DD05FD-F06C-4696-B740-69CEDFCDDEA0](https://user-images.githubusercontent.com/651203/196759886-d42541e8-a1fa-4883-a22f-f6c1ae6432c5.png)

[2022-10-20 09:40] xmarcalx commented on #3191
Hi @fertapric ,

Thanks for opening this issue and sorry for the inconvenient.
Which link did you use?

We have actually updated all the links in various PRs both in our codebase and website https://firecracker-microvm.github.io/ few weeks ago and they seems functional.

Can you try to join using any link from the website and tell us if it works for you?

Thanks,
Marco

[2022-10-20 11:54] fertapric commented on #3191
Hi @xmarcalx,

This is the link: https://join.slack.com/t/firecracker-microvm/shared_invite/zt-oxbm7tqt-GLlze9zZ7sdRSDY6OnXXHg

If I click that link, it opens the Slack mobile app (iOS) and then it displays the error message I shared above.

[2022-10-20 15:52] xmarcalx commented on #3191
Hi @fertapric ,

yes that is an old link, if you use the newest one https://join.slack.com/t/firecracker-microvm/shared_invite/zt-1fecwrorm-x5URTlOzBR2fExTU2mWfug it will work.

Ok, I checked the root cause and even if we fixed the links a while ago here (https://github.com/firecracker-microvm/firecracker-microvm.github.io/pull/27), the deploy of the updated page failed so the link of some button

[2022-10-20 15:52] #3191 closed

[2022-10-22 18:48] StemCll commented on #3161
Hello there :wave:
The mentioned lint (clippy::as_conversions) checks for all type casts with`as`. After adding it to the pytest clippy check with `-D warnings`, there are too many errors that I am capable of correcting right now.

I am not sure if that would be good solution to add that lint. Maybe it would be better to use some of the mentioned lints in [as_conversions documentation](https://rus

[2022-10-23 15:03] JonathanWoollett-Light opened #3195 "Use `clippy::unnecessary_cast`"
Implement the `clippy::unnecessary_cast`.

[2022-10-23 15:07] JonathanWoollett-Light opened #3196 "Use `clippy::cast_lossless`"
Implement the `clippy::cast_lossless`.

[2022-10-23 15:07] JonathanWoollett-Light opened #3197 "Use `clippy::cast_possible_truncation`"
Implement the `clippy::cast_possible_truncation`.

[2022-10-23 15:07] JonathanWoollett-Light opened #3198 "`Use clippy::cast_possible_wrap`"

[2022-10-23 15:07] JonathanWoollett-Light opened #3199 "Use `clippy::cast_precision_loss`"
Implement the `clippy::cast_precision_loss`.

[2022-10-23 15:07] JonathanWoollett-Light opened #3200 "Use `clippy::cast_sign_loss`"
Implement the `clippy::cast_sign_loss`.

[2022-10-23 15:07] JonathanWoollett-Light opened #3201 "Use `clippy::char_lit_as_u8`"
Implement the `clippy::char_lit_as_u8`.

[2022-10-23 15:07] JonathanWoollett-Light opened #3202 "Use `clippy::ref_to_mut`"
Implement the `clippy::ref_to_mut`.

[2022-10-23 15:08] JonathanWoollett-Light opened #3203 "Use `clippy::ptr_as_ptr`"
Implement the `clippy::ptr_as_ptr`.

[2022-10-23 15:14] JonathanWoollett-Light commented on #3161
I've broken the issue down into the smaller lints. You can do a PR for each lint.

[2022-10-23 20:25] JonathanWoollett-Light commented on #3203
Warns by default.

[2022-10-23 20:26] JonathanWoollett-Light commented on #3195
Warns by default.

[2022-10-23 20:26] #3195 closed

[2022-10-23 20:26] JonathanWoollett-Light commented on #3201
Warns by default.

[2022-10-23 20:26] #3201 closed

[2022-10-23 20:26] JonathanWoollett-Light commented on #3202
Denied by default.

[2022-10-23 20:26] #3202 closed

[2022-10-24 07:47] StemCll commented on #3161
Thanks @JonathanWoollett-Light
I’ll check the PR, and will start working on these lints.

[2022-10-24 08:54] jeffwidman commented on #3063
@richardcase did you ever create a separate issue for this? Or no need?

[2022-10-24 10:23] JonathanWoollett-Light opened #3206 "[Bug] Rustdoc tests don't run"
# Describe the bug

Under running `test_coverage.py` it does not take into account doc tests in the coverage as `cargo test` does not run them. Using `sudo ./tools/devtool shell -p` and running `cargo test` also seems to be unaware of any doc tests.

## To Reproduce

[code]

## Expected behaviour

Tests should run.

[2022-10-24 23:56] richardcase commented on #3063
I haven't created it....forgot in all honesty. I will create one

[2022-10-25 08:30] bchalios commented on #3188
Hello, thanks for opening an issue.

We are not really familiar with Yocto. Could you give us more details on your use-case? Why do you specifically need to build with Yocto and cross-compile?

Also, could you provide more details on the compilation failure?

[2022-10-25 09:01] roypat commented on #3196
From [clippy's list of lints](https://rust-lang.github.io/rust-clippy/master/#cast_lossless)

[2022-10-25 09:03] roypat commented on #3197
From [clippy's list of lints](https://rust-lang.github.io/rust-clippy/master/#cast_possible_truncation)

[2022-10-25 09:04] roypat commented on #3198
From [clippy's list of lints](https://rust-lang.github.io/rust-clippy/master/#cast_possible_wrap)

[2022-10-25 09:05] roypat commented on #3199
From [clippy's list of lints](https://rust-lang.github.io/rust-clippy/master/#cast_precision_loss)

[2022-10-25 09:05] roypat commented on #3200
From [clippy's list of lints](https://rust-lang.github.io/rust-clippy/master/#cast_sign_loss)

[2022-10-25 14:01] jwinarske commented on #3188
@bchalios The use case is around building a custom OS image that includes firecracker components.  Instead of building on a host and copying to a target to run, one uses Yocto to build a custom Linux OS image and flash/boot device.  It allows building reproducible custom Linux OS images.  It does not use the firecracker build script, but above "recipe".

The build invocation and error are included

[2022-10-26 07:38] sladyn98 commented on #3200
I would like to give this issue a shot, I was looking at the codebase and it seems that I would have to add these as lint rules, am I correct or are there more places in the codebase where I would have to make this change

[2022-10-26 08:05] roypat commented on #3200
Hi @sladyn98, welcome to Firecracker! :)
Yes, generally this would involve adding a `#[warn(clippy:cast_sign_loss)]` to each crate in the Firecracker workspace, and then fixing the warnings rustc throws at you! You can use Jonathan's PR [here](https://github.com/firecracker-microvm/firecracker/pull/3204/files) as a reference.

[2022-10-26 14:59] #3203 closed

[2022-10-27 15:49] roypat opened #3215 "False negatives of `clippy::unneccesary_cast`/`clippy::needless_borrow`"
Due to a bug in clippy that is fixed in nightly, the version of clippy we currently use does not warn for many instances of `clippy::unncessary_cast`: https://github.com/rust-lang/rust-clippy/issues/9562. Running `cargo +nightly clippy` on the firecracker workspace yields around 50 warnings of this type.

Something similar happens to a lesser extend with the `unnecessary_borrow` lint, however I co

[2022-10-28 08:47] Gilnaa commented on #3215
Running with current nightly clippy (`clippy 0.1.66 (0da281b 2022-10-27)`) also uses `clippy::uninlined-format-args`:
[code]

This lint will also have to be disabled specifically in order to make this work on newer clippys. (It can be trivially fixed, of course, but it will affect the MSRV, which I'm not sure if firecracker has)

[2022-10-28 10:15] roypat commented on #3188
Hey Joel,
We just merged a fix for another cross-compilation failure wrt seccompiler-bin that we were investigating. Could you please try whether this also fixes your issue?

[2022-10-28 13:57] roypat opened #3221 "`cargo build` produces `x86_64` binary on ARM"
# Describe the bug

Since we globally specify the `x86_64-unknown-linux-musl` target, plain `cargo build` (e.g. when building firecracker _without_ the `devtool build` wrapper. `devtool build` will always set the correct target) will always produce a `x86_64` binary, even if that binary cannot be executed on the host platform (e.g. on ARM).

## To Reproduce

run `cargo build` on non-`x86_64` machi

[2022-10-29 19:04] jwinarske commented on #3188
Will do, thanks

On Fri, Oct 28, 2022, 3:15 AM Patrick Roy ***@***.***> wrote:

[2022-10-31 12:51] JonathanWoollett-Light commented on #3195
See https://github.com/firecracker-microvm/firecracker/issues/3215.

[2022-10-31 13:05] roypat opened #3226 "[Bug] `cargo update` results in un-buildable workspace"
# Describe the bug

Running `cargo update` or deleting `Cargo.lock` results in an un-buildable workspace in the sense that `cargo build` fails with compilation errors due to incompatible dependencies.

## To Reproduce

1. Run `cargo update` or delete `Cargo.lock`
2. Run `cargo build` (or `./tools/devtools build`)

## Expected behaviour

The dependencies specified in the various `Cargo.toml` files

[2022-11-02 16:04] JonathanWoollett-Light opened #3233 "Use `clippy::exit`"
Implement [`clippy::exit`](https://rust-lang.github.io/rust-clippy/master/#exit).

Without a stack trace and the program converging on main it can become difficult to track down errors and understand the flow of the program.

[The standard library documentation](https://doc.rust-lang.org/stable/std/process/fn.exit.html) also notes:

[2022-11-02 16:15] roypat commented on #3226
Additionally, we can use this as an opportunity to ensure that we are not using different versions of the same crate across different workspace members. This could improve compilation time.

[2022-11-03 09:39] andreeaflorescu commented on #3226
The `ioctl_expr` is exported, but it was changed from a macro to a const fn: https://github.com/rust-vmm/vmm-sys-util/commit/7fd919203bf11d076be3d169ddf18b5fabf0fd86.

[2022-11-04 01:16] DemiMarie commented on #1179
@raduweiss: what would be needed for a “good” solution?  Could https://libvf.io be helpful?

[2022-11-04 12:37] dianpopa opened #3239 "[Improvement] [CI] Add test for validating device integrity after restore"
# Describe the bug

We do have some of those already in `test_snapshot_advanced.py`, but we only do it for previous versions of Firecracker so that with the purpose of validating snapshot compatibility.

We need to also do the checks for current version of Firecracker.

[2022-11-07 09:55] roypat commented on #3188
Hi Joel,
just wanted to follow up to check in if the cross-compilation issue has been fixed for you?

[2022-11-07 11:28] roypat commented on #3215
We might want to specify a "minimum supported rust version" (https://doc.rust-lang.org/clippy/configuration.html#specifying-the-minimum-supported-rust-version) so prevent issues like this going forward.

[2022-11-07 21:39] Gilnaa commented on #3215
Is there an agreed minimum Rust version for firecracker?

[2022-11-08 11:21] JonathanWoollett-Light commented on #3226
It must now be included with the full path `use vmm_sys_util::ioctl::ioctl_expr` (where previously `use vmm_sys_util::ioctl_expr` would work).

I would also agree with setting a specific version with `=` rather than `>=` here.

[2022-11-09 08:24] ftankovic1 commented on #751
Thanks @mattschlebusch for info. Here is my progress update which could be useful for someone:

VBox seems to somehow always sets KVM mitigations on VM to disable VMX (can be checked with `lscpu`). I could not find the way to avoid this,  so I eventually abandoned VirtualBox and tried to use virt-manager for Linux (https://virt-manager.org/).
The good news is that VM on virt-manager does not set m

[2022-11-09 10:04] #3177 closed

[2022-11-14 11:36] #3059 closed

[2022-11-14 11:38] dianpopa commented on #3047
Aforementioned PR #3060 was merged.

[2022-11-14 11:38] #3047 closed

[2022-11-14 14:03] #2129 closed

[2022-11-15 19:21] vibharya opened #3266 "Use rand_bytes() implementation from vmm-sys-util"
PR with implementation for rand_bytes() was merged into vmm-sys-util and has now been released.
Use this upstream function instead of the temporary one defined as part of FC.

[2022-11-16 01:32] vvejell1 opened #3268 "[Bug] Title"
# Describe the bug

While testing an ARM instance against Firecracker-go-sdk, the **msr-tools** package failed to be loaded. This package is blocking the creation of a rootfs for an ARM instance.

## To Reproduce

msr-tools is present in `setup_rootfs.sh` from firecracker repository. This script is run during the setup of test tools via firecracker.

## Expected behaviour

Calling out msr-tools pa

[2022-11-16 15:59] JonathanWoollett-Light commented on #3268
@vvejell1 Could you please check if https://github.com/firecracker-microvm/firecracker/pull/3270 resolves your issue.

[2022-11-17 14:44] JonathanWoollett-Light opened #3271 "Use `core::arch::x86_64::has_cpuid`"
It would be preferable to use the more general [`core::arch::x86_64::has_cpuid`](https://doc.rust-lang.org/core/arch/x86_64/fn.has_cpuid.html) to check for CPUID support.

Blocked on: https://github.com/rust-lang/rust/issues/48556

[2022-11-17 14:58] JonathanWoollett-Light opened #3273 "Resolve untracked TODOs"
There a large number of relatively simple `TODO` comments in the code base, most do not have their own issues. This issue exist to track these.

To contribute, submit a PR resolving any `TODO` comment which does not have a linked issue, and add a link to your PR as a comment under this issue.

[2022-11-17 15:37] roypat commented on #3271
Mh, the rust-lang issue you linked is blocked, and it seems that there is some bug marking the cpuid function as nightly even though it should be stable https://github.com/rust-lang/rust/issues/98253

[2022-11-21 11:57] #3196 closed

[2022-11-21 15:26] dianpopa commented on #2932
Mistakenly closed the wrong issue

[2022-11-21 15:29] dianpopa commented on #2905
@wimax-grapl I was able to build a kernel using the exact instructions you gave, can you please try again the exact steps and let me know if any error comes up?

As far as the script declaring a successful build even with errors, this should be fixed by https://github.com/firecracker-microvm/firecracker/pull/3261.

Feel free to re-open if any issue encountered.

[2022-11-21 15:29] #2905 closed

[2022-11-21 15:32] ShadowCurse opened #3278 "Update all error structs/enums to use `thiserror::Error`"
Currently most error enums in Firecracker use `thiserror::Error` to automatically implement `Error` and `Display` and `From` traits.
But there are some that still don't use `thiserror` and have 50+ lines of implementations of `Display` trait or use `derive_more::From`

The goal of this issue is to make all Error structs/enums in Firecracker uniform.

[2022-11-22 13:31] luminitavoicu commented on #1778
This is no more relevant to the current code design. Closing this.

[2022-11-22 13:31] #1778 closed

[2022-11-22 13:31] luminitavoicu commented on #1777
This is no more relevant to the current code design. Closing this.

[2022-11-22 13:31] #1777 closed

[2022-11-22 13:34] luminitavoicu commented on #1184
We released full snapshot functionality as dev-preview in Firecracker v0.23. Closing this.

[2022-11-22 13:35] lowercase00 commented on #1933
Hi, we've been looking for a firecracker manager and the work being made by weaveworks with flintlock and @richardcase  is looking great. Is there any perspective on having MacVTap supported and merged? Would be happy to contribute.

[2022-11-22 14:45] roypat opened #3284 "[Upstream] `atty` crate has unsoundness bug"
This issues tracks the effort of our upstream dependencies to resolve [RUSTSEC-2021-0145](https://rustsec.org/advisories/RUSTSEC-2021-0145.html). We transitively depend on `atty` through `criterion`, where the fix is implemented https://github.com/bheisler/criterion.rs/pull/628. Once this PR is merged, we can revert https://github.com/firecracker-microvm/firecracker/pull/3283 and properly fix the

[2022-11-22 16:30] zulinx86 commented on #3284
Since we backported the fix in #3282 on v1.1, we need to revert this on v1.1 as well.
Let me leave this comment not to forget it.

[2022-11-22 16:49] roypat commented on #3161
@JonathanWoollett-Light can you check if #3197, #3198, #3199 and #3200 are subsumed by #3196? The latter denies all casts between numeric types, whereas the former 4 are for specific kinds of numeric conversions.

I would argue to warn on the first 4, but allow `clippy::cast_lossless`, as `cast_lossless` even denies perfectly fine casts such as `u8 as u64`, whereas the first 4 cover all the danger

[2022-11-22 19:14] JonathanWoollett-Light commented on #3161
Some instances of `as` casts may be safe, but even in these instances they can be replaced with a more explicit `from`.

I find value both in a simpler rule of no `as` conversions and using the lint `as_conversions` to compress these various lints (if we wanted to not warn on one we would need to keep these all as separate).

[2022-11-23 04:19] jkrshnmenon opened #3285 "[Feature Request] Snapshot loading after VM has been configured"
# Feature Request

Currently, firecracker does not support loading snapshots after a micro-VM has been configured. Therefore, in order to load snapshots, a user has to create a new VM every time. This can be prevented by modifying firecracker to allow loading a snapshot after the micro-VM has been configured

## Describe the desired solution

The load snapshot functionality in firecracker should b

[2022-11-23 05:59] luminitavoicu commented on #3285
Hi! Thanks for your suggestion.

Snapshots are only loaded on fresh microVMs because the snapshot file could present a device configuration different that the one already configured in the running microVM. This would cause problems with the current Firecracker design, as Firecracker doesn't yet support dynamically attaching/detaching devices at runtime.

Could you provide more information on your

[2022-11-23 06:14] jkrshnmenon commented on #3285
Hi, thanks for letting me know.

My usecase involves running a single application inside the microVM with a fixed configuration for testing this application. Therefore I do not foresee any changes being made to the configurations.
Also, speed is a important factor in my usecase. Therefore, creating a fresh microVM and loading the snapshot into this microVM might add quite a bit of unnecessary over

[2022-11-23 06:41] luminitavoicu commented on #3285
Snapshot loading is actually pretty fast. See [here](https://github.com/firecracker-microvm/firecracker/blob/main/tests/integration_tests/performance/configs/test_snap_restore_performance_config_4.14.json) and [here](https://github.com/firecracker-microvm/firecracker/blob/main/tests/integration_tests/performance/configs/test_snap_restore_performance_config_5.10.json) our performance baselines for

[2022-11-23 09:08] jkrshnmenon commented on #3285
That is very impressive indeed!
I tried looking into the time taken to for the API server to start listening and it was close to 1 ms.
Alternatively, specifying a config file and the --no-api option reduces the time to start the firecracker process to 700 us.

I believe with the current functionalities in firecracker, my usecase is satisfied.
Although it would have been simpler if I could specify

[2022-11-24 07:58] luminitavoicu commented on #3020
Hi @CompuIves, are you still experiencing this issue? I see that you merged a fix in your fork, has that solved the problem for you?

[2022-11-24 10:55] roypat commented on #3284
Same thing for 1.0 (via https://github.com/firecracker-microvm/firecracker/pull/3288)

[2022-11-24 19:18] CompuIves commented on #3020
Hey! The commit in our fork fixed the issue. That said, we're removing the fix in a future version where we rely on UFFD to handle page faults. We've updated the host kernel to Linux 6 and guest kernel to 5.15 in this scenario, and we cannot reproduce the issue anymore.

[2022-11-29 09:44] bchalios commented on #3215
Yes, currently we are building Firecracker with Rust 1.64. Unfortunately, this is not very well documented but you can deduce it by looking at the Dockerfiles[1][2] we use for building the docker images we use through `devtool` [3].

At the moment, we can't do anything for this issue, we will keep it open as an action item reminder for whenever you upgrade the toolchain past 1.66 (as @roypat menti

[2022-11-30 09:18] #3226 closed