[2020-07-16 13:51] ustiugov commented on #2027
This is what we measured as well (server-grade Haswell e5 host, 256GB RAM, guest: 1 vCPU, 512MB RAM). However, repetitive snapshot load delay goes down to ~7-10ms thanks to the (host OS) page cache.

[2020-07-16 14:09] sandreim commented on #2027
@ustiugov  Thanks for mentioning this. How did you measure the load latency ? did you use de FC metrics?

The numbers still look high than what we expected and some profiling would reveal where we actually spend so many cycles.

[2020-07-16 14:44] ustiugov commented on #2027
@sandreim I made end-to-end measurements with a simple driver Go program that issued HTTP requests via the Firecracker vsock. We plan to break this delay down to a finer granularity later.

I know that some snapshotting metrics have been merged but I haven't used them yet. In my understanding, these metrics are too coarse so I doubt that they would be enough to define the room for improvement. We

[2020-07-17 09:05] sandreim opened #2028 "Add snapshot create/restore latency integration tests."

[2020-07-17 11:12] sandreim commented on #2027
The current metrics offer a minimal level of granularity for latency measurements:
 - API level - measuring the time spent from receiving the HTTP request to sending the HTTP reply
 - VMM level - measuring the time spent to load the snapshot file, restore  all vCPUs  (paused) and  all devices

For debugging and perf regression testing I think it makes sense to have some fine grained metrics: per v

[2020-07-17 12:18] lauralt commented on #1895
The [documentation](https://github.com/firecracker-microvm/firecracker/blob/master/docs/snapshotting/snapshot-support.md#snapshot-tools) should be updated to point to this tool. Reopening this.

[2020-07-17 12:46] sandreim commented on #1895
Good call, I guess we can just link the docs to `tests/host_tools/snapshot_helper.py` and add an example of a flow where we use it to rebase incremental snapshots on top of a base.

[2020-07-20 12:07] dianpopa opened #2031 "Add `FamStructWrapper` on `kvm_reg_list` in kvm-bindings"
See https://github.com/rust-vmm/kvm-bindings/issues/20.

[2020-07-20 12:09] dianpopa opened #2032 "Add support for `KVM_GET_REG_LIST in kvm-ioctls"
In order to obtain the guest registers that are supported for the KVM_GET_ONE_REG/KVM_SET_ONE_REG ioctl, we need to be able to call into KVM_REG_LIST. See https://github.com/rust-vmm/kvm-ioctls/issues/104.

[2020-07-20 15:41] dianpopa opened #2034 "aarch64: add support for saving and restoring VmState"
This will mostly mean saving and restoring the vgic's registers: distributor, redistributor and the state of the cpu interfaces.

[2020-07-20 15:48] dianpopa opened #2035 "aarch64: update seccomp list for allowing full snapshot create/load"

[2020-07-20 15:56] dianpopa opened #2036 "aarch64: run successful CreateSnapshot/LoadSnapshot"

[2020-07-21 04:12] clintonPantheon commented on #1671
Hi,

I'm new here.  I've been looking at firecracker as a possible solution to a problem at work but it seems that rng is still an issue here for virtualization.

### CPU Time Execution Jitter for Virtualization Problems

@smuellerDD has spent quite some time incorporating CPU time execution jitter as an entropy source for the [kernel](https://elixir.bootlin.com/linux/v5.8-rc4/source/crypto/jitter

[2020-07-21 12:22] dianpopa commented on #2031
Related code is now on crates.io. Closing...

[2020-07-21 12:22] #2031 closed

[2020-07-21 15:56] alindima commented on #1960
I have started to investigate on this issue.

After reproducing it, I managed to get the stack trace that lead to the error:

    #0  0x00007ffff72ac300 in getpid () from /lib64/libc.so.6
    #1  0x00007ffff77bd744 in pthread_kill () from /lib64/libpthread.so.0
    #2  0x00005555557940bb in vmm_sys_util::unix::signal::Killable::kill (self=0x555555c87940, num=34) at /home/ec2-user/.cargo/registry/s

[2020-07-22 07:07] ioanachirca commented on #1987
Fixed by #2022

[2020-07-22 07:07] #1987 closed

[2020-07-22 08:50] #1734 closed

[2020-07-22 11:33] lauralt commented on #2001
Fixed by #2038.

[2020-07-22 11:33] #2001 closed

[2020-07-23 06:01] vbmade2000 commented on #478
@andreeaflorescu  Can you provide some example of metrics ?

[2020-07-23 06:47] #1977 closed

[2020-07-23 08:41] aghecenco commented on #2003
#1998 + #1985

[2020-07-23 08:41] #2003 closed

[2020-07-23 10:37] alindima commented on #1960
This issue is now fixed by this [commit](https://github.com/firecracker-microvm/firecracker/commit/fa24d94175bf9411b26878f67c536792b4deeb5c)

[2020-07-23 10:37] #1960 closed

[2020-07-24 10:38] sandreim commented on #1850
Two new tests needed to close this issue:
- Restore snapshot artifacts
- Create snapshots with binary firecracker artifact and restore with current Firecracker build

[2020-07-25 06:37] s-hamann opened #2044 "Bad syscall 202 (sys_futex) on instance start with glibc"
I built firecracker for glibc and found that it fails on instance start with the following error:
[code]
Version: 0.21.1 with #2039 applied

Running `strace firecracker --config-file config.json` gives (last few lines only):
[code]

Note: The official musl build works, running my glibc build with `--seccomp-level 0` works. So this seems unrelated to my particular rootfs, kernel and config.

[2020-07-26 08:41] raduweiss commented on #2027
Let's keep this open since we're still not exactly at the right numbers. To set expectations, we will prioritize #1997 first, and then get back to this. Any user testing data will help.

@ustiugov it would be great if you can post the numbers after the #2037 mentioning what microVM size (vCPU count, memory size, net/block/vsock device counts) you're loading, and what system you're running on. It l

[2020-07-27 04:42] vbmade2000 commented on #745
May be https://docs.rs/built/0.4.2/built/ cab help ?

[2020-07-27 07:09] alindima commented on #2044
Hello and thank you for raising this issue.

I have tried to reproduce it using the standard kernel and rootfs we provide in the docs, building with glibc.
However, this doesn't reproduce.

Could you please provide the clear configuration steps you took, the kernel and rootfs you used?

[2020-07-27 08:16] s-hamann commented on #2044
Thank you for looking into this.

I can reproduce this with `hello-vmlinux.bin` and `hello-rootfs.ext4` from the quick start guide.
I run firecracker simply as `firecracker --config-file hello.json` with the following config file:
[code]
I do not use `jailer` and I run `firecracker` as `root` to rule out any permission issues.
I used [Gentoo's ebuild](https://gitweb.gentoo.org/repo/gentoo.git/tree

[2020-07-27 08:36] andreeaflorescu commented on #2044
The problem with glibc builds is that the seccomp allow list is not reliable as it depends on the version and implementation of libc on the system where Firecracker runs. With that in mind, what libc are you using where you're running Firecracker?

Probably the only way to make this work long term with any libc version is to implement #1366

[2020-07-27 08:44] lauralt commented on #1865
#1921

[2020-07-27 08:44] #1865 closed

[2020-07-27 09:05] s-hamann commented on #2044
I use glibc 2.30, which is also the version `firecracker` was compiled with.

[2020-07-27 10:36] sandreim commented on #2027
My dev machine has Linux 5.3. I think it is worth trying to see how these numbers look on newer  kernels.

[2020-07-27 11:54] andreeaflorescu commented on #478
@vbmade2000 we need to add API metrics that are incremented when PUT/PATCH/GET on /mmds are called.
First, they need to be defined in the appropriate structure. We need to use [PutRequestsMetrics](https://github.com/andreeaflorescu/firecracker/blob/803c8fae14b1194ba103cf7f0ce817376bf9dfc4/src/logger/src/metrics.rs#L121), [Patch](https://github.com/andreeaflorescu/firecracker/blob/803c8fae14b1194ba

[2020-07-27 16:50] acatangiu commented on #1974
Hi all, sorry for the delay here, I got sidetracked with other tasks.

Indeed, that is a valid workaround. The updated path does not make it to the snapshot, so after loading the snapshot you can do a PATCH to _manually_ update that disk path to its right value.

------------

A full fix is currently pending review in https://github.com/firecracker-microvm/firecracker/pull/2045.

[2020-07-28 01:55] Pennyzct opened #2046 "AArch64: graceful power-off from external"
Hi guys

Got requirement from kata-containers, we want a graceful way to power off the VM from external on aarch64, since it's brutal to use `kill -9` at the first place and may leave stale resource behind.

Since x86_64 has provided API action `SendCtrlAltDel` to gracefully shutdown the microvm from external. I'd like to have the same functionality on AArch64.

[2020-07-28 04:27] vbmade2000 commented on #478
Sure. I'll take a look. Thanks for details @andreeaflorescu .

[2020-07-28 09:01] dianpopa commented on #2046
Hi @Pennyzct , it is really nice to see this! We were looking forward to this kind of functionality, see #1339 which was being tracked as part of our efforts to match all x86_64 functionality on aarch64 too. I will be helping you in having your PR reviewed and passing the CI testing.

Thanks,
Diana

[2020-07-28 13:10] ustiugov commented on #2027
@raduweiss @sandreim thank you!

**Host**: Intel Xeon E5-2680 v3, 256 RAM, SATA3 SSD; Ubuntu 18, v4.15
**Guest**: 1 vCPU, 512RAM, 1 disk, 1 net.
Docker image that I used to build the **rootfs** is `ustiugov/helloworld:var_workload` (it has a gRPC server and python 3 atop of Alpine)

When measuring, I fix CPU frequency and use some other kernel boot args to stabilize the measurements (you may want

[2020-07-28 13:36] #839 closed

[2020-07-28 13:52] sandreim commented on #2036
Once you get this working you can enable the snapshot integration tests for ARM and publish kernel and rootfs images in the S3 artifact repository.

[2020-07-29 11:57] #2028 closed

[2020-07-29 12:27] dianpopa commented on #1941
This error has not been seen in a while, seems to have been fixed by ulterior fixes to our CI pipeline. Feel free to reopen if issue happens again.

[2020-07-29 12:27] #1941 closed

[2020-07-29 12:33] dianpopa commented on #1683
Firecracker now uses `vm-memory = { version = ">=0.2.0", features = ["backend-mmap"] }`.

[2020-07-29 12:45] AlexandruCihodaru commented on #1976
I am interested in working on the 3rd part of this issue. Is it ok if I start working on it ?

[2020-07-29 12:46] andreeaflorescu commented on #1683
@dianpopa we still need to do the replacement of BytedValue. We can also open a new issue with that if you think ti makes more sense. What do you say?

[2020-07-29 12:54] serban300 commented on #1686
@andreeaflorescu we reduced the number of `if` branches as part of #1701 and  I'm not sure if there's much more we can do here. As I mentioned in the previous comment, from what I understand removing the logger configuration step would generate a lot of special cases and that could turn into a burden in the long run. Is it ok if we close this issue ?

[2020-07-29 12:56] andreeaflorescu commented on #1686
Sounds good.

[2020-07-29 13:01] #1686 closed

[2020-07-29 15:15] dianpopa commented on #1683
Uh ok I missed the `BytedValue` part. IMO we need more visibility for it, it kind of got lost in this issue so yes, I think it would be better to open a separate issue for this. Thanks!

[2020-07-30 02:32] Pennyzct opened #2052 "SendCtrlAltDel: guest os stuck on `reboot: System halted`"
Hi guys

**_I'm curious that When we use SendCtrlAltDel API to shutdown microvm, exactly which service routine we will trigger in guest os?_** 😵
Since my guest os stuck on `SendCtrlAltDel`, `reboot: System halted`
[code]
Previously, I wondered that maybe in systemd, the `CTRL-ALT-DEL` key sequence triggers the `ctrl-alt-del.target` (which by default lives in the system path, `/lib/systemd/system/c

[2020-07-30 10:18] dianpopa commented on #1580
The ubuntu image now boots. How to test this?
* Run `./tools/devtool test `
* Start firecracker
`sudo rm -f /run/firecracker.socket && sudo ./build/cargo_target/aarch64-unknown-linux-musl/debug/firecracker`
* In another terminal:
[code]
* Notice see that the login prompt shows up
* Use root/root to login into the microVM

[2020-07-30 10:18] #1580 closed

[2020-07-30 10:20] #752 closed

[2020-07-30 10:57] #259 closed

[2020-07-30 15:22] tnotw commented on #2052
Is it possible that the Kata agent has hijacked the normal systemd shutdown process?

https://github.com/kata-containers/agent/blob/2e94561eff7461b10def1f1c960a6a4fc5a874a6/kata-agent.service.in#L21

So you arrive at a halt via the `systemctl --force poweroff` rather than a `reboot` and firecracker exit?

[2020-07-30 17:42] jayavanth commented on #828
I'm still getting it in the latest version

[2020-08-03 09:01] ioanachirca opened #2057 "CVE-2020-16843: Firecracker v0.20.0, v0.21.0 and v0.21.1 network stack can freeze under heavy ingress traffic"
We have identified an issue in the Firecracker v0.20.0, v0.21.0 and v0.21.1 virtio-net emulation.

# Issue Description

Under heavy network ingress traffic, when the host TAP interface's receive queue is not drained and the guest virtio-net device's receive queue is full, the microVM network interface ingress can freeze. There is no possibility to recover from this state, resulting in a denial of

[2020-08-03 09:03] ioanachirca commented on #1754
Duplicate of #2057

[2020-08-03 09:03] #1754 closed

[2020-08-03 09:04] dianpopa commented on #2032
Feature was merged in rust-vmm. I still need to merge this into `https://github.com/firecracker-microvm/kvm-ioctls`.

[2020-08-03 14:12] #1974 closed

[2020-08-04 06:47] luminitavoicu opened #2060 "Loading snapshot is allowed after configuration of kernel and rootfs"
Loading a snapshot should be accepted only on a fresh Firecracker process and the only resources that can be configured beforehand are: Logger and Metrics. However, Firecracker allows creating a new boot source and configuration of rootfs prior to snapshot loading.

I attached bellow the script used to produce this behaviour (this also downloads the kernel and rootfs) and a valid snapshot example

[2020-08-04 08:02] sandreim commented on #2060
We need to cover this properly in issue #2005.

[2020-08-04 13:05] sandreim opened #2063 "Add API to retrieve supported snapshot versions."

[2020-08-06 16:07] sandreim opened #2068 "Update snapshot documentation with details about CRC"
The deserialization and CRC computation is performed at the same time in a single pass. It is obvious that we can only validate CRC after a successful deserialization.

[2020-08-07 08:54] luminitavoicu opened #2069 "Boot timer prod removal: enable device only for firecracker "test" mode"
The boot timer device supports logging the boot time of the guest since InstanceStart command. In the past, this was handled using PIO for x86_64 and MMIO for aarch64. In order to unify the code in a generic mechanism, we came up with a MMIO boot timer 'device'. The implementation for x86_64 involved changing PIO writes to 0x03f0 to MMIO writes to 0xd0000000. For aarch64 the mechanism did not chan

[2020-08-07 10:51] sandreim commented on #2069
There is also the option of adding a --test-mode parameter which has the right semantics about not using this in production 🤔

[2020-08-07 11:36] acatangiu commented on #2069
I like the idea of having a --test-mode switch with subparams. By itself it's not enough as we want different configs for different tests.

Shall we tackle this as a separate enhancement or do we think we can do it as part of this issue?

[2020-08-07 11:37] #1750 closed

[2020-08-09 15:05] sumatejit opened #2071 "How to debug Firecracker with Rust-lldb?"
After built the source code and use the Rust-lldb debugs Firecracker binary on ``` debug ``` path. The absolutes path is ``` firecracker/build/cargo_target/x86_64-unknown-linux-gnu/debug```.  I  execute command line below.

``` $lldb ./firecracker ```
``` $(lldb)run --api-sock /tmp/firecracker.socket. ```

Start guest machine with cURL command line calls to the micro api-server on Firecracker. Fir

[2020-08-10 08:19] serban300 commented on #2071
Hi @sumatejit ,

I am able to reproduce the issue only when I compile using devtool:
[code]
and load the resulting binary with `rust-lldb` from outside the docker container that's used for building.

However if I compile with `cargo` directly, it works:

[code]

Could you try to build the executable using `cargo` and see if it works ?

[2020-08-10 15:30] dianpopa opened #2075 "Intermittent fail in CI - test_snapshot_basic.py::test_5_full_snapshots"
CI failed on a PR that does not impact failing test. See https://firecracker-pr.s3.amazonaws.com/pr-logs/x86_64/02074/dianpopa-firecracker-4413f28.log.html

[2020-08-10 15:33] serban300 commented on #1909
Closing this issue for the moment. Please feel free to reopen it if you have more questions.

[2020-08-10 15:33] #1909 closed

[2020-08-10 16:15] sumatejit commented on #2071
Note for new user cannot run with cargo default toolchain such ```x86_64-unknown-linux-gnu ```.  You can add new toolchain for compile the Firecracker with command line below.
[code]
After this we can compile source code with new toolchain add to Rustup by use command line.
[code]
You can see the binary file at target toolchain like ```x86_64-unknown-linux-musl/debug```.  This path contains binary

[2020-08-10 20:41] dianpopa commented on #2075
Another unrelated fail was noticed here: https://firecracker-pr.s3.amazonaws.com/pr-logs/x86_64/02070/dianpopa-firecracker-bcfbb2a.log.html.

[2020-08-11 07:32] acatangiu commented on #2075
The `fio` part of the test is unreliable with sporadic fails:

[code]

[2020-08-11 07:34] acatangiu opened #2077 "Intermittent fail in CI - test_concurrency.py::test_run_concurrency"
[code]

[2020-08-11 08:32] #1605 closed

[2020-08-11 11:26] serban300 commented on #2071
It's nice to hear that it works. I'll close the issue.

[2020-08-11 11:26] #2071 closed

[2020-08-11 12:36] raduweiss commented on #1180
Closing this for now as it doesn't look like a path we need to take Firecracker on. More detailed our line of reasoning reasoning in #1351 . @zmlcc thanks for the work on that PR, it eventually caused to to consider this carefully and reach a decision here.

[2020-08-11 12:36] #1180 closed

[2020-08-11 19:15] Spoonbender commented on #259
@georgepisaltu accidentally stumbled upon a TODO that still needs be removed: https://github.com/firecracker-microvm/firecracker/blob/89a131d8e359e7c00361c79a30a1d678c8d9278e/src/rate_limiter/src/lib.rs#L151

[2020-08-12 14:03] #1353 closed

[2020-08-13 17:14] bodenr commented on #1190
There doesn't appear to be much traction on this topic, but a few notes based on my recent experience while getting jailer/firecracker to run as non-root:

(a) The user jailer is run as must have access to the firecracker cgroups (`/sys/fs/cgroup/cpu/firecracker`, `/sys/fs/cgroup/pids/firecracker` and `/sys/fs/cgroup/cpuset/firecracker`).
(b) The jailer binary must have the capabilities mentioned

[2020-08-14 20:15] jmcconnell26 commented on #1765
I had an attempt at this as a first issue here.
https://github.com/firecracker-microvm/firecracker/pull/2083
@iulianbarbu, if the issues you mention above are still open, I would be interested to have an attempt at them.

[2020-08-15 15:06] s-hamann commented on #2044
I upgraded to glibc 2.31 and rebuilt firecracker with that version. That does not seem to change anything at all.

[2020-08-17 06:29] alindima commented on #2044
Hello, as @andreeaflorescu pointed out, the only reliable way to address these seccomp issues with glibc is to implement #1366 , an issue which is currently in research.
This is because glibc used syscalls are highly dependent on the glibc version.

[2020-08-17 09:37] s-hamann commented on #2044
@andreeaflorescu asked for the version, so I thought I'd update the info here ;)

Regarding the issue at hand: Is there anything (less-reliable) you can/will do about this? Maybe generating the list of required syscalls at compile-time, i.e. for the version of glibc that firecracker is built with? Is that possible?

If your course of action is limited to implementing #1366, I do not see the point

[2020-08-17 10:11] alindima commented on #2044
Thank you for the suggestions.

Currently, we decided there is nothing feasible we should do, apart from implementing #1366 . Regarding your suggestion of generating the whitelist at compile-time, this could actually break the intended behaviour of seccomp.
By whitelisting all of the syscalls Firecracker might need with glibc, we get a very large number of syscalls to whitelist, some of which Fire

[2020-08-17 11:00] s-hamann commented on #2044
Thank you for the information and the reasoning.

I would prefer using the glibc build simply because that is what I can easily install and update using the package manager on Gentoo. I already suggested packaging the official musl-builds (gentoo/gentoo#16219). Using someone else's binaries feels somewhat strange on Gentoo, but that seems to be the easiest solution here.

[2020-08-17 12:11] alindima commented on #2044
Thank you for the explanation, I see. I will close this issue for now.

[2020-08-17 12:11] #2044 closed

[2020-08-19 08:03] #1765 closed

[2020-08-19 15:17] acatangiu opened #2089 "[Dev] snapshot versioning: add warning comments to bump version when changing any Versionize struct"
Any time we change a `#[derive(Versionize)]` struct we need to bump the snapshot version. Recent experiences have shown that this is not obvious and can easily be missed in both dev and review.

Let's add a warning comment for each such structure to raise visibility on this subtle requirement. Something like:

[code]

[2020-08-19 15:59] sandreim commented on #2089
👍

The integration tests in PR #2067 will fail if this happens. But still, there are corner cases when the deserialization could be successful and garbage state would be loaded. However I believe, this is highly unlikely to happen.

[2020-08-19 18:52] tsk9 commented on #1933
If I setup a macvtap interface with the commands below
[code]
I get the following error from firecracker (`v0.22.0`)
[code]
The same configuration json with a equally named tap interface and a bridge setup works without an error.

It would be good if firecracker could support macvtap interfaces, because the network setup is simpler than a bridged one.

[2020-08-20 11:44] alindima commented on #745
Issue was fixed by PR #2061

[2020-08-20 11:44] #745 closed

[2020-08-20 11:59] dianpopa commented on #2032
Fixed by https://github.com/firecracker-microvm/kvm-ioctls/pull/7.

[2020-08-20 11:59] #2032 closed

[2020-08-24 08:28] AlexandruCihodaru opened #2093 "Handle signals"
Improve signal handlers to also handle signals like SIGXFSZ SIGPIPE and SIGLOS

[2020-08-26 12:08] acatangiu commented on #1997
To make this work we need to add support for dirty page tracking to `vm-memory`. Guest pages dirtied by the `firecracker` process (during device emulation for example) are not guaranteed to be caught/reported by KVM's dirty page tracking.

[2020-08-26 12:30] AlexandruCihodaru opened #2096 "Implement support for accept-encoding"
## Why is this feature request important?  What are the use cases?  Please describe.
Without this is possible that requests for accept-encoding are wrongfully parsed.

## Describe the desired solution

There should be added a handler for the accept-encoding request otherwise the request will be wrongfully parsed resulting in a undesired behavior.

## Describe possible alternatives

N\A

## Checks

[2020-08-26 20:17] dianpopa opened #2099 "[Bug] unhandled return result in device_manager/persist"
## Describe the bug

There are [errors](https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/device_manager/persist.rs#L212) inside the aforementioned file that do not get propagated to the upper level. They are hiding behind this [allow unused](https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/device_manager/persist.rs#L9).

[2020-08-27 08:35] #1976 closed

[2020-08-27 09:42] serban300 commented on #1408
Just wanted to mention a couple of very high-level points that might be worth taking into consideration here. I didn't create tasks since I don't have a detailed design.

### Modularity

A virtual net device is mostly an intermediary. It forwards Ethernet frames from the host or MMDS to the guest and vice-versa. If we consider its purpose and also take into account special cases where a frame can’

[2020-08-27 14:23] alindima opened #2102 "Disable jailer build for Glibc"
Currently, the jailer can be used only when Firecracker is linked with static musl, not with dynamic glibc.

The fact that the build command successfully builds the jailer with glibc is misleading and outputs jailer binaries that do not work with the corresponding Firecracker binary.

We should make sure that when we compile the source code, we only build the jailer if the specified toolchain is m

[2020-08-27 17:09] alexandermerritt opened #2104 "[Feature Request] Support build from private repositories"
## Why is this feature request important?  What are the use cases?  Please describe.

Firecracker currently pulls dependent crates from the public web via https:// (e.g., see all Cargo.toml files).

For folks who work on such dependencies to test new features or functionality and who are required to keep cloned repositories within corporate networks access-controlled via SSH, dependencies are spec

[2020-08-30 14:24] krishnakumar4a4 commented on #2102
Hi, after spending few hours on the analysis. Following options can possibly be ruled out:

- a 'build-only-for-target-abi=musl' like flag in Cargo.toml at crate level is not available.
- a custom build.rs at project level which can dynamically modify workspace dependencies is not available.
- Have also checked if we can place a build.rs at the root of jailer crate level that can skip building its

[2020-08-31 08:26] alindima commented on #2102
Hello. Thank you for the interest in this issue and for taking the time to investigate.

In regards to the last point you made, about the `build.rs` file for jailer, I think there may be an option. According to the [docs](https://doc.rust-lang.org/cargo/reference/build-scripts.html#life-cycle-of-a-build-script), if the build script returns an error code, the build process is halted.

We currently

[2020-08-31 11:35] dianpopa commented on #2102
Seems that there is no way of [specifying workspace members](https://github.com/rust-lang/cargo/issues/5220) based on platform.
What I see as the most elegant way of doing this is to add a `default_members = [src/firecracker]` in the root `Cargo.toml` and modify `devtool` to only build the jailer only for musl target. (you can use `cargo build -p jailer` for that).

[2020-08-31 12:29] acatangiu commented on #2102
I like that! `devtool` does the right thing for both `gnu` and `musl`, while manual building can be done as simple as:
[code]

[2020-08-31 15:48] #2099 closed

[2020-09-01 09:18] dianpopa commented on #2069
Fixed by #2078.

[2020-09-01 09:18] #2069 closed

[2020-09-01 09:35] dianpopa commented on #2004
Fixed. by #2056.

[2020-09-01 09:35] #2004 closed

[2020-09-01 12:08] sameo opened #2110 "[Bug] Jailer fails to set cpuset"
## Describe the bug

When running a binary through jailer, I'm getting the following error:

[code]

This is *not* a generic jailer issue, but one specific to the machine I'm running this test on. See the next section section.

## Environment

`Firecracker v0.21.0-480-g0fe299df`
`Host system: x86-64`

This is a 2 NUMA node machine, 72 cores:

[code]

Here come the interesting bits:

[code]

Then t

[2020-09-01 12:11] sameo commented on #2110
cc @alexandruag

[2020-09-01 13:52] #2093 closed

[2020-09-01 14:23] gc-plp commented on #2110
Hi @sameo

We plan on merging #2012 , which changes the behavior of the logic that you pointed out. Could you check if your usecase works with the changes provided in the PR?

[2020-09-02 06:04] sameo commented on #2110
iiuc https://github.com/firecracker-microvm/firecracker/pull/2012/files#diff-636ccd7e8fb64c33442e3c9d04519eadR131-R137 still does the same thing: Taking a NUMA node CPU list and directly applying it to the `cpuset.cpus` file. Is my understanding correct? If so, this won't fix the bug.

[2020-09-02 08:21] christian7007 commented on #2110
Hello @sameo, the aim of https://github.com/firecracker-microvm/firecracker/pull/2012 is to achieve more flexibility on how the jailer manage the cgroups, so the users can accommodate more specific use cases. For your specific case you could do something like below, instead of using the `--node` attribute (which AFAIK will be deprecated at some point):

[code]

or probably something like this:

[c

[2020-09-02 10:51] gc-plp commented on #2104
Hi @alexandermerritt.

Thank you for taking the time to research this. It's a very useful proposal.

We've prioritized it and will start looking into the usecases that you pointed out.

[2020-09-03 11:52] #1924 closed

[2020-09-03 13:18] acatangiu commented on #1859
Adding a bit more detail here:

In a case where the guest is paused by the hypervisor for a non-negligible period of time, that blackout period is seen by the guest as frozen/non-ticking CPUs. On resuming the VM, the guest soft-lockup watchdog might panic.

This ioctl makes KVM on the host set a special flag on the emulated/paravirtualized pv-clock. This flag is seen by the guest and tells the gue

[2020-09-04 05:37] sameo commented on #2110
Hey @christian7007. I am reporting that bug against jailer but I am seeing the issue when launching the Firecracker integration tests manually, where Firecracker is launched by jailer. I guess we'd have to fix those scripts to explicitly use the `--cgroup` argument.
I also believe that the command line:

[code]

should be the default behaviour when launching jailer without --cgroups arguments.

[2020-09-04 09:43] sandreim opened #2116 "[Bug] Firecracker exits before returning API response when loading an invalid snapshot."
## Describe the bug

Due to the current design, any failure on the vCPU resume path will cause Firecracker to exit before sending a response.

## To Reproduce

1. Create a snapshot that contains a corrupted vCPU state.
2. Load the snapshot.

## Expected behaviour

Firecracker should exit after returning API response.

## Environment

- Firecracker version: v0.23.

## Checks
- [x] Have you searched

[2020-09-04 10:49] christian7007 commented on #2110
In #2012, the tests are modified for testing both, `--node` and `--cgroup`. For the `--node` tests, it just check `/sys/devices/system/node/nodeX/cpulist` so probably this will keep failing for your case. Even knowing that, I think tests are OK as the current behavior of `--node` is to set the content of  `/sys/devices/system/node/nodeX/cpulist` in the corresponding `cpuset.cpus`. So the functiona

[2020-09-04 12:30] sandreim opened #2117 "Improve logger to include thread name (vcpu#/api/vmm)"
Multiple threads concurrently write the log file and the source of the logs is not obvious. If we add the thread id the logs would become more readable.

[2020-09-04 13:03] alindima commented on #2102
After extensive discussions in the team, we decided to go for the option mentioned above by @dianpopa and @acatangiu.
That is, adding the firecracker binary crate as the only default member of the workspace and modifying devtool to run the two build commands, in order build both binaries (`cargo build` and `cargo build --release`).
This would also imply an update in the `CHANGELOG.md`.

@krishnaku

[2020-09-04 13:07] krishnakumar4a4 commented on #2102
Sure @alindima , would work on it and come up with a PR on this. Will let you know in case I need help. Thanks.

[2020-09-06 00:51] Khalian opened #2119 "[Doc] Incorrect documentation for MMDS updates"
The section for updates in https://github.com/firecracker-microvm/firecracker/blob/master/docs/mmds/mmds-user-guide.md#inserting-and-updating-metadata

does not work.

I tried

[code]

And it successfully reports the mmds server's metadata. However when I try the example

[code]

I get

[code]

Either your example is malformed, or patching does not work.

[2020-09-06 01:16] Khalian commented on #2119
So I played around it a big more, save the metadata into a file like this

[code]

Saved it to a shell var like this

[code]

Then ran

[code]

[code]

I think the example or the patching mechanism is fundamentally broken. Its not just the json parsing. It seems to be the same case whether I have " around the json or not.

[2020-09-06 01:36] Khalian commented on #2119
Well it wasnt a bug. Just slightly incorrect documentation. https://github.com/firecracker-microvm/firecracker/pull/2120

[2020-09-06 01:58] Khalian commented on #2119
Can someone add a label just for documentation fixes/updates. Not everything is a feature or bug.

[2020-09-06 13:15] jdoss commented on #841
Are there any plans to support cgroups v2? I see there was a PR to add support for both v1 and v2 but it never got merged. :(

[2020-09-07 13:36] #1617 closed

[2020-09-07 13:36] #1937 closed

[2020-09-07 16:53] gc-plp opened #2123 "[Bug] Firecracker crashes when a malformed GET request is sent to the API server"
This issue was reported by Davide Berardi. Thank you for bringing this to our attention!

## Describe the bug

Firecracker crashes when a malformed GET request is sent to the API server.

## To Reproduce
1. Build the latest Firecracker binary and run `./firecracker --api-sock test.sock`
2. Run `perl -e 'print "GET none HTTP/1.1\r\n\r\n"' | nc -U test.sock`
3. Firecracker will crash:
[code]
## Expe

[2020-09-08 11:22] petreeftime commented on #1671
I disagree with the premise that software level entropy is bad, especially if it's a mixture of multiple hardware level sources. What exactly is the threat you're trying to defend against with only hardware level interfaces? The VM itself has no visibility of where the entropy comes from anyway.

[2020-09-08 13:17] #2077 closed

[2020-09-08 13:24] sandreim commented on #1850
Test suite completed by PR #2067.

[2020-09-08 13:24] #1850 closed

[2020-09-08 13:25] sandreim commented on #2075
Fixed by PR #2067

[2020-09-10 12:01] bbros-dev commented on #1671
OK. We're not assessing that topic. For others following this issue there is some context in the documentation issue #663

Especially then it wouldn't be software level.

I don't believe I ever suggested hardware only, just the opposite I believe.
The 'threat' is real and occurs now with VM's freezing waiting for entropy levels to rise.

True, but this issue and #663 concern the VM owner/operator,

[2020-09-11 09:10] dianpopa opened #2128 "[Bug] Differentiate between whitelisted ioctls parameters on x86_64 and aarch64"
## Describe the bug

At this moment, [we are not labelling the specific x86_64](https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/default_syscalls/mod.rs#L73) ioctl parameters (mainly used for the snaphot support).

[2020-09-11 09:20] alindima commented on #2128
Have a look at the seccomp auditing feature branch: https://github.com/firecracker-microvm/firecracker/blob/af888c7b55d253da254ad547c2ee5e4bbfb5166c/src/vmm/src/default_syscalls/mod.rs#L51
It should be merged in mainline after the necessary testing.

[2020-09-11 09:46] dianpopa commented on #2128
Cool, thanks for the reference! We should add a "Fixes #2128" when merging the functionality in mainline.

[2020-09-11 10:45] serban300 opened #2129 "Investigate snapshot restore performance on host kernel >= 5.4"
The snapshot restore operation is slower on AMD than on Intel.

We should investigate why and either fix the root cause or change the `test_snapshot_resume_latency` test in order to check different values for AMD and Intel.

[2020-09-11 10:57] serban300 opened #2130 "make CPUID templates vendor dependent"
For the moment we have 2 CPUID templates: T2 and C3. They are both Intel-specific.

We have to store this information and validate it when applying a template. We shouldn't be able to apply Intel templates on AMD or vice-versa.

[2020-09-11 11:03] dianpopa opened #2131 "[CI on arm] Switch to m6g metal instances"
We are currently running our CI on a1.metal arm instances. Switch to using the latest Graviton processor-enabled instances (m6g).

[2020-09-11 12:50] alindima commented on #2128
Sure, I will do that. However, can this be considered a bug? I think it's more of an improvement

[2020-09-11 14:23] serban300 commented on #2129
This seems to be related to the host kernel version. On `5.4` I'm getting restore times that revolve around 30ms. On `4.19` I'm getting restore times that revolve around 4 ms.

[2020-09-11 14:37] serban300 commented on #2027
There are big differences depending on the host kernel version. For example on an AMD Ryzen 1700X host, for a VM with 2vCPUs and 256Mb memory I'm getting 30ms restore time on `host kernel 5.4` vs 4ms on `host kernel 4.19`.

[2020-09-11 17:34] serban300 commented on #2129
On host kernel `5.4` looks like the difference between 4ms and 30ms is caused by the jailer.

[2020-09-12 13:24] serban300 commented on #2129
On host kernel `5.4` the problem seems to be caused by the cgroups. When I start jailer without applying the cgroups the overhead disappears.

[2020-09-14 14:24] serban300 commented on #2129
The entire overhead comes from the `KVM_CREATE_VM` ioctl:

When running within the jailer cgroup:
[code]

When running without cgroups:
[code]

The difference is about `27ms`.

[2020-09-15 08:27] alindima commented on #1022
I have done a small investigation to see whether there is significant space for improvement in regards to seccomp ordering.

The measurements were done by attaching an `strace` process to each jailer pid, on Firecracker’s CI test suite (using the -c and -f flags). This results in a big list of files, where each of them contains a statistic on the nr of syscalls issued by that FC process and the to

[2020-09-15 08:37] alindima commented on #2102
Fixed by https://github.com/firecracker-microvm/firecracker/pull/2125

[2020-09-15 08:37] #2102 closed

[2020-09-15 11:41] serban300 commented on #2129
For the moment I traced the overhead to the `kvm_arch_post_init_vm()` function in the host kernel. I will dig deeper.

[2020-09-15 21:05] jeromegn commented on #222
We're still seeing this in our setup. Running a pretty recent firecracker version. Not sure why. I think it cropped up when we upgraded the kernel of our microvms.

[2020-09-16 05:40] sandreim commented on #222
Hi @jeromegn. Thanks for bringing this up. I am not sure if this is a regression or a different issue. Can you provide more details about your usecase and reproduction steps ?

[2020-09-16 11:46] jeromegn commented on #222
It seems to only happen on our AMD servers. Specifically these models:
- AMD EPYC 7502P 32-Core
- AMD EPYC 7402P 24-Core

Below, the details of one occurrence of the issue.

[code]

[code]

**Guest CPU**:

[code]

**Host CPU**:

[code]

**Firecracker version**: v0.21.2

[2020-09-16 13:18] serban300 commented on #222
@jeromegn could you also specify what version of linux kernel are you using ? Both on the guest and on the host ? Thanks !

[2020-09-16 13:42] pclesr opened #2139 "Huge page support for guest memory"
## Why is this feature request important?  What are the use cases?  Please describe.

Page faulting can increase startup time. In the development of Nitro Hypervisor support for arm, supporting huge pages for guest memory made the difference between hitting the target SPEC numbers and not. Since there was no hugepage fs in Nitro Hypervisor, the only alternative was to make the kernel support huge

[2020-09-16 23:54] jeromegn commented on #222
On this particular host: `5.6.0-050600-generic`, the guest is `4.19.129` built with a default config with these changes:

[code]

[2020-09-17 12:36] serban300 commented on #222
It looks like `KVM_GET_SUPPORTED_CPUID` returns a cpuid that contains the `0xb` leaf on AMD, even though this is an Intel-specific leaf. It looks like a kernel bug, but I am not sure. I have to do some more research.

@jeromegn Would it be acceptable for you to use a different host or guest kernel version ? I am not sure which one is the first release that fixes the issue. Also could you try [this

[2020-09-18 04:06] HQ01 commented on #2117
interested to help out!

[2020-09-18 04:07] HQ01 commented on #2089
Interested to help out!

[2020-09-18 04:07] HQ01 commented on #1048
Interested to help out!

[2020-09-18 04:10] HQ01 commented on #2015
Interested to help out!

[2020-09-18 13:08] sandreim commented on #2117
Hey @HQ01! Thank you for your interest in contributing to Firecracker.

I will try to summarize some next steps to get you started:
- Dive deep the Firecracker `logger` crate  which  provides an implementation for the API abstraction by the [log crate](https://crates.io/crates/log)
- Change the code so the log prefix also include thread ids. It should live in `Logger::create_prefix(&self, record:

[2020-09-18 13:14] alindima opened #2141 "Libseccomp investigation"
Firecracker is using its own implementation of a BPF compilation tool, that is used for both generating and installing the seccomp filters.

There are other seccomp-bpf libraries out there, the most widely-used one being [libseccomp](https://github.com/seccomp/libseccomp), which has a C interface. There are libseccomp bindings for multiple languages and we should conduct an investigation to see wh

[2020-09-18 16:47] rpaul98 commented on #2130
Hi, @edengarza, @amaniduncker, and I are students at UT and are looking to contribute to an open source project for our virtualization class. We were wondering if we could get assigned to this issue.

Thanks!

[2020-09-18 16:47] rpaul98 commented on #1972
Hi, @edengarza, @amaniduncker, and I are students at UT and are looking to contribute to an open source project for our virtualization class. We were wondering if we could get assigned to this issue.

Thanks!

[2020-09-18 17:05] jeromegn commented on #750
We're also interested by this. For now we're just setting a bigger TX queue on our tap interfaces.

[2020-09-18 17:39] jeromegn commented on #222
I upgraded the guest kernel to 4.19.146 and the Firmware bug is gone. I'm not entirely sure which version fixes it though.

[2020-09-18 19:06] raduweiss commented on #737
Updating title/description to better reflect the path we're taking here.

[2020-09-18 19:37] raduweiss opened #2142 "[Snaps] Incremental (diff) snapshots"
The ability to create a microVM snapshot is compelling for serverless use cases. It’s also a feature ask from users.

This item tracks the capability of creating incremental (diff) snapshots. Firecracker will still only restore full snapshots, so users will need to merge incremental snapshots externally (we will provide documentation & example tooling).

[2020-09-19 00:36] HQ01 commented on #1683
Interested to help out!

[2020-09-19 21:19] kevtheappdev commented on #607
Hi! Is there still work to be done in this area? Interested in helping out!

[2020-09-20 18:38] WilliamGrossKC commented on #649
Hi, I was wondering if I could be assigned this issue.

[2020-09-20 22:21] raduweiss opened #2143 "[Devel] Firecracker release improvements bundle 2"
Included:
- [x] Sign Firecracker release artifacts;
- [x] Automate the releases process.

[2020-09-20 22:41] raduweiss commented on #1994
Hi @bbros-dev . We've missed this. Apologies!

Indeed, right now our CI/CD is not publicly visible. I think this is mostly came about because we were working on Firecracker as a private repo for about a year before open sourcing it, and dealing with external CI providers at that time was tricky.

We're currently looking at moving to Buildkite, and we can definitely think about taking PRs for other

[2020-09-20 22:48] raduweiss opened #2144 "[Devel] Prevent performance regressions via automated periodic performance tests"

[2020-09-20 22:54] bbros-dev commented on #1994
Great news - lowers the hurdle for devs to runs tests on any changes they make.

No just acknowledging that even using an open CI/CD service, it still may be necessary to skip the integration tests.

We're still mystified by what broke the test linked to in #1995, working that out is a huge, avoidable, time sink.

Seeing the test suite status marked green when there was a failing test meant we los

[2020-09-21 01:51] pkj415 commented on #363
Interested in working on this to ramp up on Firecracker! (Just some context - I am a graduate student at UT trying to know more about Firecracker and will be working with Xiang Gu).

Does commenting here implicitly mean this issue gets assigned to me?

[2020-09-21 08:36] serban300 commented on #2130
Hi ! Thanks for the interest in firecracker ! For this specific issue, There is already a PR under review. Sorry ! But if you're interested about other issues, we would be happy to accept contributions. In general the issues that are marked with the "Good first issue" or "Good first contribution" tag would be recommended.

[2020-09-21 09:33] serban300 commented on #1048
Hi @HQ01 ! Thanks for the interest in Firecracker ! I saw you posted on multiple issues. All seem available. I would recommend to chose one that is marked with the "Good first issue" tag as a starting point. Please let us know which one you prefer and depending on the issue we can discuss next steps.

[2020-09-21 15:10] tsk9 commented on #1292
Does anyone know why PR #1367 was closed without comment? I like to see the feature implemented to be able to use files for both config and metadata to avoid the interaction with the API server.

[2020-09-21 23:02] rpaul98 commented on #1564
Hi, @edengarza, @amaniduncker, and I are students at UT and are looking to contribute to an open source project for our virtualization class. We were wondering if we could get assigned to this issue.

Thanks!

[2020-09-21 23:13] rpaul98 commented on #342
Hi, @edengarza, @amaniduncker, and I are students at UT and are looking to contribute to an open source project for our virtualization class. We were wondering if we could get assigned to this issue.

Thanks!

[2020-09-22 05:15] serban300 commented on #342
Hi ! Sure. I have assigned you to the issue. Here the requirement is to extend [test_cpu_template](https://github.com/firecracker-microvm/firecracker/blob/3bf285c8f8a815149923c562dd7edaffcaf10c4e/tests/integration_tests/functional/test_cpu_features.py#L281) in order to test all the features that are set as part of the [C3 or T2 templates](https://github.com/firecracker-microvm/firecracker/tree/mas

[2020-09-22 05:19] serban300 commented on #1564
Hi ! Sure, I assigned you to the issue. Please let us know if you need any help here.

[2020-09-22 10:18] serban300 commented on #1292
Hi @tsk9 ! I'm not sure why the PR was closed, but your use case definitely makes sense. I see the PR can't be reopened, but we'll create a new one.

[2020-09-22 12:20] alindima commented on #2141
Libseccomp's license (GPL v2.1) is incompatible with Firecracker's license (Apache 2.0). Because of this, I will close this issue.

[2020-09-22 12:20] #2141 closed

[2020-09-22 13:54] #2130 closed

[2020-09-22 15:32] serban300 commented on #1164
I've been experimenting a bit with this issue, trying to add `unsafe {libc::_exit(0)};` at different places during the vm startup process in order to compare the shutting down overhead.

Adding `unsafe {libc::_exit(0)};` before `setup_interrupt_controller(&mut vm)?;` leads to almost no overhead:
[code]

Adding `unsafe {libc::_exit(0)};` after `setup_interrupt_controller(&mut vm)?;` leads to an ove

[2020-09-22 20:16] HQ01 commented on #1048
Hi @serban300, thanks for the reply! To provide you with more context, we are 4 students in UT Austin's virtualization class, and look forward to contributing to an open-source project as part of our coursework -- Firecracker really attracts us as an exciting project to work on :) We will start from relatively simple issues, but hopefully we can fix them all one by one. Any pointer to documentatio

[2020-09-22 20:18] HQ01 commented on #2117
Hi @sandreim, thanks for the information! To provide you with more context, we are 4 students in UT Austin's virtualization class, and look forward to contributing to an open-source project as part of our coursework -- Firecracker really attracts us as an exciting project to work on :) We will start from relatively simple issues, but hopefully we can fix them all one by one. Will keep you posted a

[2020-09-23 11:52] #2123 closed

[2020-09-23 14:59] serban300 commented on #2129
Looks like the overhead was introduced by [this](https://lore.kernel.org/lkml/20190719140000.31694-9-juri.lelli@redhat.com/) kernel patch.

More specifically these 2 commits:

[sched/core: Prevent race condition between cpuset and __sched_setscheduler()](https://github.com/torvalds/linux/commit/710da3c8ea7dfbd327920afd3831d8c82c42789d)
[cgroup/cpuset: Convert cpuset_mutex to percpu_rwsem](https://

[2020-09-23 15:45] pclesr commented on #2139
As an additional data point, when running on a two core A57, putting the kernel image and initrd into a hugetlb filesystem resulted in a 20% improvement. When running 'perf -ag' and looking at where the time is being spent, it was no longer spending all of it's time faulting from devices::virtio::block::device::Block::process_queue. It still spends a lot of time handling faults from process_queue(

[2020-09-23 16:38] georgepisaltu commented on #1292
Hi @tsk9 ! I have opened a new PR and will try to gather feedback on this one while I work on it. Let me know if it fits your use case.

https://github.com/firecracker-microvm/firecracker/pull/2145

[2020-09-23 21:34] tsk9 commented on #1292
Hello @georgepisaltu, thanks for creating the PR #2145. This will perfectly match my use case loading both config and metadata from JSON files. I guess that the mmds listen address is not configurable? No issue in my case, because it will default to `169.254.169.254` which is what `cloud-init` expects.

[2020-09-24 10:37] serban300 commented on #2129
Actually, to be even more specific, looks like the overhead was introduced only by the following commit:
[cgroup/cpuset: Convert cpuset_mutex to percpu_rwsem](https://github.com/torvalds/linux/commit/1243dc518c9da467da6635313a2dbb41b8ffc275)

I tried to use `cpuset_mutex` instead of `percpu_rwsem` and the overhead disappears.

[2020-09-24 20:32] GeorgeLS commented on #2063
Hello, I'm keen in systems programming and I would like to contribute to Firecracker.
Also, this is my first try in open source.
I read the documentation and the code about versioning control in firecracker but it's not clear to me what we would like to achieve here.
Is there a defined set of versions that Firecracker supports or we would like to persist all the snapshot versions that the user has

[2020-09-24 20:39] GeorgeLS commented on #2023
Hello, I would like to work on this one.
Feel free to assign it one me.

[2020-09-25 09:12] sandreim commented on #2129
The issue is reproducible on Intel/AMD.

[2020-09-28 08:13] serban300 commented on #2129
Just a quick update. I stumbled upon some documentation. Looks like this is how a `percpu_rwsem` is supposed to work. Quoting from https://github.com/torvalds/linux/blob/master/Documentation/locking/percpu-rw-semaphore.rst

[2020-09-29 12:57] serban300 commented on #2129
I managed to reproduce the issue with this simple rust executable:

[code]

and this small script that emulates what jailer does:

[code]

Note that if we don't add the extra thread:
[code]
The issue doesn't reproduce.

[2020-09-30 10:24] sandreim opened #2150 "[Doc] Add snapshot performance section in documentation"
The snapshot create/resume timings must be documented for all supported platforms. There are multiple variables that influence these timings: memory size, vcpu count, device count, host kernel/config and host load.  All of them need to be covered in the documentation with measurements across a discrete set of sandbox sizes.

[2020-10-01 11:26] ktmlm opened #2152 "[Feature Request] Can firecracker run on host with kernel-5.4.x?"
# This issue is very simple.

# **Can firecracker run on host with kernel-5.4.x?**

I do NOT need you to resolve any problems for me.

Just tell me `can run` OR `can NOT run`, thanks.

[2020-10-01 11:34] ktmlm commented on #2152
#### below is the results of my tests:

- [Normal] CentOS-8.x, kernel 4.18.x
- [Crash] Alpine-3.12.x, kernel 5.4.x
- [Crash] Ubuntu-2004, kernel 5.4.x
- [Crash] Gentoo-17.1, kernel 5.4.x
- [Normal] Gentoo-17.1, kernel 4.19.x (custom)

[2020-10-01 11:48] acatangiu commented on #2152
Hi @ktmlm, while we don't test with all kernel versions, we're also not aware of any blockers in using newer kernel versions.

Can you share the boot log (serial console output) for the tests that crash?

[2020-10-01 12:25] ktmlm commented on #2152
@acatangiu thanks for your reply, this is the output on `Ubuntu 2004(Linux 5.4.0-48-generic x86_64)`:

[code]

[2020-10-01 12:45] sandreim commented on #2152
Seems to be similar to: #2044

[2020-10-01 13:32] ktmlm commented on #2152
@sandreim OK, that's it. thanks

[2020-10-01 13:32] #2152 closed

[2020-10-01 13:53] #2096 closed

[2020-10-02 12:30] sandreim opened #2153 "Refactor the vsock device to use the GuestMemory Bytes methods instead of slices."
After refactoring we need to remove all slice methods implemented in our local backend in vm-memory/mmap.rs.

[2020-10-02 13:54] sandreim opened #2154 "Replace Polly with rust-vmm/event-manager"

[2020-10-04 04:18] vbmade2000 commented on #478
@andreeaflorescu Referring to [machine_configuration](https://github.com/andreeaflorescu/firecracker/blob/master/src/api_server/src/request/machine_configuration.rs), **parse_get_machine_config** calls **METRICS.get_api_requests.machine_cfg_count.inc();**. Should /mmds GET use same ?

[2020-10-05 10:01] iulianbarbu commented on #2139
Hi, @pclesr ! Sorry for the delay and thanks for logging this feature request. We are definitely interested in exposing such capabilities. We're currently using the guest memory primitives from [rust-vmm/vm-memory](https://github.com/rust-vmm/vm-memory). We need to contribute there first with huge pages support and release a new vm-memory version which can be consumed by Firecracker.

I've opened

[2020-10-05 12:39] sandreim opened #2155 "Add AMD specifc snapshot magic id."

[2020-10-05 14:12] iulianbarbu commented on #2110
@sameo , have you ran the integration tests on latest master? I've looked within the testing framework and we do not confine the jailer to a specific numa node or cpuset.cpus/mems [1, 2, 3]. At the same time the jailer does not confine the Firecracker process if not told so - `node` [4] and `cgroup` [5] args are optional, so you should be able to run the integration tests on your specific machine

[2020-10-06 06:24] andreeaflorescu commented on #478
@vbmade2000 you should define new entries for `MMDS` if they do not exist yet. `machine_cfg_*` metrics refer to `/machine-config`. So we would need ones under `METRICS.get_api_requests` for MMDS as well.

[2020-10-06 08:40] vbmade2000 commented on #478
I understand that. I think I asked wrong question. Anyways I found **MmdsMetrics** struct at https://github.com/andreeaflorescu/firecracker/blob/master/src/logger/src/metrics.rs#L230.  Can it be used ?

My assumption is it can't be used as by names it seems they are not defined to count number of GET requests etc.

[2020-10-06 10:01] andreeaflorescu commented on #478
No, that is not the right structure. The `MmdsMetrics` structure that you found contains metrics related to the internal functionality of the MMDS device, and not related to the API.

The type of `METRICS.get_api_requests` is `GetRequestsMetrics`. If you look at the [definition](https://github.com/andreeaflorescu/firecracker/blob/803c8fae14b1194ba103cf7f0ce817376bf9dfc4/src/logger/src/metrics.rs#L

[2020-10-06 11:09] vbmade2000 commented on #478
Indeed it does. I will go in that direction.

[2020-10-06 12:29] serban300 commented on #2129
When a writer requests access to some shared data, the RCU schedules it on a queue and then waits for at least one so-called "grace-period" to pass. A grace period is a period in witch the RCU waits for all the previously acquired read locks to be released. A grace period ends after all the CPUs go through a quiescent state. Grace periods can be quite long.

When we start the process (`echo $$ > /

[2020-10-06 12:51] serban300 opened #2159 "Run snapshot performance tests on AMD"
Right now the snapshot performance tests are disabled on AMD because of #2129

We can work around this issue by using kernel < 5.4 on the CI instance

[2020-10-06 13:53] gc-plp opened #2161 "Freeze devtool pip package versions"
## Describe the bug

The devtool containers that we currently build are not reproducible.

If we build the container at one point in time and rebuild it after a period of time when the packages receive new updates, we may get a different container.

## Expected behaviour

The pip packages in devtool should contain fixed versions.

[2020-10-07 06:47] alindima commented on #2161
I think the issue originated from this: when modifying the dockerfile and creating a new image tag, you may also update pip packages to their latest versions, without knowing it.
This can result in breaking changes, similar to one we recently had: a new version of pylint complained about some uses of `super()` that we had to modify in order to make the integration test pass. See [this commit](http

[2020-10-07 12:42] dianpopa commented on #2159
Fixed by #2162

[2020-10-07 12:42] #2159 closed

[2020-10-07 12:46] #2131 closed

[2020-10-07 13:56] dianpopa opened #2165 "[Bug] Return error if user wants to configure CPU templates for aarch64"
## Describe the bug

Firecracker offers users the possibility of configuring the CPU features exposed by the guest by applying C3 and T2 templates. On aarch64, this functionality is not supported yet. However, trying to specify a cpu template through the API on aarch64 is possible even though it has no consequences.

## To Reproduce

` 1. Start Firecracker on an aarch64 via ./build/cargo_target/aa

[2020-10-07 17:22] dianpopa opened #2167 "[ARM] Intermittent fail for signal_handler::tests::test_signal_handler"
Unit test `signal_handler::tests::test_signal_handler` might seem to fail intermittently on aarch64. See https://firecracker-pr.s3.amazonaws.com/pr-logs/aarch64/02090/dianpopa-firecracker-bfdbde4.log.html.

[2020-10-08 06:56] #222 closed

[2020-10-08 20:25] raduweiss commented on #2104
Just a quick update here. @alexandermerritt , do you think you can open a draft PR with your proposed changes? That way we can discuss on the specifics of the proposal. I personally think it's a good idea (but will need to get the team's input on the implications/implementation).

[2020-10-08 20:30] raduweiss commented on #1994
@bbros-dev , looks like there's a few different issues packed in here. I've tried to group them below. Personally, these all sound like good high-level ideas and the best way to move forward would be to open a PR and get down to the details. If we get one or two of these in we can probably even write a useful doc for how people can contribute more.

### Transparency for how the master branch requi

[2020-10-08 21:21] bbros-dev commented on #1994
Agreed.  Right now we are setting up Drone based custom/private CI/CD (self-hosted) that might be useful here.   It is a different workflow (CI/CD is run before a PR is issued) that envisions having some other CI/CD tooling. We'll know how mcuh might be useful here once we have the kinks ironed out.

Happy for you to close #1995 if you think your changes covered that.

I don't think anyone would o

[2020-10-09 20:25] ahmedaabouzied commented on #2165
I can work on that.

[2020-10-12 09:16] dianpopa commented on #2165
Cool, I will assign you to this issue.
For the implementation, you can follow the example of "SendCtrlAltDel" api request:https://github.com/firecracker-microvm/firecracker/blob/master/src/api_server/src/request/actions.rs#L41.

If you encounter obstacles contact us on our [slack channel](https://github.com/firecracker-microvm/firecracker/blob/94b2313646a1a8676e35fe7580623f450bee9a45/README.md#faq

[2020-10-12 14:26] pclesr opened #2172 "Virtio block flush (VIRTIO_BLK_T_FLUSH) not syncing data to host"
## Describe the bug

It appears that a sync on an ext4 file in the guest does not result in the data on the host also being sync'd out to disk.

## To Reproduce
Using the file tester `fio` with the following config file:
[code]

When running this on the host to establish a baseline and running the linux `perf` utility (with call graphs enabled), one sees on an ancient (android) 4.14 kernel many ca

[2020-10-12 14:38] sandreim commented on #2172
Thanks for logging this @pclesr . We'll take a deeper look and let you know our findings.

[2020-10-12 14:51] pclesr commented on #2172
metrics showing flush received:
[code]

[2020-10-12 18:52] bzld commented on #2172
It seems calling `file.flush()` does not provide the expected guarantees while `file.sync_all()` would indicate the host system to really flush its disk caches, see analog ticket here:
https://github.com/cloud-hypervisor/cloud-hypervisor/issues/399

[2020-10-12 22:46] bbros-dev opened #2173 "Inconsistent error reporting across devices."
## Describe the bug

Per RFC issue #1866 / PR #1883:

and

## To Reproduce

Issue is identified per @iulianbarbu comments in  PR #1883

## Expected behaviour

Consistent error behaviour

## Environment

- Firecracker version.

[code]
- Host and kernel version.
[code]

- Rootfs used: Not relevant
- Architecture: ` x86_64`

## Additional context

**How has this bug affected you?** Consuming Firecrac

[2020-10-12 23:04] bbros-dev opened #2174 "Align MMDS configuration and MMDS operation device requirements"
## Describe the bug

Per RFC issue #1866 / PR #1883:

and

## To Reproduce

Issue is identified per @iulianbarbu comments in PR #1883

## Expected behaviour

Configuring MMDS for a uVM without a network device should return an error to the effect that MMDS **operation** requires a network device.

## Environment

- Firecracker version.

[code]
- Host and kernel version.
[code]

- Rootfs used: Not

[2020-10-13 07:49] iulianbarbu commented on #2173
Thanks for logging the issue!

I've dived deep more into the issue and it seems that we propagate the errors as an HTTP response for `network-interfaces/{id}` as well, rather than considering them as a no-op. Sorry for the confusion.

My misunderstanding came from the fact that we have two levels of error propagation:
1. First level is represented by primitives which execute the core of a `VmmActi

[2020-10-13 08:25] sandreim commented on #2174
Thanks for logging this @bbros-dev . We need to discuss this further about  how/when we report the error or if any API changes make sense and help.

[2020-10-13 08:34] sandreim commented on #2172
Thanks @bzld. I am not sure we need to call fsync() at all in the current block device emulation, since the file is opened with O_SYNC this implies that each write returns after data has been sent to the underlying hardware just like a write()+ fsync().

[2020-10-13 12:06] bzld commented on #2172
@sandreim Yes, `O_SYNC` would do the same trick - but is the disk file really opened that way? I can't see it here: https://github.com/firecracker-microvm/firecracker/blob/d9d00ec7c20eb0aa8f5ab219982519054c154f22/src/devices/src/virtio/block/device.rs#L42-L45

(Also, using `fsync()` might be faster than `O_SYNC` because the guest VM can better control which writes must be flushed to disk and which

[2020-10-13 15:15] iulianbarbu opened #2175 "[Bug] Network device `rx_fails` metric is incremented on TX path"
## Describe the bug

At [this](https://github.com/firecracker-microvm/firecracker/blob/d9d00ec7c20eb0aa8f5ab219982519054c154f22/src/devices/src/virtio/net/device.rs#L577) line inside `process_tx` function, in response to an error of reading from the guest memory, to fill the tx_buffer, we increment `rx_fails` metric in the stead of `tx_fails` metric.

## To Reproduce

N/A

## Expected behaviour

T

[2020-10-14 01:49] namespaceXP opened #2176 "Problem on block device rate-limiting"
I'm interested in I/O throttling. While testing the rate-limiter on block device, I use the following setting to set the average iops to 3000:

"rate_limiter": {
  "ops": {
    "size": 3000,
    "one_time_burst": 0,
    "refill_time": 1000
    }
}

And use fio for testing the iops:

`fio -rw=randwrite -ioengine=libaio -bs=4k -size=10G -numjobs=1 -runtime=1000 -group_reporting -filename=iotest -nam

[2020-10-14 09:08] pclesr commented on #2172
Using the 'big hammer' approach does force the data out -- using `fsync` instead of `flush` I can now see the sync calls being executed on the host and the bandwidth reported by `fio` in the VM is much more in line with the underlying hardware.
[code]

Using `perf` on the host shows the following when the `fio` test is running in the VM. Before the change, I saw no sync calls on the host.
[code]

[2020-10-14 09:38] sandreim opened #2177 "Firecracker serial console emulation may allocate an unbounded amount of memory"
We have identified an issue in the Firecracker serial console emulation of all Firecracker versions up to v0.21.2 and Firecracker v0.22.0

### Issue Description

The Firecracker implementation of the serial console emulation allows buffering of an unlimited number of bytes when data is written to the Firecracker process standard input at a high rate.

### Impact

Firecracker customers that forward

[2020-10-14 10:24] raduiliescu commented on #2176
Before diving deep on the configuration, what performance number do you get without rate-limiter?

[2020-10-14 11:24] alindima commented on #2172
Thanks everyone for following up on this.
After giving the issue a little bit more thought and investigating it a little further, here are the conclusions:

- As @bzld pointed out, indeed, the backing file is not opened in `O_SYNC` mode. Enabling this would work, but would likely have a serious performance impact, essentially bypassing all buffering mechanisms.
- The supposedly "big hammer" approa

[2020-10-14 11:25] namespaceXP commented on #2176
The average IOPS without rate limiter is about 56000.

[2020-10-14 11:34] pclesr commented on #2172
Hello @alindima , yes I can submit a PR. I am working on a slightly cleaner implementation that would keep the existing flush in place so that any buffered data would be sent to the page cache before the sync.

I don't know if that is really necessary, though. My knowledge of how the Rust library buffers data is non-existent.

I will have something ready in a day or two. Thank you very much for lo

[2020-10-14 11:52] acatangiu commented on #2172
@pclesr I'm confident that your [proposed patch](https://github.com/firecracker-microvm/firecracker/issues/2172#issuecomment-708268678) is the complete and correct solution (in terms of `VIRTIO_BLK_T_FLUSH` operation)

The data is already being sent to the page cache as part of previous `write()`s. The `.flush()` currently present in our code is actually no-op in the Rust Linux std::File [implemen

[2020-10-14 12:08] pclesr commented on #2172
@acatangiu -- let me run through the steps for contributing in tests/README and I will put together the pull request.

The reason it takes time is that I have to compile/test for my arm target on a Qemu cross environment (arm64VM running on an x86) because my current employer doesn't provide me access to a spiffy AWS Annapurna VM. :-(

[2020-10-14 12:56] acatangiu commented on #2172
I don't see how/why this change would be in any way arch-specific. IMHO it would be fine to just post the PR and take advantage of our automated CI that also runs on aarch64.

You can add an integration test (see our `tests` dir) that fails without the fix and passes with, that you can develop on x86_64. That test will also run on aarch64 in our CI.

[2020-10-14 13:03] acatangiu commented on #2172
Also, thanks for the find and the fix! Good catch!

[2020-10-14 14:58] sandreim opened #2181 "Investigate and fix the serial login integration test"
There is a bug in how the stdout of a microvm running is screen is processed in `tests/framework/state_machine.py`. This can result in intermittent failures.

A fix is available here along with other improvements related to screen logging: The fix is available here: https://github.com/sandreim/firecracker/tree/fix-v0.21.3-serial-login

[2020-10-14 15:08] lauralt opened #2182 "run cargo audit with --deny-warnings enabled"
Without adding this flag, breaking changes related to cargo audit (which may turn into errors in time, see [this thread](https://github.com/RustSec/advisory-db/issues/414#issuecomment-708306092)) won't be caught by `test_sec_audit.py` because we are not passing  `--deny-warnings` flag to `cargo audit`. By passing the flag, the test will fail because of the warning that will be emitted when such ch

[2020-10-15 07:23] pclesr commented on #2172
Created pull request https://github.com/firecracker-microvm/firecracker/pull/2185

[2020-10-15 12:16] dianpopa opened #2187 "Remove sysconf crate dependency"
## Describe the bug

Given that we strive to keep the number of dependencies to a minimum, it seems that sysconf crate is an easy candidate as far as minimizing Firecracker dependencies. The `sysconf` crate is used to obtain the size of a page on the host with `sysconf::page::pagesize();` This dependency could be easily replaced with `libc::sysconf()`.

After issue is solved, check if Cargo.lock s

[2020-10-15 14:14] alindima opened #2188 "Log errors for block device close()"
The file backing Firecracker's block device, like any other rust `File` is closed when going out of scope or when calling `drop` on the `File`, without any error handling: https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/fd.rs#L284.

This may be a design flaw of rust's `File` struct, since the linux man page states that:

One thing we can do to ensure that the subsequent `clo

[2020-10-15 16:43] pclesr commented on #2172
The virtio device advertises `VIRTIO_BLK_F_FLUSH`, which tells the guest that it supports flushing the cache to physical medium. That slows down boot time, since there can be some number of flushes (6 on a 5.7 arm64 guest) so the conclusion in PR https://github.com/firecracker-microvm/firecracker/pull/2185 was not to accept the update.

Removing `VIRTIO_BLK_F_FLUSH` from the features advertised by

[2020-10-15 17:15] iulianbarbu opened #2189 "Firecracker lacks documentation around metrics format"
There is no public metrics format documentation, with description for each metrics fields Firecracker dumps and their meaning.

[2020-10-16 10:06] sandreim opened #2193 "Potential race condition during Pause/CreateSnapshot sequence"
Looking at the implementation of Firecracker's snapshot functionality, the events happen in the following order:
- Pause Vcpus (VMM thread is still running and can process a Block request - for example a write to disk)
- At this point the Firecracker customers can copy the block device files to a new location; This is where the race condition can happen because the write request is still in transi

[2020-10-19 08:41] sandreim opened #2198 "[devtool] Use separate toolchain as cargo audit dependency."
Currently we use the same toolchain to build cargo audit and Firecracker.  This indirectly prompts Firecracker toolchain updates whenever cargo audit db breaks compatibility and the new audit version depends on a newer toolchain.

[2020-10-19 13:31] bzld commented on #2172
Removing the `VIRTIO_BLK_F_FLUSH` flag in the current implementation might be correct according to the virtio spec section 5.2.6.2 (https://docs.oasis-open.org/virtio/virtio/v1.1/csprd01/virtio-v1.1-csprd01.html#x1-2520002):

Also, offering `VIRTIO_BLK_F_CONFIG_WCE` is disallowed if `VIRTIO_BLK_F_FLUSH` cannot be offered (section 5.2.5.2):

So the simple, correct fix would be to just not offer `VI

[2020-10-19 13:41] olehdevua opened #2201 "[Bug] Cannot load kernel due to invalid memory configuration or invalid kernel image. Invalid ELF magic number"
## Describe the bug

Firecracker can't start vm from an image pointed in [tutorial](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md)

## To Reproduce

Go through first 3 steps from [Running Firecracker tutorial](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md#running-firecracker)

I receive next output:

[code]

## Expec

[2020-10-19 14:13] olehdevua commented on #2201
When I try to start `firecracker` with config file, I have similar result

[code]

[code]

[2020-10-19 14:15] aghecenco commented on #2201
Hi @olehdevua! Looks like there are 2 different issues here -
1. Firecracker reporting the stock kernel as being invalid
1. `/dev/kvm` not found on the host

The latter is causing the panic. Can you please check if you have `/dev/kvm` and access to it? Also, can you please paste the output of `tools/devtool checkenv` (from the `firecracker` directory)?

[2020-10-19 14:34] aghecenco commented on #2201
@olehdevua I tried out [Firecracker v0.22.1](https://github.com/firecracker-microvm/firecracker/releases/tag/v0.22.1) with [the stock kernel](https://s3.amazonaws.com/spec.ccfc.min/img/hello/kernel/hello-vmlinux.bin) too and I'm not seeing the error you reported. Maybe the kernel file you're trying to run got corrupted? Can you check its md5 against the one in s3? Posting it here for comparison:
[

[2020-10-19 14:50] olehdevua commented on #2201
@aghecenco
Yes, `kvm` was not enabled. I forgot to do it after I bought new PC. Sorry.
Now everything is ok.
Thanks

[2020-10-19 14:50] #2201 closed

[2020-10-19 16:30] aghecenco commented on #2182
Blocked since https://github.com/firecracker-microvm/versionize/pull/23 (included in [`versionize` v0.1.4](https://github.com/firecracker-microvm/versionize/releases/tag/v0.1.4))

[2020-10-20 09:16] alindima commented on #2172
I dug a little more to understand why the `flush()` method is a noop.
This method is implemented as part of rust's `Write` trait. This trait has two mandatory methods: `write` and `flush`.
The `write` method of the trait is not guaranteed to block waiting for data to be written. This means that there could theoretically be an additional layer of buffering on the type implementing `Write`.

Now, be

[2020-10-20 13:39] #2128 closed

[2020-10-20 16:07] sandreim opened #2207 "Add mechanism to select per block device cache strategy."
We should investigate the opportunity and possibilities to allow customers to influence how host storage is being accessed in the Firecracker block device emulation. Here is a list of switches that might make sense to expose as configuration options:
- ignore flush commands (from guest virtio driver) for performance reasons
- use host page cache for read/write operations or prefer direct io with t

[2020-10-22 12:41] alindima opened #2209 "[RFC] File-based seccomp filters"
This issue is meant to be an RFC for a new Firecracker feature - **file-based seccomp filter customisation**.

Please leave below any comments/questions you may have. Any feedback is welcome!

Here is the issue tracking this feature: https://github.com/firecracker-microvm/firecracker/issues/1366

## What is the problem?

Firecracker is currently using the linux [**seccomp-bpf**](https://www.kernel

[2020-10-22 12:46] alindima commented on #2209
cc: @sameo

[2020-10-23 09:54] sandreim opened #2214 "Add block device rate limiter integration tests."
Tests are implemented only for the net device using iperf. We can use fio for block limiter tests.

[2020-10-23 13:48] dianpopa opened #2216 "[Bug] SIGILL handler not called when running with kcov on arm64"
## Describe the bug

While investigating why this test fails when running coverage test for arm64, I came to the conclusion that SIGILL handler does not get called at all. Investigate why this happens.

## To Reproduce
[code]

[2020-10-23 14:01] gc-plp commented on #607
Hi @kevtheappdev. Please take a look if interested.

[2020-10-26 10:29] acatangiu opened #2218 "[Bug] Vsock device can break if snapshotted while doing traffic"
## Bug description

Firecracker snapshots do not capture any inflight network or vsock (through the linux unix domain socket backend) traffic that has left or not yet entered Firecracker.

The above, coupled with the fact that Vsock control protocol is not resilient to vsock packet loss leads to Vsock device breakage when doing a snapshot while there are active Vsock connections.

## Possible fix

[2020-10-26 16:52] jain98 commented on #2188
Hi, first timer here. I'd be interested in giving this a shot.

[2020-10-26 19:19] RDaneelOlivav opened #2222 "[Bug] lIPv6 duplicate addressdetected"
## Describe the bug

When following the tutorial of network setup in an AWS Ubuntu 18 instance, it gives this error.

localhost:~# [   41.373407] IPv6: eth0: IPv6 duplicate address fe80::10af:e9ff:feee:4dc2 detected!

## To Reproduce

1) Launch an AWS instance with ubuntu  18 ( ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20200908 (ami-0823c236601fef765) )
2) Follow the [hello world tuto

[2020-10-26 23:54] EmeraldShift commented on #2139
Hi, @iulianbarbu, I responded to the issue you opened on rust-vmm/vm-memory, expressing interest in that issue. We'd also like to work on the Firecracker end of that feature, too. Is there more information/context you can provide to help us get started?

[2020-10-27 08:42] serban300 commented on #2139
Hi @EmeraldShift  ! Personally I think on the Firecracker end the issue would be how exactly to expose the feature to the customer. Should it be an API call ? Or should it be something else ? We haven't discussed anything yet. But anyway, we should wait for the rust-vmm/vm-memory implementation first. There might be some aspects that will depend on the design that will be adopted there.

[2020-10-27 08:50] pclesr commented on #2139
I did a simple proof of concept by patching `MmapRegion`() in `src/mmap_unix.rs` and saw that page faults went through the hugetlb handler (verified by running `perf` and looking at the kernel stacks).
[code]
Obviously, this is not generic, but I wanted to just see if it would work.

One possibility for firecracker would be an option in the machine config that would control whether the pages for g

[2020-10-27 10:00] pclesr commented on #2172
I have created a pull request https://github.com/firecracker-microvm/firecracker/pull/2223 that keeps the existing behaviour (no flush) and adds a new drive option 'want_flush' for drives that need the coherency and are willing to take the performance hit.

[2020-10-27 10:11] serban300 commented on #2222
Hi @RDaneelOlivav ! What kind of AWS instance are you using ? Is this also reproducing on `.metal` instances ?

[2020-10-27 10:18] raduiliescu commented on #2222
Most likely this is a problem with your setup and you are using the same mac address for two VMs or other interfaces. The address that was detected as duplicate, is a link local IPv6 addresses that is auto generated with the prefix fe80::/10 while the subfix is most likely the mac address or a hash based on mac. For more info see - https://tools.ietf.org/html/rfc4861 and https://tools.ietf.org/htm

[2020-10-27 10:45] alindima opened #2225 "[Bug] Devtool runs `cargo update` on `prepare_release`"
Currently, `devtool prepare_release` does a `cargo update` as a pre-release step.
This is actually a post-release step, so we should remove it from the script.

[2020-10-27 11:45] #2193 closed

[2020-10-28 00:28] alicelambda commented on #1778
Hello, I would like to work on this

[2020-10-28 00:35] alicelambda commented on #1418
Hello, I would like to work on this. From my understanding, the issue is that the docs should be extended to show how to configure and boot the vm after it is configured?

[2020-10-28 08:03] alindima opened #2232 "[Bug] Intermittent CI failure on AMD - test_snapshot_basic"
## Describe the bug

The AMD CI intermittently fails on this test: `integration_tests/functional/test_snapshot_basic.py::test_5_full_snapshots `
Usually, a retrigger is enough to make the test pass.

This doesn't reproduce on the other CI machines.

Example: https://buildkite.com/firecracker/firecracker-ci-amd/builds/1189#69242717-a6cd-44b2-b4d5-fb925b6144a7

## To Reproduce

Cannot be reproduced

[2020-10-28 11:36] #2225 closed

[2020-10-28 12:14] dianpopa opened #2234 "[Bug] extend information gathered for the vgic's register"
## Describe the bug

For the moment the aarch64 snapshotting functionality #2101  saves the vgic register values in a `Vec`. However, this design might not offer enough information on the registers in situations where we might need to save/restore them in a system that offers a differrent number of maximum supported interrupts. For example if we save on a firecracker version with n IRQs and try to

[2020-10-28 12:20] dianpopa opened #2236 "[Improvement] Use `BitRange` from cpuid crate for computing bit shift in VGIC's ICC registers"
We have a specialized structure for reading bit ranges, for example 10:8. It is defined in the cpuid crate. It's called BitRange. We could move it to the utils crate an use it here instead of bit shifts.

[2020-10-28 12:23] dianpopa commented on #2234
Make sure to add an integration test for this,

[2020-10-28 12:25] dianpopa opened #2237 "Run snapshotting integration tests for aarch64"
As soon as #2101 is merged, we need to enable the available snapshotting tests on aarch64.

[2020-10-28 12:29] dianpopa opened #2238 "[Feature Request] Investigate memory overhead used by MMDS"
As soon as the framework for running performances tests on Firecracker is up, we need to integrate a test for gathering info on the memory overhead consumed by MMDS. Only after we get a view on how memory depends on the size of the data store, we should resume work on #2145.

[2020-10-28 12:30] serban300 commented on #1418
Hi @alicelambda ! I talked with @iulianbarbu . This issue was more related to also configuring a ssh server in the example rootfs. But, on another thought, this is use-case specific and I don't know if it makes sense to include this in the Firecracker documentation. Closing for now.

[2020-10-28 12:30] #1418 closed

[2020-10-28 12:31] serban300 commented on #1778
Hi @alicelambda ! This issue is available. Should I assign you to it ?

[2020-10-28 12:40] dianpopa opened #2239 "[Improvement] Improve readability for VGIC' distributor register handling"
Right now the code for the distributor registers contains only one list and one type of structure for all distributor registers. For more readability, it would be nice to divide this register into 2 types of register (simple ones and the shared IRQ type).
Any further ideas of readability improvement are welcome.

[2020-10-28 13:32] alindima commented on #2177
Issue was fixed in v0.22.1, v0.21.3 and v0.23.0. Closing this issue after adding the fix in mainline.

[2020-10-28 13:49] #2177 closed

[2020-10-28 14:31] alindima opened #2241 "Performance testing: Report improvements"
Some of Firecracker's existing performance tests, like `test_boottime` only check that the actual boot time is lower than the baseline.

However, the tests do not account for when some changes actually increase the performance. We should add interval checks with pre-determined delta values, so that we catch performance improvements during test runs, and we adjust the target values accordingly.

Th

[2020-10-30 13:22] luminitavoicu commented on #2063
Hi @GeorgeLS!

We greatly appreciate your initiative to contribute to Firecracker.
Firecracker has an internal design to map the release version to the specific snapshot data format versions. What we were aiming for here, was to be able to fetch a list of the supported snapshot versions. We have not decided yet on the most suitable mechanism for this (API or command line parameter).
This issue has

[2020-10-30 19:05] alicelambda commented on #1778
ye

[2020-10-30 22:46] rpaul98 commented on #649
Hi, @edengarza, @amaniduncker, and I are students at UT and are looking to contribute to an open source project for our virtualization class. We were wondering if we could get assigned to this issue.

Thanks!

[2020-10-31 11:12] kumargu commented on #607
mmds looks clean.

[2020-11-02 07:50] acatangiu commented on #2060
Covered in thorough unittests in #2251

[2020-11-02 11:13] #2060 closed

[2020-11-02 12:07] raduweiss commented on #607
Thanks for the help here :)

[2020-11-02 16:11] dianpopa commented on #649
Hi! Great to here this! I will assign you to the issue, feel free to contact us on our slack channel for clarifications. Thanks!

[2020-11-02 16:28] dianpopa commented on #649
@rpaul98 for some reason I cannot assign your 2 colleagues to the issue, are they following the repo?

[2020-11-03 14:58] kumargu commented on #607
clean-up for ```micro_http``` are merged here - https://github.com/firecracker-microvm/firecracker/pull/2245

[2020-11-04 11:03] dianpopa commented on #2237
Fixed by #2254.

[2020-11-04 11:03] #2237 closed

[2020-11-04 13:06] #1894 closed

[2020-11-04 15:46] iulianbarbu opened #2257 "[Bug] test_reinflate_balloon - intermittent failure on aarch64"
## Describe the bug

Unstable test:

[code]

## To Reproduce

Reproduced it once on: https://github.com/firecracker-microvm/firecracker/pull/2226, for aarch64.

## Expected behaviour

The test should always pass.

## Environment

CI for a PR.

## Additional context

N/A

## Checks
- [x] Have you searched the Firecracker Issues database for similar problems?
- [x] Have you read the existing relevan

[2020-11-04 15:53] iulianbarbu commented on #2075
This occurred again for #2226 .

[2020-11-04 15:55] alindima commented on #2075
@iulianbarbu it would be better to post the link to the CI output. the CI status check on the PR will change in the future.

[2020-11-04 15:58] iulianbarbu commented on #2075
Here is the CI output: https://buildkite.com/firecracker/firecracker-ci-amd/builds/1304#1cd747da-63c7-45bc-b50f-9dbab79edd8f.

[2020-11-04 23:37] pkj415 commented on #2257
I am interested in working on this bug (have started looking into it), shall I take this up?

[2020-11-05 08:20] #1866 closed

[2020-11-05 11:40] georgepisaltu commented on #2257
Hi @pkj415 . We need to deploy a fix as soon as possible for this test as it is preventing PRs from getting merged, so we will handle it. However, this test needs a redesign as it is prone to intermittent failures and you can start working on that if you want.

Currently, `test_reinflate_balloon` in `test_balloon.py` has the purpose of ensuring that sequential inflate-deflate commands have the sam

[2020-11-05 17:15] pkj415 commented on #2257
@georgepisaltu Yes, I would like to get involved with this task to redesign the test and make it robust.

Right now, I am trying to reproduce this on arm emulated on qemu.

[2020-11-06 03:42] pkj415 commented on #2257
@georgepisaltu So, as you said -

1. Instead of all the sleep() calls in the code, we would like to add an iterative rss checker which keeps checking the rss value till it moves in the expected direction and stabilizes.
2. Also, we can specify a max timeout large enough to avoid cases where it doesn't ever stabilize.

I am able to run tests with the python debugger and now have a fair handle on th

[2020-11-06 12:31] #1183 closed

[2020-11-06 15:18] georgepisaltu opened #2261 "[Improvement] Implement new mechanism to test balloon functionality"
Currently in the integration test, in order to test if balloon inflate and deflate operations are successful, we check the RSS (resident set size) before the operation, send the API request to perform the operation, then `sleep` for some time to wait for the operations to complete, as they are not instantaneous. This can be improved by creating a testing mechanism that takes a reading of the desir

[2020-11-06 15:26] acatangiu commented on #2261
It'd be cool to fix this by implementing a `utils` general _monitor_ object that polls a given `condition` at a given `interval` with a given `timeout`.

This _monitor_ can be then reused throughout various tests that also suffer from the same problem.

[2020-11-10 04:13] tmx-dxiao opened #2268 "[Bug] Firecracker panicked at 'Error creating the Kvm object: Error(13)'"
## Describe the bug

[code]

## To Reproduce

I was able to reproduce it by following `get-started` guideline

## Expected behaviour

## Environment

`[Author TODO: Please supply the following information):]`
`[ - Firecracker version.]` v0.23.0-x86_64
`[ - Host and guest kernel versions.]` ubuntu 20.04 with latest updates applied
`[ - Rootfs used.]` from the get-started guide
`[ - Architecture.]`

[2020-11-10 04:17] KarthikNedunchezhiyan commented on #2268
@tmx-dxiao It seems to be an insufficient permission issue. can you try running firecracker is sudo mode and update behaviour here?

[2020-11-10 09:59] #2257 closed

[2020-11-10 12:54] pkj415 commented on #2238
@dianpopa Can I work on this issue? I have just started contributing to firecracker with a test issue, and thought of picking this as well since I have a lot of bandwidth.

[2020-11-10 13:13] raduweiss commented on #2238
Hi @pkj415 , Diana is on vacation, but sure, but I see now problems with you working on this. One thing here is that it depends on the fresh long-running performance test pipeline that @iulianbarbu set up. Iulian, is that system ready to support tests like the ones we need for MMDS memory overhead?

[2020-11-10 13:18] #2198 closed

[2020-11-10 14:04] iulianbarbu commented on #2238
Currently the pipeline is under experimentation to fit some performance tests around network throughput, which are unreliable on specific EC2 metal instances environment setup. I think the work for this issue is blocked until we get some confidence around this environment setup we're experimenting with (metals which run with an 5.4 AL2 AMI). I'll try to have something ready until the end of the we

[2020-11-10 15:28] pkj415 commented on #2238
Thanks @raduweiss and @iulianbarbu, I will avoid working on this now then.

[2020-11-11 10:36] #2165 closed

[2020-11-11 10:42] dianpopa commented on #2167
Actually this does not fail intermittently, for more details see #2216.

[2020-11-11 10:42] #2167 closed

[2020-11-11 10:46] dianpopa commented on #2036
Fixed by #2101

[2020-11-11 10:46] #2036 closed

[2020-11-11 10:47] dianpopa commented on #2035
Fixed by #2101

[2020-11-11 10:47] #2035 closed

[2020-11-11 10:47] dianpopa commented on #2034
Fixed by #2101

[2020-11-11 10:47] #2034 closed

[2020-11-11 10:48] dianpopa commented on #1826
Fixed by #2086

[2020-11-11 10:48] #1826 closed

[2020-11-11 11:46] dianpopa commented on #186
Hi @bbros-dev , sorry for the late reply, it is just now that I saw your proposal. I think the method you suggested of inserting an example of a complete microvm config with all the required fields clearly adds value. Feel free to post a PR with the suggestion. Thanks for the contribution!

[2020-11-11 11:49] dianpopa commented on #363
Hi @pkj415 ,

Are you still interested in working on this issue? I will assign it to you after confirmation.

[2020-11-12 01:02] bbros-dev commented on #186
My working assumption is that this JSON should be valid uVM configuration - that is if passed to Firecracker it will run without error.

Are there configuration elements that are mutually exclusive?

[2020-11-12 09:29] dianpopa commented on #186
The only thing that comes to mind is the `BootSource` representation and `DriveConfig`, i.e specifying an `initrd_path` in the `BootSource` (https://github.com/firecracker-microvm/firecracker/blob/master/src/api_server/swagger/firecracker.yaml#L734) will not make sense with a `DriveConfig` that specifies a root device (https://github.com/firecracker-microvm/firecracker/blob/master/src/api_server/s

[2020-11-13 04:08] KarthikNedunchezhiyan opened #2273 "security(jailer): add a default security to prevent pid-exhaust attack"
## Why is this feature request important?  What are the use cases?  Please describe.

If the malicious actor escapes from the firecracker virtualization barrier can perform a pid-exhaust attack (exhaust all pids on the host, possibly via creating infinite zombies).

## Describe the desired solution

Jailer can restrict this attack through [pid cgroup controller](https://www.kernel.org/doc/Document

[2020-11-13 16:23] raduiliescu commented on #2273
Thank you for bringing your security concerns to our attention! We will investigate these immediately and follow up with you within 5 business days to provide a status.

[2020-11-14 12:19] pkj415 commented on #363
Hi @dianpopa, yes you can assign this to me. Sorry for the delay in reply, I missed this notification somehow.

[2020-11-14 23:07] 2018kguo commented on #2117
Hey @sandreim, just as a quick status update, we recently started coding this up and have added functionality to Logger::create_prefix such that it has an option to include the thread name in the prefix, We have added a few unit tests and have about to start writing integration tests. Things are still in a pretty rough state, but this is our current branch: [here](https://github.com/Preston-Sundar

[2020-11-16 10:52] #1117 closed

[2020-11-17 13:53] acatangiu opened #2276 "[Bug] Sporadic Balloon test failing on aarch64"
## Describe the bug

[code]

[2020-11-17 16:36] acatangiu commented on #1338
Patching block device support added in #2278.

[2020-11-18 03:23] HQ01 commented on #2089
PR created at #2281.

[2020-11-18 14:24] zaharidichev commented on #1179
@raduweiss  is this something that anyone is working on atm? Is it still on the roadmap?

[2020-11-18 15:40] ananos commented on #1179
Hi @zaharidichev,

we have some thoughts on this [1], shared them earlier this year in the slack wοrkspace [2], but a chat is still pending I'm afraid. We have a rough proof-of-concept implementation on firecracker, based on the design principles of [1], which exhibits negligible overhead for image inference (jetson-inference backend, using tensorRT, tested on an NVIDIA jetson nano & a generic x86

[2020-11-18 16:50] raduweiss commented on #1179
@ananos , yeah our bad, we totally dropped the ball here. Our apologies! I'll reply directly so we can talk.

[2020-11-18 17:28] georgepisaltu commented on #2276
In order to solve this issue, we need to establish the same baseline for RSS right after boot in all the balloon integration tests. This can be done by inflating the balloon to a certain size just a bit smaller than the available memory of the VM after boot (for a 256 MiB VM this value is roughly 200 MiB) and then deflate it back to 0.

This solution is currently implemented only in `integration_t

[2020-11-19 04:11] HQ01 commented on #1048
Hi @serban300! I read through the discussion but not sure what are expected to be fixed here. Is the issue the rootfs created in the current guide cannot be used by Firecracker, or it's different from the example hello-rootfs?  I agreed that if hello-rootfs.ext4 was manually created, it's not sustainable to create a script to generate it.

[2020-11-19 05:16] HQ01 commented on #2276
Hi @georgepisaltu  should I take #2258 as a reference if I would like to help fix this issue?

[2020-11-19 10:23] raduiliescu commented on #2273
Hi @KarthikNedunchezhiyan ,

On Firecracker we use [seccomp](https://www.kernel.org/doc/Documentation/prctl/seccomp_filter.txt) filters to limit the system calls allowed by the host OS to the required minimum. In our [prod-host setup](https://github.com/firecracker-microvm/firecracker/blob/master/docs/prod-host-setup.md) we recommend running in production with the highest level of filtering --secc

[2020-11-19 10:23] #2273 closed

[2020-11-19 11:56] dianpopa commented on #2276
@gc-plp does this still replicate after adding retry functionality for "get_stable_rss_mem_by_pid", I personally have not seen any balloon test failing on aarch64 since then...

[2020-11-19 13:04] gc-plp commented on #2276
@dianpopa I haven't either. But we can try running it in a loop.

[2020-11-19 14:36] acatangiu opened #2285 "[Bug] DescribeInstance command does not provide microVM state"
## Describe the bug

Current `describeInstance` API command does not provide information about microVm state other than whether it's been started or not. Starting with `v0.23.0` the microVm can be also `paused` and this state information is lost to the user.

## To Reproduce

[code]

## Expected behaviour

Turn the `started` boolean into a multiple options data struct with variants like:
 - Not st

[2020-11-19 14:51] acatangiu commented on #2276
I saw this on a slightly older branch, it did not have the `get_stable_rss_mem_by_pid` commit.

Closing it for now, we can reopen if we see it again.

[2020-11-19 14:51] #2276 closed

[2020-11-20 06:07] HQ01 commented on #2285
@acatangiu do we also need to change any configuration/documentation file after implementing this change?

[2020-11-20 11:40] gc-plp opened #2287 "[Bug] InstanceInfo YAML description is inconsistent with Firecracker implementation"
## Describe the bug

There is an inconsistency in how Firecracker returns the `InstanceInfo` structure when compared to how it's described in the YAML file:
- YAML: https://github.com/firecracker-microvm/firecracker/blob/ce6b03cd7c351a0fe9996f734cb577bb22af9702/src/api_server/swagger/firecracker.yaml#L814
- Firecracker: https://github.com/firecracker-microvm/firecracker/blob/f81db9cb4fe2100bac8957

[2020-11-20 13:05] acatangiu commented on #2285
From a high-level look, changes required:

### Code

 - in `src/vmm/src/vmm_config/instance_info.rs`: change `started: bool` to `state: String` (or a `state: enum MicroVmState` that implements ToString)
 - replace `started` with `state` everywhere
 - in `src/vmm/src/rpc_interface.rs` change `state` accordingly on `Pause` and `Resume` commands.

### Config/docs

 - `src/api_server/swagger/firecrack

[2020-11-20 15:12] casibbald commented on #158
@acatangiu Adrian, has there been any update on the IO Virtualisaton supported list?

[ ] physical (ethx)
[x] tun/tap
[ ] IPsec, PPPoE, GRE
[ ] VLANs

[2020-11-20 16:26] acatangiu commented on #158
@casibbald no changes, we haven't heard of a strong customer usecase that needs something else here.

There is an RFC #2217 for also supporting _macvtap_ that we're currently evaluating.

[2020-11-20 20:35] pkj415 commented on #2285
@acatangiu Can I take up this issue?

[2020-11-20 22:03] HQ01 commented on #2285
I've started working on it.

[2020-11-22 04:50] HQ01 commented on #2285
Implemented, will submit a PR after cleaning code up

[2020-11-22 05:53] kumargu commented on #2173
Hi  @iulianbarbu , it seems like recently there was some work done on the error propagation in this [commit](https://github.com/firecracker-microvm/firecracker/commit/91c90d577a228b96b482eb66c81bca25fd3eb64a)

Both [update_block_device_path](https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/rpc_interface.rs#L607)  and [update_net_rate_limiters](https://github.com/firecrack

[2020-11-23 07:43] iulianbarbu commented on #2173
I think we just need to update the `device-api.md`. It seems that we return always 400 - Bad Request error responses in return to API requests [1]. Currently, we state in the `device-api.md` that:
[code]

We can squash the information related to what status code responses we get in response to `network-interfaces/{id}` and `drives/{id}` into a single entry. Also, we can close this issue once we up

[2020-11-23 12:40] acatangiu opened #2293 "[Code improvement] deduplicate literal HTTP responses in tests"
There are many tests with literal hardcoded HTTP responses that bloat the code. Some of them even have data embedded in them, making those tests hard to maintain.

Example possible deduplication:

in https://github.com/firecracker-microvm/firecracker/blob/e8200f3c3eaba014220e447e8d426c8cf8607eec/src/api_server/src/parsed_request.rs#L511 :

[code]

where `http_response_ok()` could be reused in all

[2020-11-23 13:49] acatangiu opened #2294 "[Bug] Fix inconsistent InstanceInfo definition in swagger yaml"
## Describe the bug

Leftover `state` defined as required, but field was removed in a previous commit.

See https://github.com/firecracker-microvm/firecracker/blob/e8200f3c3eaba014220e447e8d426c8cf8607eec/src/api_server/swagger/firecracker.yaml#L801

## Fix

- Update swagger file with correct definition
- Add integration test to check yaml validity

[2020-11-23 16:01] EvanJP commented on #2293
Hi!  I would like to be assigned to this if possible as a first issue to explore the code base (one of the many UT Austin students looking for issues to help out on)

[2020-11-23 16:04] EvanJP commented on #2261
I wouldn't mind being assigned to this ~ (looking for issues to help out on for my UT Austin virtualization class, I've worked with others on an open-source rust repo as well [https://github.com/unicode-org/icu4x](https://github.com/unicode-org/icu4x))

[2020-11-23 16:41] #2287 closed

[2020-11-23 16:42] acatangiu commented on #2261
@EvanJP I see this was fixed in #2264 ; I don't know why the issue remained open.. closing it now.

[2020-11-23 16:42] #2261 closed

[2020-11-23 16:44] acatangiu commented on #2287
Duplicate of #2294

[2020-11-23 16:45] #2175 closed

[2020-11-23 17:02] gbionescu opened #2297 "Replace fixture generation through exec() with a cleaner method"
Currently, [image fixtures](https://github.com/firecracker-microvm/firecracker/blob/master/tests/conftest.py#L467) are built by enumerating capabilities in the S3 bucket and calling `exec()` to create new fixtures.

It would be much cleaner to have a list of images inside the test framework that generates the fixtures for us.

Documentation will also have to be updated: https://github.com/firecrac

[2020-11-23 17:05] kumargu commented on #2297
Happy to help on the issue.

[2020-11-23 17:18] pkj415 commented on #791
@dianpopa can you assign this to me, interested to work on it

[2020-11-24 07:37] #2294 closed

[2020-11-24 08:39] #2089 closed

[2020-11-24 13:17] acatangiu commented on #1338
Rate limiter updating is now available, renaming this issue to adding support for updating driver permissions.

[2020-11-24 18:50] iulianbarbu opened #2302 "Add TCP network throughput performance tests for uVMs with 4, 8, 16 vCPUs"
Once #2227 gets merged, we need to add more the uVMs configs and corresponding baselines gathered from the performance pipeline.

[2020-11-25 10:20] gc-plp opened #2304 "Use Python generated client in the testing framework"
We need to generate the Python API client to use inside the testing framework instead of writing our own API request classes.

This effort would help in making sure that any YAML change is reflected in the way that API requests are done and reducing framework code.

Things to keep in mind:
- The python client would have to be generated each time the YAML file is changed. This would add a few probl

[2020-11-25 14:09] #2015 closed

[2020-11-26 08:13] acatangiu commented on #1564
Looks like this issue is stale, none of the currently used rootfs images surfaced this behavior. Closing.

[2020-11-26 08:13] #1564 closed

[2020-11-26 09:12] sandreim commented on #1997
Implemented in #2331.

[2020-11-26 09:12] #1997 closed

[2020-11-26 09:15] sandreim commented on #2023
Hi @GeorgeLS, sorry for the late reply, but I already picked this up and I'll post a PR soon.

[2020-11-26 09:40] #1145 closed

[2020-11-26 11:08] alindima opened #2306 "[docs] State that Firecracker support only Little Endian CPUs"
Firecracker only supports Little endian CPUs, but this is not clearly stated in the documentation.

[2020-11-26 12:13] dianpopa commented on #1579
We disabled the test so I am also re-opening this.

[2020-11-26 16:22] berciuliviu commented on #2116
Fixed by #2282

[2020-11-26 16:22] #2116 closed

[2020-11-28 05:59] EvanJP commented on #2293
Would we want to be parsing the (firecracker.yaml)[https://github.com/firecracker-microvm/firecracker/blob/master/src/api_server/swagger/firecracker.yaml] file in case the API changes, or should we just keep it simple and hard-code the function definitions first?

An example function definition might be `fn call_machine-config(request: Request, ht_enabled: bool, mem_size_mib: i32, track_dirty_page

[2020-11-28 07:22] EvanJP commented on #2304
I wouldn't mind taking a look at this. Is there a specific method we would want to use to generate the code? I assume the YAML file mentioned is the [firecracker.yaml](https://github.com/firecracker-microvm/firecracker/blob/master/src/api_server/swagger/firecracker.yaml) file?

[2020-11-28 22:56] EmeraldShift commented on #2306
Hi! I can work on this issue. May it be assigned to me?

[2020-11-29 07:14] unreadable opened #2311 "[Bug] Running NodeJs inside microVM fails"
I'm trying to run a simple node js program, but it seems that everytime I do it, the vm becomes unresponsive.
Here is the script that I'm using:

    # Minimal init
    rc-service sysfs start
    rc-service networking start

    # Set up interface
    source /usr/buildenv
    ip addr add $IP dev eth0
    ip link set eth0 up
    ip route add default via $GATEWAY dev eth0

    # Run user program

[2020-11-29 13:02] KarthikNedunchezhiyan commented on #2311
@unreadable can you share what is the randomness entropy in your Linux (`cat /proc/sys/kernel/random/entropy_avail`)? If procfs not mounted before then run `mount proc /proc -t proc` before checking entropy level.

also kindly share your guest kernel version.

[2020-11-29 13:32] KarthikNedunchezhiyan commented on #2311
There is a `getrandom` syscall involving in `/usr/bin/node -e "console.log(1)"` but not in `/usr/bin/node --version`. so, I suspect your second command freeze due to low entropy.

[code]

[2020-11-29 15:09] unreadable commented on #2311
@KarthikNedunchezhiyan  thanks for the reply!
`cat /proc/sys/kernel/random/entropy_avail` outputs 3694. Guest kernel version is `4.14.55-84.37.amzn2.x86_64` and is the default kernel provided in the quickstart guide.

[2020-11-29 15:19] KarthikNedunchezhiyan commented on #2311
Seems entropy has a decent value. can you run strace (`strace /usr/bin/node -e "console.log(1)"`) and check at which syscall the freeze is happening.

[2020-11-29 15:53] unreadable commented on #2311
Btw, randomness entropy value for the guest kernel is 1 (3694 value belongs to the host kernel). Anyway, running `strace /usr/bin/node -e "console.log(1)"` outputs this:

    execve("/usr/bin/node", ["/usr/bin/node", "-e", "console.log(1)"], 0x7ffced225d90 /* 9 vars */) = 0
    arch_prctl(ARCH_SET_FS, 0x7f5440fa1d48) = 0
    set_tid_address(0x7f5440fa2314)         = 823
    open("/etc/ld-musl-x86_

[2020-11-29 17:07] KarthikNedunchezhiyan commented on #2311
Ahh, then increasing entropy inside firecracker instance will solve this problem 🙂

[2020-11-29 21:26] unreadable commented on #2311
Thanks, using `rng-tools` did the trick!

[2020-11-29 21:26] #2311 closed

[2020-11-30 18:13] dianpopa commented on #2306
@EmeraldShift sure! I assigned you to the issue. Thanks for the contribution

[2020-11-30 20:36] l1x opened #2312 "[Bug] Cannot build working kernel by following the docs"
## Describe the bug

I am trying to build a kernel following way and than use it in FC.

## To Reproduce

- `wget https://raw.githubusercontent.com/firecracker-microvm/firecracker/master/resources/microvm-kernel-arm64.config -O .config`

- `make olddefconfig`

- `make vmlinux`

- ` sudo mount -o loop alpine.rootfs.ext4 /tmp/alpine/`

- `docker run -it --rm -v /tmp/alpine:/alpine-rootfs alpine`

-

[2020-12-01 03:35] yichen-zhang-dev commented on #1683
@andreeaflorescu @dianpopa I'm with HQ01. Could you provide any instructions or hints on what needs to be done for the replacement? Thanks.

[2020-12-01 05:56] Preston-Sundar commented on #2117
PR opened at https://github.com/firecracker-microvm/firecracker/pull/2314

[2020-12-01 11:02] l1x commented on #2312
I have created a script that makes it easier to reproduce:

https://gist.github.com/l1x/b74a268e5ed08ee799a79aa4d4d2d0e1

[2020-12-01 11:34] pkj415 commented on #2214
I had a chat with @dianpopa and will be working on this. Is there a detailed test plan for this, or shall I come up with a test plan.

[2020-12-01 16:07] EvanJP commented on #2304
If there are more concrete ideas on how to approach the code generation (forgive my ignorance on how we're supposed to generate it), I would be glad to try to work on this. Is the codegen client supposed to come from swagger?

[2020-12-01 21:42] l1x commented on #2312
Figured it out. On aarch64 I need make Image instead of make vmlinux

[2020-12-01 21:42] #2312 closed

[2020-12-02 10:50] acatangiu commented on #2293
I don't follow. I'm guessing you're talking about further improvements, this issue is very simple and only tracks deduplicating all the http static/hardcoded contents.

Example: define a function:
[code]

and use it across tests in `firecracker/src/api_server/src/parsed_request.rs` to replace hardcoded http contents

[2020-12-02 10:53] acatangiu commented on #2304
Yes, use `firecracker.yaml` to generate client code; yes, the code-generator can come from swagger (there are possibly others out there too, haven't checked).

[2020-12-02 14:01] acatangiu opened #2315 "[Feature Request] integration tests: need support for per-binary version API"
## Why is this feature request important?  What are the use cases?  Please describe.

We have tests (currently some snapshot ones) that run multiple `firecracker` versions. The tests currently use the same API code to communicate with them, but the `firecracker` API changes over time.

## Describe the desired solution

Tests contain a framework that has per firecracker-version API code so that the

[2020-12-02 16:02] gc-plp commented on #2304
@EvanJP I've used [`swagger-codegen`](https://github.com/swagger-api/swagger-codegen) in the past to generate the client code.

There is one thing to take care with the generated code: I didn't find a simple method of making it aware that the requests are done through a socket path, so I basically had to override the way that the swagger client classes are built. I can paste the snippet that I use

[2020-12-03 08:16] sandreim opened #2317 "[Bug] Incorrect --version output for main branch builds."
## Describe the bug

./firecracker --version outputs ```Firecracker v0.21.0-695-g8101086b-dirty```

## Expected behaviour

./firecracker --version should output ```Firecracker v0.24.0-695-g8101086b-dirty```

## Checks
- [x] Have you searched the Firecracker Issues database for similar problems?
- [x] Have you read the existing relevant Firecracker documentation?
- [x] Are you certain the bug being

[2020-12-03 08:37] alindima commented on #2317
Firecracker's `--version` arg simply returns the output of `git describe --dirty`.
According to the documentation:

The way I see it, this is not really a problem with Firecracker's version command. This is a problem with the way we tag releases.

If we tag releases on branches other than master, that have a different commit history (even different hashes/ordering), this output is actually normal.

[2020-12-03 08:54] raduweiss commented on #2317
If the release binaries have proper output for `./firecracker --version` (since they get the right tags on their release branches), the other way to make this consistent may be to add a single tag on the main branch that results in the right language, e.g., `Firecracker devbrach-695-g8101086b-dirty`. I think this should work with the [one-flow](https://www.endoflineblog.com/oneflow-a-git-branching

[2020-12-03 08:56] sandreim commented on #2317
I like the idea to tag main branch with something like v0.24-wip. Once the v0.24 release branch is created we can create a new tag with v0.25-wip and so on.

[2020-12-03 08:58] sandreim commented on #2317
Interested to see what @firecracker-microvm/compute-capsule folks think.

[2020-12-03 09:00] alindima commented on #2317
+1 for tagging the main branch as a post-release step for major and minor releases

[2020-12-03 09:14] acatangiu commented on #2317
@sandreim I think you need to `git pull --tags` locally to get the latest tags

[2020-12-03 09:18] acatangiu commented on #2317
I see the problem, we only tag release branches but not mainline anymore.

[2020-12-03 10:06] acatangiu commented on #886
@s3rj1k we've released dev-preview snapshotting functionality in v0.23 with full support coming up in v0.24.

Does that cover this issue?

[2020-12-03 10:10] s3rj1k commented on #886
@acatangiu Yea, that's great news, thanks!
https://github.com/firecracker-microvm/firecracker/blob/v0.23.0/docs/snapshotting/snapshot-support.md

[2020-12-03 10:18] #886 closed

[2020-12-03 13:40] iulianbarbu opened #2318 "[tests] Differentiate between statistics consumer and measurements consumer"
In the current design, there is no clear distinction between the statistics consumer and measurements consumers. The current functionality seems duplicated for both cases and their implementation are very similar. In practice, there is no clear way to differentiate between the two and where should they be used. This will help for easier documentation of the usage as well.

We must separate the con

[2020-12-04 16:28] ananos commented on #1179
Hi @zaharidichev, all

just wanted to share our blog post about our approach on the above: https://blog.cloudkernels.net/posts/vaccel_v2/

using nvidia-container-runtime & a docker image we've put together, you are able to run the jetson-inference image classification example from a Firecracker VM. You can find more info in the above post or @ https://vaccel.org. Of course, you can ping us, we wil

[2020-12-07 22:08] jeromegn opened #2325 "[Bug] Using initrd is causing memory corruption"
## Describe the bug

We've recently switched to using `initrd_path` and noticed memory corruption (at least, that's the theory) about 20% of the time at boot.

We're unsure this is memory corruption, but it consistently shows different problems on boot which led us to this theory.

We built our own `init` program that essentially does this:
- mount /dev
- mkdir /newroot
- mount /dev/vda /newroot
-

[2020-12-09 07:43] #2008 closed

[2020-12-09 07:44] #2006 closed

[2020-12-09 09:11] CodingYuanLiu opened #2332 "Does Firecracker support AMD Secure Encrypted Virtualization (SEV)?"
## Why is this feature request important?  What are the use cases?  Please describe.

AMD Secure Encrypted Virtualization (SEV) is a hardware feature provided by AMD, designed to isolate virtual machines from the hypervisor.

## Describe the desired solution
So far, we can use QEMU to start a VM with SEV enabled. If firecracker support SEV, we can use firecracker to replace QEMU and start a micro

[2020-12-09 12:36] dianpopa commented on #1579
Fixed by https://github.com/firecracker-microvm/firecracker/pull/2310. No unexplained failures until now.

[2020-12-09 12:36] #1579 closed

[2020-12-09 16:12] georgepisaltu commented on #2332
Hi @CodingYuanLiu,

Firecracker does not support AMD Secure Encrypted Virtualization. I don't think Firecracker can support SEV as of right now because we provide snapshot capabilities and any operations that involve saving and restoring the memory and state of the VM are unsupported by SEV. From my research, it seems that with hardware evolution this barrier might disappear and we could look into

[2020-12-10 06:32] CodingYuanLiu commented on #2332
Thank you for your help. By the way, may I ask that how fast can firecracker start when restoring from a snapshot?

[2020-12-10 09:26] georgepisaltu commented on #2332
As you can see in our integration tests [here](https://github.com/firecracker-microvm/firecracker/blob/8553d64a0fa18b281cbeb757bbe350fde7cd6978/tests/integration_tests/performance/test_snapshot_perf.py#L35), we ensure we have a restore time of less than 8 ms in the tests, but we target 5 ms. The 8 ms value is only for testing purposes and comes from [this issue](https://github.com/firecracker-micr

[2020-12-10 11:22] CodingYuanLiu commented on #2332
Wow that target is fantastic. Thank you a lot for your help.

[2020-12-10 11:22] #2332 closed

[2020-12-10 20:09] EvanJP commented on #2293
I just created a PR #2340 for this @acatangiu. Please review!

Yeah, I was suggesting creating functions that would take in all the parameters for the REST API YAML, and then creating the formatted string from there, removing all hard-coded strings from the tests, but it would probably be overkill and require a lot of changes if the YAML changes.

[2020-12-10 20:57] EvanJP commented on #2304
@gc-plp I've generated the python code, and I think I see what you mean by the lack of options to make it aware of a UNIX socket path. I see that the [go-swagger](https://github.com/go-swagger/go-swagger/commit/b4379ca995a5d0f15fcbb1dd50a554e4e8013230) community has implemented it, but alas that is go and not python.

Are there any files other than `resources.py` and `microvm.py` to be aware of? A

[2020-12-11 08:55] georgepisaltu commented on #2325
The investigation so far has revealed that it is in fact a binary in the guest that is crashing, not Firecracker itself. The possibility of memory corruption seems to be only inside the guest and is limited to contents of the file system, possibly the shared libraries, and it seems to be happening during the mounting of the rootfs from the initrd. The root cause is still unknown and we have not ma

[2020-12-12 06:37] KarthikNedunchezhiyan opened #2344 "[Bug] firecracker crashes in new pid namespace"
## Describe the bug

Firecracker crashed if it is spawned after unshare `CLONE_NEWPID`. Crashed with below error.

[code]

## To Reproduce
`unshare -p ./firecracker --config-file fc_config.json --no-api`

content of fc_config.json:

[code]

## Expected behavior

Expected to run fine in new PID namespace.

## Environment

`[Author TODO: Please supply the following information):]`
`[ - Firecracker v

[2020-12-13 07:31] l1x commented on #2317
After compiling on the master branch I get the following:

[code]

During compilation:

[code]

[2020-12-13 17:56] jeromegn commented on #2325
It is indeed a binary in the guest rootfs that's crashing, but it's different ones for different reasons, at different times.

I've been able to reproduce this consistently. I'm not sure what's causing it yet.

It appears timing is everything. For example, running the VM with the kernel arg `debug` doesn't trigger the issue, but removing it and/or using `quiet` (therefore, printing less to the con

[2020-12-14 09:47] luminitavoicu opened #2346 "[tests] high variance observed for snapshot create latency."
Latency observed on a `Intel(R) Xeon(R) Platinum 8175M CPU @ 2.50GHz` host, during snapshot creation with different target versions sometimes has high variance.

[code]
We should tune the task scheduler in order to get rid of the noise and then update the baseline values for snapshot creation latency.

[2020-12-14 10:27] acatangiu commented on #2346
I'm making a blind guess that snapshot creation has high variance because it writes stuff to disk which introduces varying latencies.

I think we need to set up a ramdisk for these kinds of tests. Use a ramdisk on the host for reading and writing latency-sensitive payloads.

[2020-12-14 12:02] gc-plp commented on #2304
@EvanJP, the way I did it was to create a dummy class that wraps UDS calls:

[code]

And then kind of hacked my way through the swagger code by overriding the `RESTClientObject` attribute:

swagger_client.rest.RESTClientObject = uds.UDSRequests

This could probably be done in a nicer way, but didn't have the time to explore it.

As for the cleanup logic, you'd probably have to reverse all the step

[2020-12-15 08:23] alindima opened #2353 "[Testing] Vsock latency performance test"
Add a VSOCK latency performance test.
The current VSOCK throughput test is using [iperf3-vsock](https://github.com/stefano-garzarella/iperf-vsock) to generate VSOCK workloads, which does not offer metrics related to latency.

Investigate what other tools we may use and write a performance test for it.

[2020-12-15 08:36] raduiliescu commented on #2353
I think we may need to write our own tool here. Is pretty simple just have an echo server and a client that computes the roundtrip time.

[2020-12-15 08:43] alindima commented on #2353
I think we may even augment the [existing vsock test](https://github.com/firecracker-microvm/firecracker/blob/master/tests/integration_tests/functional/test_vsock.py) for this.

[2020-12-15 09:16] raduiliescu commented on #2353
Not sure if that is correct, since on a test like this you may apply statistical processing and run it for a longer time. Still reusing that code is a very good idea.

[2020-12-15 09:37] dianpopa opened #2355 "Add Integration test for describeInstance"
## Enhancement

Complete this [PR](https://github.com/firecracker-microvm/firecracker/pull/2292) by also adding an integration test to check the different states in which the vm can go (Running, Paused, Resumed).

[2020-12-15 10:45] dianpopa commented on #2346
This also happens for AMD: https://buildkite.com/firecracker/firecracker-ci-amd/builds/1819#96357d88-7831-46bf-8475-00a634827e71.

[2020-12-15 13:01] raduiliescu opened #2356 "[Feature Request] Add capability to dump the Firecracker configuration"
## Why is this feature request important?  What are the use cases?  Please describe.
When replicating an issue is important to start from the Firecracker configuration used by the customers.
There is no way to dump the configuration of a running Firecracker microVM. Currently all API calls received by FC are logged, but this happens only on the info level which is not configured by default.

Eithe

[2020-12-16 00:57] alicelambda commented on #1778
Hello is VmResourceStore still being used? I'm having trouble finding it in the codebase

[2020-12-16 10:58] alindima commented on #2353
You're right. It can be a starting point

[2020-12-16 14:07] jeromegn commented on #1721
@kylecarbs I'm playing around with this and was wondering how you got it working? For testing / development purposes.

I added these to my VM kernel config:

[code]

and enabled nested KVM on my host's kvm_intel module.

Inside the guest, `/dev/kvm` is not created. My guest's `/proc/cpuinfo` does not have `vmx`. I'm unsure why.

[2020-12-16 15:32] #2306 closed

[2020-12-17 10:24] #2234 closed

[2020-12-17 10:24] #2239 closed

[2020-12-18 08:25] KarthikNedunchezhiyan commented on #2344
Failed in API server mode too.

[code]

I can notice some issues around `clone` syscall while spawning in PID namespace. In config-file mode issue occurred while spawning vcpu thread (clone syscall involved) and In API-server mode issue occurred while spawning api-server thread (clone syscall involved).

[code]

[2020-12-18 08:45] KarthikNedunchezhiyan commented on #2344
Some interesting findings

[code]

above code failed with the same error when using `unshare -p ./binary`

[2020-12-18 10:13] acatangiu commented on #1778
The gist of this issue/code-base-improvement is to decouple the core `vmm` from the `rpc` driver.

There would be a `rpc_interface` crate which contains resources and logic for configuring a `vmm` using RPCs/commands.

`vmm_config`, `vm_resources` and `rpc_interface` should move from `vmm` crate to the new `rpc_interface` crate.

[2020-12-18 10:29] acatangiu commented on #2344
This is normal. `Firecracker` starts multiple threads:
 - emulation thread (main thread)
 - api thread
 - multiple vcpu threads (one for each configured vcpu)

`unshare CLONE_NEWPID` disallows the process to spawn threads so firecracker will obviously fail

[2020-12-18 10:29] #2344 closed

[2020-12-18 22:01] KarthikNedunchezhiyan commented on #2344
As like @acatangiu pointed, after `unshare CLONE_NEWPID` we are not allowed to spawn a thread. Below is the issue that I made on unshare, how it failed and how to fix that. This info may help other readers.

Issue made:
`unshare` command tool directly exec to the given firecracker binary after `unshare CLONE_NEWPID` syscall. At this point we still not made `fork` or `clone` so, the firecracker cra

[2020-12-21 09:05] acatangiu commented on #2117
Fixed by #2352

[2020-12-21 09:05] #2117 closed

[2020-12-21 11:33] serban300 commented on #2236
Actually I think we should move the contant of the `cpuid` crate into `arch/86_64` since it's x86 specific. And then we can also use the `BitHelper` trait for ARM.

[2020-12-23 13:24] serban300 commented on #2236
I don't think it's worth implementing this especially after merging #2386 . We would have to:
- move cpuid into arch
- implement BitRangeExt for u64

This is a lot of work and we would use BitHelper for only 2 operations.

Closing the issue for the moment.

[2020-12-23 13:24] #2236 closed

[2020-12-23 17:42] mrl5 opened #2390 "[Bug] v0.24.0 release does not have jailer in assets"
previous releases had `jailer` in assets, however for some reason release `v0.24.0` has only `firecracker` but `jailer` is missing

is this expected?

[2020-12-23 17:44] raduweiss commented on #2390
Hi @mrl5! The releases are now `.tgz` archives, and all the previous artifacts, including the jailer binaries, are in the archive. As far as we can tell the jailer binaries are indeed in the archives for v0.24.

[2020-12-23 17:46] mrl5 commented on #2390
thanks for info :) could you pls confirm that this will be like this in following releases?

[2020-12-23 17:49] sandreim commented on #2390
@mrl5 Confirmed 😁

[2020-12-23 17:49] #2390 closed

[2020-12-23 17:49] mrl5 commented on #2390
thanks for quick response, you guys are awesome!

[2020-12-25 02:17] magnate3 opened #2393 "firecracker coredump"
## Describe the bug

`[Author TODO: A clear and concise description of what the bug is.]`

root@ubuntu:~/myfirecracker/firecracker# firecracker --api-sock /tmp/firecracker.socket
Bad system call (core dumped)

## To Reproduce
1、 start firecrakcer:  firecracker --api-sock /tmp/firecracker.socket
2、 send curl request
 curl --unix-socket /tmp/firecracker.socket -i \
       -X PUT 'http://localhost/bo

[2020-12-25 05:01] KarthikNedunchezhiyan opened #2394 "[Bug] getting-started guide not updated to latest release model"
## Describe the bug

[getting-started.md#getting-the-firecracker-binary](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md#getting-the-firecracker-binary) is not updated to latest release model

## To Reproduce

Follow the steps provided in the [getting-started.md#getting-the-firecracker-binary](https://github.com/firecracker-microvm/firecracker/blob/master/doc

[2020-12-25 06:34] KarthikNedunchezhiyan commented on #2394
Can someone please confirm that this is not intentional, happy to raise an MR 🙂.

[2020-12-28 08:06] gc-plp commented on #2394
Hi @KarthikNedunchezhiyan.

We recently updated the release model and indeed it looks like the documentation needs updating.

Please go ahead with opening a PR.

[2020-12-28 09:42] #1231 closed

[2020-12-29 12:49] gc-plp commented on #2393
Hi @magnate3

It seems that the [built-in seccomp filters](https://github.com/firecracker-microvm/firecracker/blob/master/docs/design.md#seccomp) are stopping the Firecracker process when the kernel is loaded. The seccomp filters can be disabled by passing the `--seccomp-level 0` parameters to Firecracker.

Could you give us more details on what happens on your host? I did not manage to reproduce

[2020-12-29 21:05] dianpopa commented on #363
All the unit testable jailer code is covered.

[2020-12-29 21:05] #363 closed

[2020-12-30 00:49] magnate3 commented on #2393
@gc-plp thanks,
root@ubuntu:~# strace -o firecracker.output firecracker --api-sock /tmp/firecracker.socket
Bad system call
root@ubuntu:~# cat firecracker.output
execve("/usr/local/bin/firecracker", ["firecracker", "--api-sock", "/tmp/firecracker.socket"], 0xffffe47a1bc0 /* 22 vars */) = 0
mmap(NULL, 592, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0xffffab4bf000
set_tid_address(0x7e5

[2020-12-30 00:59] magnate3 commented on #2393
@gc-plp  I  follow you advice and try like following and the firecracker start successfully
 strace -o **firecracker.output firecracker --api-sock /tmp/firecracker.socket **--seccomp-level 0****
[    0.000000] Booting Linux on physical CPU 0x0
[    0.000000] Linux version 4.14.138 (sandreim@firecracker-arm-ci) (gcc version 7.4.0 (Ubuntu/Linaro 7.4.0-1ubuntu1~18.04.1)) #1 SMP Tue Sep 10 12:26:05 UT

[2020-12-30 14:49] gc-plp commented on #2393
Hi @magnate3. You don't need to run Firecracker with strace. You can just do `firecracker --api-sock /tmp/firecracker.socket --seccomp-level 0`.

I took a quick look at the first strace log and it looks similar to what I can see on my machine.
Could you also paste the strace output when using `--seccomp-level 0`, please? The actual boot log is not needed, only what happens during the curl request.

[2020-12-30 14:58] #2394 closed

[2021-01-04 02:26] magnate3 commented on #2393
ok，I understand what you say. thank you.
when execute the cmd : strace -o firecracker.output firecracker --api-sock /tmp/firecracker.socket --seccomp-level 0,the output is :

execve("/usr/local/bin/firecracker", ["firecracker", "--api-sock", "/tmp/firecracker.socket", "--seccomp-level", "0"], 0xffffe84883d0 /* 22 vars */) = 0
mmap(NULL, 592, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0)

[2021-01-04 04:09] magnate3 opened #2396 "[fail to reboot in arm64"
## Describe the bug
when I executes  reboot in vm ,the vm actually executes poweroff

[  OK  ] Started Update UTMP about System Runlevel Changes.

Ubuntu 18.04.2 LTS fadfdd4af58a ttyS0

fadfdd4af58a login: root
Password:
Last login: Mon Jan  4 02:24:24 UTC 2021 on ttyS0
Welcome to Ubuntu 18.04.2 LTS (GNU/Linux 4.14.138 aarch64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https:/

[2021-01-04 08:31] georgepisaltu commented on #2396
Hi @magnate3,

Because we do not manage power states through ACPI or a similar mechanism, we don't support the traditional reboot. Issuing a `reboot` command in the guest will result in shutting down the VM and the Firecracker process gracefully and that is intended. We currently have no way of cleanly rebooting on `aarch64`.

[2021-01-04 12:27] georgepisaltu commented on #2396
For a more in depth look, I encourage you to check out our [FAQ](https://github.com/firecracker-microvm/firecracker/blob/master/FAQ.md#how-can-i-gracefully-reboot-the-guest-how-can-i-gracefully-poweroff-the-guest).

I'll close this issue.

[2021-01-04 12:27] #2396 closed

[2021-01-05 17:27] gc-plp commented on #2393
Hi @magnate3,

I took another look at the output and don't find an obvious reason for the failure just from the logs.

I also tried reproducing it with different kernels on an aarch64 machine but it doesn't trigger on our side, which could indicate that the kernel that you are using is somehow different from the one that I used, which is an Ubuntu 20.04 using kernel version 5.4.0.

Could you give

[2021-01-06 00:52] magnate3 commented on #2393
@gc-plp thanks for you detail response.

root@ubuntu:~# uname -a
Linux ubuntu 5.0.0-23-generic #24~18.04.1-Ubuntu SMP Mon Jul 29 16:10:24 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux
root@ubuntu:~# cat /etc/os-release
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https:/

[2021-01-06 08:57] gc-plp commented on #2393
The `logs.fifo` output seems to be captured from a run that's using `--seccomp-filter 0` I assume. Could you also paste the output when running without `--seccomp-filter 0`?

Regarding the firecracker binary, I wanted to confirm with you that you're running `./tools/devtool build --release`. Is this correct?

Could you also try running [the prebuilt binary](https://github.com/firecracker-microvm/f

[2021-01-06 11:00] dianpopa commented on #2285
Fixed by #2292.

[2021-01-06 11:00] #2285 closed

[2021-01-06 11:13] dianpopa commented on #1571
Memory ballooning is in production as of [release v0.24.0](https://github.com/firecracker-microvm/firecracker/releases/tag/v0.24.0).

[2021-01-06 11:13] #1571 closed

[2021-01-06 12:54] #649 closed

[2021-01-07 08:09] magnate3 commented on #2393
@gc-plp  hello, if I run  the prebuilt binary,there is no problem.

root@ubuntu:~# firecracker --api-sock /tmp/firecracker.socket  --log-path logs.fifo --level Debug --show-level --show-log-origin
Bad system call

Running Firecracker v0.21.0-838-gb0925803
2021-01-06T08:51:18.250088413 [anonymous-instance:fc_api:INFO:src/api_server/src/parsed_request.rs:146] The API server received a Put request on

[2021-01-07 08:22] gc-plp commented on #2393
@magnate3 in the tests that you did before, are you using the binary built using devtool?

If not, are you by any chance running `cargo build`?

[2021-01-07 08:32] magnate3 commented on #2393
I build like this :
root@ubuntu:~/myfirecracker/firecracker# tools/devtool build
[Firecracker devtool] About to pull docker image fcuvm/dev:v25
[Firecracker devtool] Continue? (y/n) y

[2021-01-07 08:50] gc-plp commented on #2393
@magnate3 what commit ID are you basing your build on? What's the output of `git log -1`?

[2021-01-07 09:08] magnate3 commented on #2393
git log -1
commit b0925803c3c34223d717514da959a07a12ab0e27 (HEAD -> master, origin/master, origin/HEAD)
Author: Diana Popa <dpopa@amazon.com>
Date:   Tue Dec 22 10:44:16 2020 +0200

    CI: add git commit message linter

    Fixes #1231

    Signed-off-by: Diana Popa <dpopa@amazon.com>

[2021-01-07 09:27] gc-plp commented on #2393
@magnate3 I'd like to go back a bit to running strace if possible, I seem to have missed a parameter.

Could you add the `-f` parameter to strace for both runs?

1. `strace -f -o firecracker.output firecracker --api-sock /tmp/firecracker.socket`

2. `strace -f -o firecracker.output firecracker --api-sock /tmp/firecracker.socket --seccomp-level 0`

[2021-01-07 09:35] magnate3 commented on #2393
**root@ubuntu:~/myfirecracker# strace -f -o firecracker.output firecracker --api-sock /tmp/firecracker.socket**
Bad system call
root@ubuntu:~/myfirecracker# cat firecracker.output
10624 execve("/usr/local/bin/firecracker", ["firecracker", "--api-sock", "/tmp/firecracker.socket"], 0xffffe3682448 /* 23 vars */) = 0
10624 mmap(NULL, 592, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0xfff

[2021-01-07 16:03] berciuliviu commented on #1533
Merged in PR #2377.

[2021-01-07 16:03] #1533 closed

[2021-01-07 18:50] gc-plp commented on #2393
@magnate3, what's the output of `cat /sys/devices/system/clocksource/clocksource0/current_clocksource` on your system?

Also, could you update to the latest commit ID and rebuild?

[2021-01-08 02:56] magnate3 commented on #2393
@gc-plp
cat /sys/devices/system/clocksource/clocksource0/current_clocksource
arch_sys_counter

[2021-01-11 10:09] gc-plp commented on #2393
Hi @magnate3. Thanks for all the info! It's been very useful so far.

I do have a few more requests:

Can you run `strace -f -o firecracker.output firecracker --api-sock /tmp/firecracker.socket` on our `0.24` release and again on the binary that you've built locally?

[2021-01-11 10:19] alindima commented on #2104
Thanks again for your research @alexandermerritt. Are you interested in opening a PR for this proposal?

[2021-01-11 11:06] magnate3 commented on #2393
@gc-plp  my branck is v0.24.0
root@ubuntu:~/myfirecracker/firecracker# git reset --hard v0.24.0
HEAD is now at 74a5731f Update cargo lock.

[2021-01-11 11:38] gc-plp commented on #2393
@magnate3 could also run the same `strace` test with the [prebuilt `0.24` release](https://github.com/firecracker-microvm/firecracker/releases/download/v0.24.0/firecracker-v0.24.0-aarch64.tgz)?

[2021-01-11 11:50] magnate3 commented on #2393
@gc-plp  ok,
strace -f -o firecracker.output ./firecracker-v0.24.0-aarch64  --api-sock /tmp/firecracker.socket
Bad system call

cat firecracker.output
35538 execve("./firecracker-v0.24.0-aarch64", ["./firecracker-v0.24.0-aarch64", "--api-sock", "/tmp/firecracker.socket"], 0xffffde786688 /* 23 vars */) = 0
35538 mmap(NULL, 592, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0xffffa527100

[2021-01-11 13:01] alindima commented on #2393
Thanks @magnate3 for reporting this issue and giving us all the requested information.

The Firecracker process is terminated by the `clock_gettime` syscall, which is called with `CLOCK_MONOTONIC` and then with `CLOCK_REALTIME`. As of Firecracker v0.24.0, the default seccomp allowlist only allows `clock_gettime` with the `CLOCK_PROCESS_CPUTIME_ID` option: https://github.com/firecracker-microvm/fir

[2021-01-11 14:28] serban300 commented on #1683
Resolving this issue since #2331 was merged

[2021-01-11 14:28] #1683 closed

[2021-01-11 14:36] alindima commented on #2393
The PR addressing this issue is merged, please confirm that it fixes your problem.
Run a `git reset --hard upstream/master` and rerun the reproduction scenario.

[2021-01-11 14:57] serban300 commented on #1164
Hi @wkozaczuk ,

I did a bit more research on this.

As far as I understand, indeed the process counts as fully destroyed only when the parent fetches the exit status via `wait4` [here](https://github.com/strace/strace/blob/70dc78497aca1b85f7412e11f46bd5dfd66fa306/strace.c#L3156). But this seems correct, since from what I understand `wait4` returns only after the `kvm_destroy_vm()` method has fini

[2021-01-11 14:57] #1164 closed

[2021-01-11 15:47] #2355 closed

[2021-01-11 16:58] dianpopa commented on #2268
@KarthikNedunchezhiyan is right, this error appears when Firecracker does not have adequate permissions for opening `/dev/kvm`. Try to run Firecracker with the suggestion from our [getting-started](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md#prerequisites) guide. if this does not solve your issue, feel free to re-open it for more details. Be aware that se

[2021-01-11 16:58] #2268 closed

[2021-01-11 17:14] dianpopa commented on #2119
Fixed by #2120

[2021-01-11 17:14] #2119 closed

[2021-01-11 17:19] dianpopa commented on #1853
Implemented in #2370

[2021-01-11 17:19] #1853 closed

[2021-01-11 17:29] dianpopa commented on #1289
Given that we now have a branch for each release, we are no longer affected by this problem.

[2021-01-11 17:29] #1289 closed

[2021-01-11 18:43] alexandermerritt commented on #2104
Hello. By PR @raduweiss and @alindima you are asking for specific code changes that implement a solution? The text I wrote above with code is a hack, not something that would be put into a real PR, and was meant to highlight the mechanism of my current ad-hoc solution. As I wrote, the two methods I have do not seem to be sustainable, and another approach maybe should be sought out. I am unaware wh

[2021-01-11 19:41] jeromegn commented on #2325
This is now been fixed in #2403.

Thanks to @georgepisaltu's relentless work over the past few weeks! I'm glad we've been able to work so closely with somebody on this particular issue.

I made sure to test with both stable firecracker and a build off of the latest commit to confirm this was indeed fixed.

[2021-01-11 19:41] #2325 closed

[2021-01-12 00:52] magnate3 commented on #2393
@alindima  thanks,but there is still the same problem

root@ubuntu:~/myfirecracker/firecracker# git branch --all
  all
* master
  remotes/origin/HEAD -> origin/master
  remotes/origin/feature/aarch64_snapshot
  remotes/origin/feature/balloon
  remotes/origin/feature/diff-snapshot
  remotes/origin/feature/file_based_seccomp
  remotes/origin/feature/gdb_server
  remotes/origin/feature/macvtap
  remo

[2021-01-12 07:53] alindima commented on #2393
Can you please first run a `git fetch --all` and `git reset --hard upstream/master`. If the issue persists, please run Firecracker with strace, like so: `strace -f -o firecracker.output firecracker --api-sock /tmp/firecracker.socket`, to see what the faulty syscall is now.

[2021-01-12 08:07] #2187 closed

[2021-01-12 08:23] alindima commented on #2104
Hi. Sorry if we were not clear enough. We aren't planning on closing this issue without a fix, since we see the value in this proposal.

We were just wondering if you are interested to contribute to fix this issue or should we begin to do this ourselves.
We haven't managed to find a clear solution yet for this problem, but we will start working on it.

I'll update the issue with more details once

[2021-01-12 08:41] pclesr opened #2407 "Commit 76528ea4 aarch64: setup cache topology regression"
# Describe the bug

Commit 76528ea4 aarch64: setup cache topology causes a regression on systems that do not have FDT cache entries.

## To Reproduce

On an aarch64 system with a minimal FDT, run without this commit.

Then, add the commit. Firecracker will fail with:
`2021-01-08T13:40:26.079775900 [vmnetns:main] Building VMM configured from cmdline json failed: ConfigureSystem(SetupFDT(ReadCacheIn

[2021-01-12 08:42] magnate3 commented on #2393
@alindima  thanks, but tte problem still exist

root@ubuntu:~/myfirecracker/firecracker# **git fetch --all**
Fetching origin
remote: Enumerating objects: 95, done.
remote: Counting objects: 100% (95/95), done.
remote: Compressing objects: 100% (49/49), done.
remote: Total 98 (delta 60), reused 76 (delta 46), pack-reused 3
Unpacking objects: 100% (98/98), done.
From https://github.com/firecracker-m

[2021-01-12 08:47] alindima commented on #2393
Looking into the log you pasted, you are running firecracker v0.24, not the latest Firecracker: `strace -f -o firecracker.output ./firecracker-v0.24.0-aarch64 --api-sock /tmp/firecracker.socket`

You copied the latest binary into `/usr/local/bin`, but then used `firecracker-v0.24.0-aarch64`.
Try executing `firecracker` instead of `firecracker-v0.24.0-aarch64` in the strace command

[2021-01-12 08:58] magnate3 commented on #2393
@alindima  nice,thank you .This is caused by my carelessness.now, the problem is solved.
         Starting Daily apt download activities...
[  OK  ] Started Serial Getty on ttyS0.
[  OK  ] Reached target Login Prompts.
[  OK  ] Started Discard unused blocks.
[  OK  ] Started fcnet.service.
[  OK  ] Started OpenBSD Secure Shell server.
[  OK  ] Reached target Multi-User System.
[  OK  ] Reached tar

[2021-01-12 09:01] alindima commented on #2393
great to hear, thanks

[2021-01-12 09:01] #2393 closed

[2021-01-12 10:16] berciuliviu commented on #2188
Hey @jain98! I wonder if you are still looking/working on this issue? If not, I could tackle it since I've got some time on my hands.
Thanks!

[2021-01-12 12:54] berciuliviu commented on #1884
Added in [2342](https://github.com/firecracker-microvm/firecracker/pull/2342)

[2021-01-12 12:54] #1884 closed

[2021-01-12 16:22] jain98 commented on #2188
@berciuliviu feel free to take up the issue.

[2021-01-13 09:15] #2068 closed

[2021-01-13 11:55] dianpopa commented on #2407
Hi @pclesr ,

Thanks for logging an issue for this problem. I will post a PR with a fix as soon as I get some bandwidth. Of course that you are also welcome to post a PR with the fix if you want to.

[2021-01-14 14:26] berciuliviu commented on #2188
Linked with [2223](https://github.com/firecracker-microvm/firecracker/pull/2223)

[2021-01-14 14:46] berciuliviu commented on #2188
Closed as duplicate to issue [2207](https://github.com/firecracker-microvm/firecracker/issues/2207)

[2021-01-14 14:46] #2188 closed

[2021-01-14 14:47] berciuliviu commented on #2207
Relates to [2223](https://github.com/firecracker-microvm/firecracker/pull/2223)

[2021-01-19 03:02] ruishawn opened #2415 "[Feature Request] Do we plan to support mips platform"
# Feature Request
We can run fireacker on x86_64 and arm64 platform,  do we have plan to support mips platform?

## Checks

- I want to generate a binary file for mips platform, but failed.

[2021-01-19 04:04] terrificdm opened #2416 "[Feature Request] Title`[Author TODO: A clear and concise description of how you would like the feature to work.]`"
# Feature Request

`[Author TODO: Why is this feature request important? What are the use cases?
Please describe.]`

## Describe the desired solution

`[Author TODO: A clear and concise description of how you would like
the feature to work.]`

## Describe possible alternatives

`[Author TODO: A clear and concise description of any alternative solutions
or features you have considered.]`

`[Author

[2021-01-19 06:04] #2416 closed

[2021-01-19 06:09] sandreim commented on #2415
Hi @ruishawn! Currently MIPS is not supported, but that doesn't mean we can't add it to our roadmap if we discover a compelling usecase. Can you give us some context and details about your usecase for Firecrackerer on MIPS?

[2021-01-20 11:42] KarthikNedunchezhiyan opened #2417 "[Bug] Not able to launch firecracker with `--node 1` jailer argument"
# Describe the bug

I was able to spawn firecracker successfully if the jailer argument has `--node 0` but it is getting failed (error provided below) for `--node 1` constantly. But I have sufficient cpus and memory in all numa nodes.

[code]

I have come across this https://github.com/firecracker-microvm/firecracker/issues/835 but In my case i have sufficient memory and cpus (provided the data in

[2021-01-20 12:28] sandreim commented on #2417
Hi @KarthikNedunchezhiyan. It seems that the error pops up even if there is enough memory available on both nodes. We'll look into it and get back to you soon.

[2021-01-20 13:18] sandreim commented on #2417
You are using an unsupported host kernel version: 3.10.0-957.21.3.el7.x86_64.

Minimum supported host kernel version is 4.14, please see FAQ here: https://github.com/firecracker-microvm/firecracker/blob/master/FAQ.md#what-operating-systems-are-supported-by-firecracker

PS: This is different than issue #835. The error is returned by the KVM_CREATE_VCPU ioctl.

[2021-01-20 13:18] #2417 closed

[2021-01-20 13:46] sandreim opened #2418 "Update the KVM capability checks."
Right now, the capabilities we check against are outdated -  https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/vstate/system.rs#L62

We need to iterate all KVM APIs currently used in Firecracker and update the capability list.

[2021-01-20 16:51] #2181 closed

[2021-01-20 19:39] binoychitale commented on #2418
Hi @sandreim , I'd like to pick this up.
If I understand correctly, we want to perform a check for all the APIs from the `kvm_ioctls` wrapper that we are using.  (i.e methods being called on the various kvm [structs](https://docs.rs/kvm-ioctls/0.6.0/kvm_ioctls/#structs))

[2021-01-20 20:20] acatangiu commented on #2418
@binoychitale that is correct. Some of the kvm APIs depend on certain kvm capabilities, the capability dependencies are clearly documented in the public kvm API.

This issue tracks work in Firecracker to check the availability of those capabilities at microVM start-time.

[2021-01-22 07:27] alindima opened #2422 "Add JSON linter test"
Given the fact that performance baselines are going to be formatted as JSON files (example [test_block_performance](https://github.com/firecracker-microvm/firecracker/blob/master/tests/integration_tests/performance/configs/block_performance_test_config_raw.json)), Firecracker should have a JSON linter/formatter, so that we ensure proper style and readability.

We should probably install a linter,

[2021-01-22 08:46] #2418 closed

[2021-01-22 09:52] #2293 closed

[2021-01-24 09:58] MalteJ commented on #1338
is the pre-provisioned drive strategy, like described in the opening comment by @xibz, the way to go when you want to attach/disattach drives during runtime of the VM?

[2021-01-24 10:38] Tobbeman commented on #386
Is this still of interest?

[2021-01-24 12:31] Tobbeman commented on #2356
I can take a look if maintainers want the feature in the code base.

An /export endpoint sounds like a good idea to me.

[2021-01-25 09:49] sandreim commented on #2356
Thanks for the bias for action @Tobbeman. An `/export` endpoint also sounds good to me, but I would like to hear how the @firecracker-microvm/compute-capsule folks think about this as well.

[2021-01-25 09:53] sandreim commented on #1338
@MalteJ this is mostly the gist of it. Take a look at the Firecracker [patch block docs](https://github.com/firecracker-microvm/firecracker/blob/master/docs/api_requests/patch-block.md). Also, what @acatangiu is something we would also do, but currently we have no plans for it.

[2021-01-25 10:41] dianpopa opened #2425 "[Improvement] Snapshotting on ARM64 works only for GICv3"
# Describe the bug

Currently the code saving and restoring the state  of the GIC registers works only on GICv3. However, all other functionality is supported on GICv2 too. We would like to add support for being able to save and restore the state of a microVM on ARM64 using GICv2.

## To Reproduce

1. Start Firecracker via the usual process on an GICv2 enabled host
2. Try to run following commands

[2021-01-25 12:42] georgepisaltu commented on #2356
I think the endpoint solution proposed by @Tobbeman is a great way to do this, should also be straightforward to implement.

[2021-01-25 12:56] dianpopa commented on #2356
It would be a great feature to have in Firecracker. An `/export` endpoint sounds good to me. @Tobbeman thanks for the interest in contributing!

[2021-01-25 12:59] sandreim commented on #2356
@Tobbeman looks like `/export` is the way to go. We're happy to review the PR once it is ready 😄

[2021-01-25 19:12] Tobbeman commented on #2356
Great, I'll look into it :+1:

[2021-01-26 11:16] acatangiu commented on #2356
An `API` endpoint sounds good to me too. The URL name will depend on what information it will offer which in turn depends on the implementation.

There have been two options thrown around on this thread:
1. Exporting current configuration
2. Exporting a log of historic configuration commands

A quick brain-dump on approaching each of these two options:
1. Firecracker does not keep per-se configura

[2021-01-27 09:16] berciuliviu opened #2429 "[Bug] Snapshot tests cleanup isn't done properly"
# Describe the bug

When running snapshot Pytests inside a docker container using devtool, the mem and state snapshot files do not get deleted when the test is over. This leads to the disk space getting filled, demanding a container restart when there is no more free space, as tests can't be run anymore.

## To Reproduce

1. Start a devtool container: `sudo tools/devtool shell -p` (the following s

[2021-01-27 10:15] luminitavoicu commented on #1268
Closing this, as Firecracker now supports 19 devices per microVM, which is enough for the customer use cases. Please reopen if you have any additional comments.

[2021-01-27 10:15] #1268 closed

[2021-01-28 00:09] Twister915 commented on #2422
I've written a version of this, but I thought it made more sense to just try to find JSON files and parse them with python, failing if the JSON is malformed. This does not check that the JSON is "pretty," but we could expand it to support that by doing something essentially like: `file_contents == json_pretty_print(json_parse(file_contents))`.

Please advise if you'd like to use an external tool i

[2021-01-28 11:50] #2104 closed

[2021-01-28 12:05] dianpopa commented on #2422
Hi @Twister915 ,

As far as my concern, your PR is enough for the moment. In my opinion, It would actually be a bit risky, since in the future we might have big jsons (for example a json used in performance testing) that we do not intend to pretty print. I will review in detail your PR shortly, thanks for the contribution!

[2021-01-28 12:26] Vesnica opened #2433 "[Feature Request] Dynamically disable/enable virtio_net LRO/CSUM"
# Feature Request

I'm trying to bind a XDP program to eth0 in firecracker vm. like this:
`ip -force link set dev eth0 xdpdrv obj bpf_xdp.o sec from-netdev`

But it failed with message:
`Error: virtio_net: Can't set XDP while host is implementing LRO/CSUM, disable LRO/CSUM first`

ethtool produce the following message:
[code]

Because `rx-checksumming` and `large-receive-offload` are `fixed`，so I

[2021-01-28 12:41] alindima commented on #2422
Actually, even for lengthy JSONs, like the ones for performance testing baselines, we should have them pretty-printed. I think readability is important here as well, since some portions of those files are manually edited.

As you suggested @Twister915, we could simply compare the result of something like `json.dumps(indent=4)` to the actual JSON file.

This will however not have the advantage of c

[2021-01-28 12:45] sandreim commented on #2433
Hi @Vesnica. I understand that this a limitation for your usecase. We'll get back to you once we understand what are the options to enable it. Are you interested in contributing the code changes?

[2021-01-28 13:12] gc-plp commented on #2422
I think that we're being over cautious here.

A JSON file should not be just lying around in our repo - it should have a purpose. That purpose should be either serving tests, baselines or simple examples for running Firecracker.

JSON files should be validated by actually being interpreted by the functionality that depends on having them in the repo. For example, the performance tests do reference

[2021-01-28 15:48] Twister915 commented on #2422
@gc-plp

[code]

This is true, I agree. An invalid JSON, without this new code, can be put into the repository.

The only argument I see for still having this test is to have nicer error messages, clearly saying "this JSON file at `xyz.json` is invalid" instead of a failure in a different test.

[2021-01-29 00:37] Vesnica commented on #2433
Unfortunately, I don’t know much about Rust or network device drivers.

The demand of this feature is not urgent at the moment, you can mark it as a low priority.

[2021-01-29 11:38] sandreim opened #2434 "Upgrade Rust toolchain to 1.49"
Main highlight of this upgrade is the aarch64-unknown-linux-gnu target Tier 1 support.

More details here: https://blog.rust-lang.org/2020/12/31/Rust-1.49.0.html

[2021-01-29 11:51] georgepisaltu commented on #2172
Hi @pclesr,

We decied to implement two caching mechanisms: unsafe (no flushing mechanism) and writeback (on-demand flushing), which is very similar to your PR.

The unsafe option will still advertise the `VIRTIO_BLK_T_FLUSH`, but it will still be a `noop`, which is the same behavior as now.

The writeback option will add the actual flush through `file.sync_all` (or a similar method which uses `fs

[2021-01-29 15:06] gc-plp commented on #2422
We will address potential errors as part of the test failures. An authors responsibility is to make sure that tests pass before submitting.

[2021-01-29 15:06] #2422 closed

[2021-01-31 11:19] Tobbeman commented on #2356
Hello, sorry for slow response, I have not been able to put as much time as I wanted into this.

I'm not very familiar with the code-base, so I have mostly been experimenting so far.

My first naive implementation was to take the running [VmResource](https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/resources.rs#L79) and transform it into [VmmConfig](https://github.com/fir

[2021-01-31 17:08] Tobbeman commented on #2356
I just recalled why I started going for option 1.
One drawback with option 2 would be having to keep track in each separate config endpoints when/if to update the history. That is something that is easily implemented but might be annoying to maintain. Would a new config endpoint be introduced, it could easily be overlooked to also update the config history.

I'll see if I can create a middleware t

[2021-01-31 18:56] lyuyuan commented on #1670
Hi, I'd like to help with this issue. To clarify, are the action items basically,
1) remove [firecracker/src/micro_http](https://github.com/firecracker-microvm/firecracker/tree/master/src/micro_http) from firecracker repo, and
2) add [main branch of firecracker-microvm/micro-http](https://github.com/firecracker-microvm/micro-http) in [here](https://github.com/firecracker-microvm/firecracker/blob/5

[2021-02-01 11:59] acatangiu commented on #2356
I think keeping per-endpoint history is overkill. A simple global record of all configuration commands should work good enough I think.

If they're interested in a certain endpoint, users can always filter the big json for interested endpoints

[2021-02-01 12:40] acatangiu commented on #1670
@lyuyuan that's right. You should also make sure to backport any missing commits from Firecracker to the [firecracker-microvm/micro-http](https://github.com/firecracker-microvm/micro-http).

[2021-02-02 09:02] #2161 closed

[2021-02-03 13:11] alindima commented on #2209
Closing this RFC. [Initial PR](https://github.com/firecracker-microvm/firecracker/issues/2209) with the implementation was merged on the `feature/file_based_seccomp` branch

[2021-02-03 13:11] #2209 closed

[2021-02-03 19:00] radekg commented on #673
Hey @rchatsiri, the clean shutdown does not seem to be doing anything useful on:

[code]

release 0.22.4 using the Alpine 3.8 image used in the quickstart. My vm is stuck in:

[code]

[2021-02-03 21:09] Tobbeman commented on #2356
Sorry, perhaps we misunderstand each other
If we keep a record of the config in api_server, any action that change the config must also change the record, right?

I mean, if we add network config that must also be reflected in the record.
Thus all endpoints must continuously add to the record

[2021-02-04 10:12] acatangiu commented on #2356
I was thinking of a simple version where we just keep all config cmds history.

So:

No need to change anything, just add to the history, users can see history of commands and deduce final config easily.

I see this would be mostly as a debugging/auditing mechanism, and not something used in production so I would keep complexity to a minimum.

[2021-02-08 04:10] lyuyuan commented on #1670
There are two dependencies in the micro-http source,
* [`logger::error`](https://github.com/firecracker-microvm/firecracker/blob/d151f7ec2dc577a3efa9962e6a94e94ff763dc2f/src/micro_http/src/server.rs#L4)
* [`utils::epoll`](https://github.com/firecracker-microvm/firecracker/blob/d151f7ec2dc577a3efa9962e6a94e94ff763dc2f/src/micro_http/src/server.rs#L18)

Any suggestions how to make them independent i

[2021-02-08 10:09] acatangiu commented on #1670
Hi @lyuyuan,

- `utils::epoll` is actually a re-export of [vmm-sys-util::epoll](https://github.com/rust-vmm/vmm-sys-util/blob/master/src/linux/epoll.rs) as you can see [here](https://github.com/firecracker-microvm/firecracker/blob/d151f7ec2dc577a3efa9962e6a94e94ff763dc2f/src/utils/src/lib.rs#L9). So you can just use the `vmm-sys-util::epoll`.
- I see `logger::error` is only used in `fn flush_outgo

[2021-02-08 17:30] raduiliescu opened #2448 "[Bug] Firecracker releases page is not correctly reporting the latest release"
Firecracker releases page is not correctly reporting the latest release. This is based only on a time bases, while it should be based on version.
Currently it shows v0.22.4 as latest release, when v0.24.1 is in fact what we should recommend customers to run.

## To Reproduce

Open https://github.com/firecracker-microvm/firecracker/releases

[2021-02-08 17:38] gc-plp commented on #2448
Seems like this is related to how GitHub is ordering releases.
The releases are ordered by tag date and in our case the latest tag date is marked as the latest release.

I'm not sure if there's another method besides retagging.

[2021-02-08 18:53] iggy commented on #2448
Best bet is to probably add a note to the main README ( https://github.com/firecracker-microvm/firecracker/#getting-started ) that mentions it. I doubt GitHub are going to change the sort order or give projects an option to sort differently.

[2021-02-09 14:07] dianpopa commented on #2407
Hello @pclesr ,

I posted https://github.com/firecracker-microvm/firecracker/pull/2438 which is meant to solve this issue. Do you think you can try it out and see if it solves your problem?

Thanks!

[2021-02-10 01:22] jmillikin-stripe opened #2451 "[Feature Request] vsock with connect-only and port-mapped semantics"
# Feature Request

A fairly common pattern for chroot-based sandboxes is the use of a UNIX socket for guest=>host communication. The general shape is:
* A privileged host service binds a socket at `/run/some-service/some-service.sock`
* The `/run/some-service` dir gets bind-mounted (with `ro`) into the guests.
* When a guest connects, the host process can use UNIX socket credentials to identify th

[2021-02-10 11:33] KarthikNedunchezhiyan opened #2452 "[Bug] logging api used inside the signal handler"
# Describe the bug

As logging API will use lock internally, I suspect using logging API inside the signal handler is not async safe. Let say logging API `error!` implementation is like below

[code]

When the firecracker thread1's execution is at `get-lock` phase and suddenly signal handler is triggered, Signal handler will also try to get lock on `get-lock` phase (because the signal handler is u

[2021-02-10 17:21] Tobbeman commented on #2356
Right, I think I finally understand what you are saying.
Thanks for being patient with me :)

I guess we only need to store configuration changes, right?
So only PUT/PATCH

Question, could we simply change the default logging level or change the level that api_server logs requests?

[2021-02-10 18:09] Tobbeman commented on #2356
Created a draft PR
The payload is currently being escaped excessively but the PR will show my intentions

[2021-02-11 10:52] alindima commented on #2452
Hi. Thank you for logging the issue.
We've looked over the potential bug and it seems that it is indeed a very hard to reproduce bug.

This is also the case for metrics, not just for logging, and it seems to go beyond mutex locks (https://man7.org/linux/man-pages/man7/signal-safety.7.html)

The fix would be to use only async-signal-safe functions in the signal handler.

[2021-02-11 10:58] alindima commented on #2452
Off the top of my head, a possible fix would be to remove the `exit` call from the signal handler, as well as the logging and metrics calls, and replace them with a notification mechanism (an eventfd maybe) that is checked regularly by the emulation thread.

[2021-02-11 11:06] dianpopa commented on #754
Double checked in the kernel code if there is any native way we could use to detect whether a tap device already exists. Could not find one. Closing this since no other viable way to implement the proposed enhancement was found.

[2021-02-11 11:06] #754 closed

[2021-02-11 11:22] raduiliescu commented on #754
You can also use netlink sockets to list the netdevices. But I am not sure if that is allowed through our Seccomp and if we want to allow it.

[2021-02-11 12:42] dianpopa commented on #2451
Hi @jmillikin-stripe! Thank you for the detailed presentation of your usecase. We will dive deep into understanding your use case and will get back to you once we are clear on what it would take to implement the feature.

[2021-02-11 13:04] dianpopa commented on #754
oh  that is indeed an interesting alternative. But yeah, extending the seccomp filter is something we should be careful about and apart from this, I see that making use of netlink sockets require quite a large amount of code and I am not sure that the value it brings is worth the effort of developing and maintaining it.

[2021-02-11 13:48] pclesr commented on #2407
Thank you for fixing this. I can now boot on a machine that does not support those fields. The log contains the following:
[code]

Maybe not all the error logs are required; maybe just log the first one since after that it is doubtful that the others will be there as well, but that's just a nit.

[2021-02-11 17:08] KarthikNedunchezhiyan commented on #2452
Using eventfd to offload the non-async signal task from the signal handler is a common way but one challenge in offloading the task to another handler is to pass sufficient information(like si_signo, si_code) to another handler.

[2021-02-12 13:34] raduiliescu commented on #1933
I am renaming this item and I'm adding it on the Firecracker roadmap as a research item.

[2021-02-12 14:10] dianpopa commented on #288
The implementation of the initrd support in Firecracker shows us that using compressed images actually increases the boot time since there is some extra time added by the actual decompression of the kernel itself. The description of this [PR](https://github.com/firecracker-microvm/firecracker/pull/670) confirms this behavior when using bzImage compressed images.

[2021-02-12 14:10] #288 closed

[2021-02-12 14:13] dianpopa commented on #2222
Hi @RDaneelOlivav

Are you still facing this problem? Is still something we can help with?

[2021-02-12 14:27] dianpopa commented on #2052
Hi @Pennyzct ,

Did you figure out what was the issue? Can we still help with guidance?

[2021-02-12 14:40] dianpopa commented on #1999
Hello @mazzy89 ,

Sorry for the late response. Can you provide more detail about what you want to achieve. What do you mean by running Firecracker as a Docker container? What base image are you referring to?

[2021-02-12 14:42] mazzy89 commented on #1999
Hello @dianpopa

I've actually achieved that.

I was able to spin up Firecracker inside a Docker container and bootstrap Flatcar Linux as OS.

Thank you for replying here

[2021-02-12 14:53] dianpopa commented on #1999
Oh that is really cool!
If you ever feel like it, you could help share the knowledge of your achievement in a PR. A great place for this would be our [dev setup documentation](https://github.com/firecracker-microvm/firecracker/blob/1026a7c11fa8aab9b61e79ae0315439eb8e053a5/docs/dev-machine-setup.md).

Thank you!

[2021-02-12 14:53] #1999 closed

[2021-02-12 14:55] mazzy89 commented on #1999
Sure. I would like to share this achievement in a PR. Thanks

[2021-02-12 15:00] dianpopa commented on #1972
Hi,

Indeed Firecracker can boot without a block device and this is tested implicitly by [this integration test](https://github.com/firecracker-microvm/firecracker/blob/master/tests/integration_tests/functional/test_initrd.py#L19). You can see there that we do not attach anything apart from a serial that helps with testing that Firecracker has booted successfully. Additionally, the ability to boot

[2021-02-12 15:00] #1972 closed

[2021-02-12 15:02] dianpopa commented on #1966
Hi @ustiugov ,

Are you still encountering this behavior when experimenting with the `SendCtrlAltDel ` command?

[2021-02-12 15:21] #2172 closed

[2021-02-12 15:21] #2207 closed

[2021-02-12 15:27] ustiugov commented on #1999
I'd like to share a relevant achievement.

We have set up GitHub Actions CI environment for integration testing of an entire FaaS (Knative/Kubernetes) cluster with multiple Firecracker MicroVMs in a Docker container (by extending [kind](https://kind.sigs.k8s.io/) framework for K8s CI/CD).

Credit to @shyamjesal.

[2021-02-12 15:27] dianpopa commented on #1895
The documentation offers details on how to merge diff snapshots: https://github.com/firecracker-microvm/firecracker/blob/master/docs/snapshotting/snapshot-support.md#creating-snapshots. Closing this.

[2021-02-12 15:27] #1895 closed

[2021-02-12 15:29] ustiugov commented on #1966
@dianpopa Yes, we tried the workaround that @acatangiu suggested but it didn't work for us. It is however very low priority for us as of now.

[2021-02-12 15:37] dianpopa commented on #1812
This relates to the versionize_derive crate and so this was moved here: https://github.com/firecracker-microvm/versionize_derive/issues/14.

[2021-02-12 15:37] #1812 closed

[2021-02-12 15:38] ustiugov commented on #1999
apologies, here is the [link to the code](https://github.com/ease-lab/vhive/pull/107)

[2021-02-12 15:41] dianpopa commented on #1808
We have added performance tests for network latency and network tcp throughput: https://github.com/firecracker-microvm/firecracker/tree/master/tests/integration_tests/performance.

[2021-02-12 15:41] #1808 closed

[2021-02-12 15:45] dianpopa commented on #1788
The fix reached Firecracker by upgrading the versionize_derive crate.

[2021-02-12 15:45] #1788 closed

[2021-02-12 15:47] dianpopa commented on #1787
The fix is in Firecracker by upgrading to the latest `versionize_derive`.

[2021-02-12 15:47] #1787 closed

[2021-02-12 16:01] dianpopa commented on #1601
We are documenting the reason for this behavior in our [FAQ](https://github.com/firecracker-microvm/firecracker/blob/master/FAQ.md#how-can-i-gracefully-reboot-the-guest-how-can-i-gracefully-poweroff-the-guest).

[2021-02-12 16:19] dianpopa commented on #1421
This was implemented by periodically running cargo-audit against Firecracker.

[2021-02-12 16:40] acatangiu commented on #1999
We should find a better place for these than comments on this issue 🚀 🥇

[2021-02-12 16:55] dianpopa commented on #1725
This was implemented in https://github.com/firecracker-microvm/versionize/pull/8/files.

[2021-02-12 16:55] #1725 closed

[2021-02-12 17:09] dianpopa commented on #1035
Hi @jtestard ,

Firecracker added support for creating a snapshot of a microVM and later start a new one from that. This is still in developer preview but if you are interested you can read the details [here](https://github.com/firecracker-microvm/firecracker/blob/master/docs/snapshotting/snapshot-support.md#snapshotting-in-firecracker).

[2021-02-12 17:09] #1035 closed

[2021-02-15 07:32] alindima commented on #1601
@dianpopa Documenting this means that we are aware of the issue, not that we know what the underlying problem is. I suggest to keep this open

[2021-02-15 07:53] alindima commented on #1421
Hmm @dianpopa, AFAIK this issue was tracking a mechanism for auditing the dependency tree in terms of removing dependencies that are not absolutely necessary in order to minimise the amount of external code we use.

Running cargo-audit against Firecracker is only warning us of any known security vulnerabilities.

@raduweiss is that right? should we keep this issue open?

[2021-02-15 15:59] serban300 commented on #2415
Hi @ruishawn ! Sorry, just a quick ping. Could you offer us more details on your use case for Firecracker on MIPS ?

[2021-02-15 18:09] serban300 commented on #1601
I think it's worth keeping it opened, but I would lower the priority though.

[2021-02-16 06:33] sandreim commented on #1601
@serban300 👍 as we are also working on ACPI and it is probably a low hanging fruit to add the power management knobs. @acatangiu can you share your input here ?

[2021-02-16 08:56] acatangiu commented on #1601
Once we have ACPI PM device later this year, `shutdown` command will work properly. `halt` command will probably still not close the `firecracker` process. We'll see about that when we get there.

[2021-02-16 13:46] dianpopa commented on #2407
@pclesr I addressed your feedback regarding logging. Let me know if there is any issue left. Thanks!

[2021-02-16 15:43] gc-plp opened #2460 "Add smoke tests for statistics module"
The statistics module is currently not tested as part of the CI cycle.
If a PR breaks core functionality, we do not detect that during a CI run.

We need a smoke test that covers the statistics module.

[2021-02-18 14:25] alindima commented on #2448
I think a good workaround here would be to mention in the Readme the recommended, latest version, and maybe also as @iggy said, a note about how github orders releases.

[2021-02-18 14:31] gc-plp commented on #2448
The latest version could be integrated as part of the [`devtool prepare_release`](https://github.com/firecracker-microvm/firecracker/blob/master/tools/devtool#L531) command.

[2021-02-18 14:36] gc-plp commented on #2448
We should also take into account the fact that the instructions in our [getting started](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md#getting-the-firecracker-binary) page will download the incorrect latest release.

[2021-02-18 14:36] berciuliviu commented on #2023
Completed in #2457

[2021-02-18 14:36] #2023 closed

[2021-02-18 14:37] alindima commented on #2448
Very good callouts @gc-plp. Let's include these in the scope of this issue

[2021-02-18 15:57] alindima commented on #2452
Fixed in #2459

[2021-02-19 08:53] sandreim opened #2464 "Firecracker should not exit due to SIGPIPE."
Recently we discovered that this can happen if the vsock emulation attempts to write() some guest app bytes to the UDS connection after it was closed by the host application.

This is not the intended behavior.

[2021-02-19 12:58] sandreim opened #2467 "Incorrect ARM snapshot version support in `--version` output"
[code]

v0.23.* do not implement ARM snapshots.

[2021-02-22 16:11] #2464 closed

[2021-02-22 17:15] sandreim opened #2469 "Research VM topology."
VMMs can expose a topology the same way physical machines do. The topology Firecracker presents can have impact on guest scheduler decisions and can affect performance.

- CPU: threads, cores, dies, packages and sockets
- Cache hierarchy - L1/L2/L3
- NUMAness

[2021-02-23 09:09] andreeaflorescu commented on #2469
There is an issue that was talking about the cache topology as well, with some useful links: https://github.com/firecracker-microvm/firecracker/issues/1599

[2021-02-23 09:25] sandreim commented on #2469
Thanks @andreeaflorescu, that link in the issue is really useful. I will probably close this one as duplicate.

[2021-02-23 09:29] #2469 closed

[2021-02-23 09:35] sandreim commented on #1599
The benchmarks are pretty useful here just to get some head start into what to expect. We can try similar benchmarks these in high density environments (1000+ uVMs) where the main focus should be CPU oversubscription.

[2021-02-23 19:58] fidencio opened #2471 "[Feature Request] Help to improve / maintain Kata Containers 2.x CI to testing firecracker"
Kata Containers consider firecraker one of its supported hypervisors.  However, Kata Containers 2.x is not testing firecracker.

I'm here to ask whether someone from firecracker community could take a look at https://github.com/kata-containers/tests/issues/3268, and help Kata Containers to get their tests up-to-date, which would benefit both communities.

[2021-02-23 22:50] fidencio commented on #2471
Hmm. Let me close this one as I was mistaken. We, indeed, need to update the Kata Containers' side, but the update is simple enough that I can take care of.

Sorry for the noise!

[2021-02-23 22:50] #2471 closed

[2021-02-24 09:43] sandreim commented on #2155
We've implemented CPU vendor id checks. Closing this.

[2021-02-24 09:43] #2155 closed

[2021-02-24 09:52] sandreim commented on #2010
This needs to be implemented in a separate long duration CI pipeline.

[2021-02-24 09:53] sandreim commented on #2009
This needs to be implemented in a separate CI pipeline.

[2021-02-24 09:56] sandreim commented on #1339
Closing, this is a duplicate of #2046

[2021-02-24 09:56] #1339 closed

[2021-02-24 09:58] sandreim commented on #1256
Nothing to do here, this is due to workspace structure.

[2021-02-24 09:58] #1256 closed

[2021-02-25 22:07] yilmazsen opened #2473 ""for d in bin etc lib root sbin usr; do tar c "/$d" | tar x -C /my-rootfs; done" is not working in container of Docker"
Hello Dear Community of Firecracker,

Nowadays, I am working on firecracker microvm's. However, i saw that issue:
When I try to build new image from docker image this command **"for d in bin etc lib root sbin usr; do tar c "/$d" | tar x -C /my-rootfs; done"** does not work. So I attempted to change this command like that **"for d in bin etc lib root sbin usr; do tar c "/$d" || tar x -C /my-rootfs;

[2021-02-28 06:35] twitchyliquid64 commented on #2473
What kernel, kernel command line etc did you use?

[2021-02-28 17:36] yilmazsen commented on #2473
Thank you for your reply, I was using amazon' hello-vmlinux.bin (https://s3.amazonaws.com/spec.ccfc.min/img/hello/kernel/hello-vmlinux.bin).  By the way I was using Dockerfile with alpine image.  I solved my problem. I will type here what is my solution. @twitchyliquid64

[2021-02-28 22:49] twitchyliquid64 commented on #2473
Do you get any console messages?

And is your rootfs in the correct format? If you are `tar`'ing the files, I'm not sure if that works (the [example here](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md#running-firecracker) uses an ext4 filesystem)

[2021-03-02 08:12] gc-plp commented on #2473
Hi @yilmazsen. I assume that you're referring to [this](https://github.com/firecracker-microvm/firecracker/blob/master/docs/rootfs-and-kernel-setup.md#creating-a-rootfs-image) example from the Firecracker repository, right?

Could you give us more details on what did not work when trying out the commands in the guide? What were the error messages?

[2021-03-02 18:30] yilmazsen commented on #2473
I am explaining that problem:

when we create a rootfs (https://github.com/firecracker-microvm/firecracker/blob/master/docs/rootfs-and-kernel-setup.md#creating-a-rootfs-image) image for our app. Such as nginx, I saw that problem. I followed these instructions:

[code]

<img width="671" alt="Screen Shot 2021-03-02 at 21 19 49" src="https://user-images.githubusercontent.com/3442583/109695745-5456f90

[2021-03-03 08:36] gc-plp commented on #2473
@yilmazsen, yes the messages are expected, but these are not errors.

Glad to know that the rootfs image eventually worked. Since this was sorted out, can we close the issue?

[2021-03-04 14:46] raduweiss commented on #1421
Just got around to reading this now. @alindima that's right. I'm reopening this since the the intention was also to look at our dependency tree and see if there are sections that we can do without.

[2021-03-04 14:56] raduweiss opened #2476 "[Snaps] #snapsafe support via VMGenID on ACPI"
# Feature Tracker

This is a feature tracking issue for the work to enable Firecracker users to safely and efficiently use snapshots [1] by adding VMGenId counter as a back-end to SysGenID [2].

## Describe the desired solution

We are starting by researching how to implement VMGenID via ACPI but without adding PCI support to Firecracker.

## Describe possible alternatives

We will look at other o

[2021-03-04 15:01] raduweiss commented on #1182
Added linux-loader and event-manager to the list.

[2021-03-04 15:19] raduweiss commented on #1600
We're starting to prototype this out now (we'll post some details here once we have some outcomes).

[2021-03-04 15:24] raduweiss commented on #2057
Looks like everything here has been resolved for a few months.

[2021-03-04 15:24] #2057 closed

[2021-03-04 15:40] raduweiss opened #2477 "[Perf] Use virtio packed queues to improve Firecracker emulated IO/network performance"
# Feature Request

Improve Firecracker emulated network/IO performance via virtio packed queues.

## Describe the desired solution

Use [virtio packed queues](https://www.redhat.com/en/blog/packed-virtqueue-how-reduce-overhead-virtio) to improve Firecracker emulated IO performance. This should be transparent to Firecracker users.

## Describe possible alternatives

There are many approaches to imp

[2021-03-04 15:42] raduweiss commented on #2477
Looks like this only provides a 2% improvement so it's not a low hanging fruit. @serban300 can you paste the data & conclusions of your investigation?

[2021-03-04 15:53] serban300 commented on #2477
I tried 2 test scenarios. For both of them I used a m5d.metal machine.

**Note:** The `bitrate` results are rounded to 0 decimals, the `vmm thread load` and `bitrate / vmm thread load` results are rounded to 2 decimals. The rounding can lead to inexact numbers for the `bitrate / vmm thread load` metric.

## Scenario #1 ##

We start a number of microVMs with 8vCPUs and 16GB of RAM each. All the mic

[2021-03-04 15:54] serban300 commented on #2477
This is not a low hanging fruit, but we also don't have enough data to say that it's not worth supporting. We will postpone it for a deeper investigation later.

[2021-03-04 16:02] raduweiss opened #2478 "[Perf] Use virtio event notification supression to improve Firecracker emulated IO/network performance"
# Feature Request

Improve Firecracker emulated network/IO performance via virtio event notification suppression.

## Describe the desired solution

Use virtio event notification suppression to improve Firecracker emulated IO performance. This should be transparent to Firecracker users.

## Describe possible alternatives

There are many approaches to improving Firecracker emulated IO/network perfo

[2021-03-04 16:26] raduweiss opened #2479 "[Devel] Firecracker full-host performance tests"
# Feature Request

We currently measure and guard against single-dimension performance regressions (e.g., network throughput). However, we don't do the same for performance in full-host at-load multi-dimension scenarios. We should!

## Describe the desired solution

TBA, but what we need is to have a way to configure test that fill up a host with microVMs, and run some specific mix of while measur

[2021-03-04 17:04] raduweiss opened #2480 "[Hardening] Formally verify 2 Firecracker devices"
# Feature Request

For software like Firecracker, formally verification techniques for guest-facing attack surfaces should enhance our security posture.

## Describe the desired solution

One way to get started here is by applying [property testing](https://altsysrq.github.io/proptest-book/intro.html) to devices. We'll aim for having Proptest tests that cover 2 devices in 2021, and run at least on

[2021-03-04 17:16] raduweiss opened #2481 "[Platforms] Update Firecracker Linux Kernel support policy & Linux kernel testing"
# Feature Request

Firecracker currently supports Linux kernel 4.14+ for both guests and hosts. We need to improve this policy since some of the upcoming features won't work with older kernel versions.

## Describe the desired solution

We in the early stages of thinking about this. Any input is welcome!

Whatever we do, we'll have to end up testing on more kernel versions, including at least one

[2021-03-04 18:44] kzys opened #2482 "[Bug] Renaming target_mb and amount_mb to target_mib and amount_mib"
# Describe the bug

[Memory ballooning](https://github.com/firecracker-microvm/firecracker/blob/master/docs/ballooning.md) API is taking MB-based parameters (target_mb and amount_mb). However MachineConfiguration has been having mem_size_mib, which is MiB-based.

It would be better to use MiB throughout Firecracker for consistency.

## To Reproduce

N/A

## Expected behaviour

Firecracker uses eit

[2021-03-04 18:56] yilmazsen commented on #2473
@gc-plp of course , you can close this issue but you should add more details about this command "for d in bin etc lib root sbin usr; do tar c "/$d" | tar x -C /my-rootfs; done".  Some of the people might be confused about it.

[2021-03-05 03:21] LegNeato opened #2483 "Add stepping ability"
# Feature Request

Often you'll want to pause a VM and then run it for a set amount of wall clock time, cpu time, or cpu instructions and then pause it again.

## Describe the desired solution

New api, which allows a stopped / paused vm to run for a set number of cycles or time and then stop / pause automatically. Perhaps an optional callback should be used so a supervisor process doesn't have to

[2021-03-05 08:35] alindima commented on #1177
Improvements are being developed on the `feature/file_based_seccomp` branch. This issue will be closed once we merge it into mainline

[2021-03-05 09:34] gc-plp commented on #2483
Hi @LegNeato, thanks for your interest in Firecracker!

Could you describe a use case where this feature would be applicable?

While running for a set amount of time aka wall clock is possible even with the current implementation, the other options may not be easy to implement and we'd like to understand how this would fit in a real-life scenario.

Currently, there is an open PR on implementing [G

[2021-03-05 10:40] gc-plp commented on #2473
@yilmazsen thanks for the suggestion. Would you be interested in adding a PR?

[2021-03-05 11:09] gc-plp commented on #2482
@kzys, indeed this is inconsistent, good call!

I think that there are 3 options here:

1. We change the API endpoint to be consistent, but we break the current API layout.
2. We support both, but this seems a bit awkward.
3. We implement [versioned API support](https://github.com/firecracker-microvm/firecracker/issues/1503) and go with option 1 with versioning on top.

Option 3 sounds the most ap

[2021-03-05 12:07] yilmazsen commented on #2473
Of course, if you want, I can add a PR for my suggestion.

[2021-03-05 15:00] kzys commented on #2482
Firecracker is relatively young software and memory ballooning is even younger. Firecracker has made some breaking changes in past;

- InstanceInfo's status were Uninitialized, Starting and Running, but now they are Not started, Running and Paused
- There were log_fifo and metrics_fifo, but later renamed to log_path and metrics_path

I'm not against about versioned API itself, but this memory ball

[2021-03-05 17:10] LegNeato commented on #2483
Ah, gdb server is what I need! Thank you for the quick response.

[2021-03-05 17:10] #2483 closed

[2021-03-07 08:03] BurtonQin opened #2486 "[Bug] Possible atomicity violation when logger metric init"
# Describe the bug
https://github.com/firecracker-microvm/firecracker/blob/9e94be71f4a079bf8fafd8f3c801750e744d930f/src/logger/src/metrics.rs#L107-L118

I wonder if the result is expected If `is_initialized.load()` and `store()` in `init()` are interleaved by another `store()` from another thread.
|Thread-1|Thread-2|
|---|---|
|load() == false|load() == false|
||init-1|
||store(true)|
||write|
|in

[2021-03-08 08:35] gc-plp commented on #2486
Hi @BurtonQin. This looks like a valid bug in the situation where multiple threads are used. In this specific situation I believe that Firecracker initializes the metrics module on a single thread, but we will look into this either way.

Could you point us to the static analysis tool that you have used? I took a look at your profile and found [rust-lock-bug-detector](https://github.com/BurtonQin/r

[2021-03-08 08:39] sandreim commented on #2482
Thanks for the input here @kzys . My take on this is that we are dealing with a cosmetic change without any functionality impact. We'll sync on this and come back with a clear path forward.

[2021-03-08 09:48] BurtonQin commented on #2486
It is still WIP. I will release it after some refactoring work.

[2021-03-08 11:31] S4nfs opened #2487 "vGPU?"
Is this hypervisor support Gpu passthrough or Nvidia vgpus to VMs?

[2021-03-08 15:01] sandreim commented on #2487
Hi @S4nfs! Right now there is no support for passthrough in Firecracker and no explicit plans for adding it as a general purpose feature. We are however considering different options to enable hardware accelerated inference capabilities for serverless workloads, see https://github.com/firecracker-microvm/firecracker/issues/1179.

[2021-03-08 15:19] sandreim commented on #2487
We are eager to see some details about your specific usecase for GPUs.

[2021-03-08 15:33] sandreim commented on #2486
Looking at this from close range, there is indeed an issue. Looking at how this is used in firecracker, the initialization happens in a single threaded context, here: https://github.com/firecracker-microvm/firecracker/blob/master/src/firecracker/src/main.rs#L197 . This calls into https://github.com/firecracker-microvm/firecracker/blob/master/src/vmm/src/vmm_config/logger.rs#L129 which performs the

[2021-03-08 15:36] sandreim commented on #2486
I think that it would make sense to either find a way to fix this or specifically document that Logger full initialization should not be involved in racing scenarios - called from multiple threads. Are there any other concerns here ?

[2021-03-08 15:56] sandreim commented on #2486
Ah, I just noticed you are referring to metrics and not logger, I was mislead by the title 😄 and the similar code. So yeah,  please disregard the above. We have to check if we init from single threaded scenario and if not, do it. Still, this code is not safe and can cause further problems, and maybe another fix works better.

[2021-03-08 17:11] gc-plp commented on #2486
Seems that all `METRICS.write` calls are handled in the same thread, indeed.

We initialize the metrics through [this call](https://github.com/firecracker-microvm/firecracker/blob/2f19452cddce5adfa8f5fb1c9e7fc8c64d4084df/src/vmm/src/vmm_config/metrics.rs#L37), with calls being made when [initializing from JSON](https://github.com/firecracker-microvm/firecracker/blob/b36bf7195a4e7de706b30bbdf298e40

[2021-03-08 18:44] #2473 closed

[2021-03-09 08:36] S4nfs commented on #2487
I am planning on to build a cloud computing platform (like paperspace) with my colleague and for that its  necessary to build it from scratch. We are using Citrix Hypervisor right now but they are providing vGPU feature only with their premium edition 100$/month, which is way too expensive for us.

That's why we are looking for an open source nested virtualization that support vGPU passthrough. At

[2021-03-09 13:17] sandreim commented on #2487
Interesting project!

Firecracker should work as a guest hypervisor, but our testing pipelines do not cover this usecase. Also, due to the fact that Firecracker emulates virtio devices, I/O will have a much higher penalty in nested environment compared to running on bare metal. I would expect I/O overhead to go up by ~10x.

[2021-03-09 16:08] S4nfs commented on #2487
As for our project GPUs are very important but in AWS especially with bare metals there's no such information of how to deploy these with GPUs attached (such as Tesla T4 with i3 instance).  If you know something about this in AWS could you please tell me if these instances even support GPUs.

[2021-03-09 16:17] georgepisaltu commented on #2482
Hi @kzys,

We are sure to fix the API definition so that it reflect the MiB semantics. We are still trying to decide whether this should be done in a patch release now or if it will be delivered in the v0.25 release.

We will let you know once we make a decision.

[2021-03-10 06:39] RoyceDavison opened #2490 "Can't PATCH the balloon device"
Hi, I have a problem with the PATCH balloon operation. I can successfully create a balloon device and get balloon statistics. But it failed to update my balloon device. The error is `{"fault_message":"Device is inactive, check balloon driver is enabled."}`. The following `updateBalloon.sh` is used to update the balloon device:

[code]

I use firecracker v0.24.1 & v0.24.2 following [this balloon de

[2021-03-10 11:28] dianpopa opened #2492 "[Bug] Unit test aarch64 functionality through a mock fs for platform-agnostic reasons"
# Describe the bug

Some of the aarch64 specific unit tests rely on checks that are m6g specific (i.e the FDT is checked against an [m6g specific FDT](https://github.com/firecracker-microvm/firecracker/blob/master/src/arch/src/aarch64/fdt.rs#L738)). This means that running the unit tests on another platform different than m6g will fail.

## Expected behaviour

The aarch64 unit tests are platform a

[2021-03-10 14:01] dianpopa opened #2493 "[ACPI] Add support for ACPI Power Management"
# Feature Request

This is a feature tracking issue for the work to enable power management support for Firecracker microVMs through ACPI.

## Describe the desired solution

Implement virtual power management via ACPI which will result in the usual power related commands (reboot, halt, shutdown) not needing a dedicated device (i.e i8042 on x86_64).

## Describe possible alternatives

No other alte

[2021-03-10 14:29] #2407 closed

[2021-03-10 18:44] RoyceDavison commented on #2490
Do you mean add these two lines to my local kernel config or add into guest kernel config? Isn't the vmlinux I am using from quick start guide already had these configs?

Nope. I create the balloon first and then use patch.

[2021-03-11 00:40] RoyceDavison commented on #2490
I think you are right I miss the above configs. I compile a new guest kernel w/ [this config](https://github.com/firecracker-microvm/firecracker/blob/780b5e38da359b3540baffa53e9bfdb4db8f319e/resources/microvm-kernel-arm64.config). Using this guest kernel, the PATCH operation works fine.

[2021-03-11 00:40] #2490 closed

[2021-03-11 09:20] georgepisaltu opened #2495 "Update the quick start guide kernel images"
In [this issue](https://github.com/firecracker-microvm/firecracker/issues/2490), the user couldn't use the balloon device with the [quick start guide kernel image](https://github.com/firecracker-microvm/firecracker/blob/780b5e38da359b3540baffa53e9bfdb4db8f319e/docs/getting-started.md#running-firecracker) because the kernel doesn't have the balloon driver enabled. The kernel images we provide in th

[2021-03-11 09:22] georgepisaltu commented on #2490
@RoyceDavison I'm glad it worked with that config!

We have logged an issue to update the links to kernel images in the quick start guide, linked [here](https://github.com/firecracker-microvm/firecracker/issues/2495).

[2021-03-11 09:45] gregorybrzeski commented on #2490
@georgepisaltu maybe wording for this error message can be improved as suggested in #2496 in order to make it clearer, leaving no room for confusion or doubt.

[2021-03-11 11:35] georgepisaltu commented on #2482
Hi all,

We have decided to deliver the fix renaming `target_mb` and `actual_mb` to `target_mib` and `actual_mib`, respectively, in Firecracker v0.25.

This issue will remain open until we merge the PR with the fix.

[2021-03-11 14:01] georgepisaltu commented on #2486
I looked into this and indeed `metrics.write` is only called from a single thread, this also seems to be the case for `metrics.init`.

Seeing as the static struct responsible for the metrics has the fields:
[code]
This means that only `app_metrics` actually is accessed in multiple threads.

Unfortunately, because this struct is part of a `lazy_static!` declaration, we can't remove the synchronizat

[2021-03-14 15:16] ustiugov commented on #2479
We are highly interested in such tests as well in the context of [vHive](https://github.com/ease-lab/vhive). In my opinion, there are a couple of questions regarding the full-host performance tests that need to be discussed first:

1. The suite of representative serverless functions or containers. We have already dockerized a wide range of Python functions plus few others, written in Java SpringBo

[2021-03-15 09:48] alindima opened #2501 "[Bug] Intel CI intermittent failure - test_snapshot_basic.py::test_5_full_snapshots"
# Describe the bug

The `test_snapshot_basic.py::test_5_full_snapshots` CI test is failing intermittently on the Intel CI.
Example: https://firecracker-pr.s3.amazonaws.com/pr-logs/x86_64/02496/gregorybrzeski-firecracker-6c8bb02.log.html

## To Reproduce

Not aware of any deterministic scenario.

## Expected behaviour

The test should pass.

## Checks

- [x] Have you searched the Firecracker Issues

[2021-03-15 10:19] #2486 closed

[2021-03-15 10:57] georgepisaltu commented on #2495
We now have separate kernel images in S3 for our quick start guide. They should never "go bad" as they are only used and linked in the guide.

We will also make sure that these kernel images are updated every time we release a new Firecracker version.

I don't see anything else to do here, closing this.

[2021-03-15 10:57] #2495 closed

[2021-03-15 11:51] Nugine commented on #1164
I ran into the same problem elsewhere. Here is what I have found. Maybe it will help you.

The program below spawns a process in a new IPC namespace. Then the new process replaces itself with `/bin/ls`.

`argv[1]` controls whether to create a new IPC namespace.

[code]

[code]

[code]

Execute `./a.out` with `strace`.

[code]

[pid 30483] The duration between `exit_group` and `exited` is 567658-56

[2021-03-16 18:01] #2467 closed

[2021-03-17 11:14] sandreim commented on #2487
I understand the scenario you describe and I think this AWS page might help: https://aws.amazon.com/ec2/instance-types/
Please reopen if you have additional questions on #1179

[2021-03-17 11:14] #2487 closed

[2021-03-19 16:59] sandreim commented on #2232
Reproduced locally, with more data.
[code]

[2021-03-19 17:03] sandreim commented on #2232
This could be caused by some resource limit - `ulimit -a`

[2021-03-19 22:31] humancalico commented on #2154
@sandreim Can I work on this?

[2021-03-22 09:00] alindima commented on #2501
Unfortunately, the CI log linked here was overwritten by a retrigger.
This issue seems similar to this one: https://github.com/firecracker-microvm/firecracker/issues/2232, so I'll close it as a duplicate.

[2021-03-22 09:00] #2501 closed

[2021-03-22 09:23] dianpopa commented on #2154
Hi @humancalico ,

We were planning on working on this in the near future but if you want to start work on this you can go ahead and I can help you with guidance. I encourage you to join our [slack channel](https://tinyurl.com/firecracker-microvm) and ping me there for anything.

[2021-03-24 19:52] amrragab8080 commented on #1179
Any update on the GPU support in Firecracker?

[2021-03-29 06:51] RoyceDavison opened #2513 "[Bug] Kernel download link doesn't match in quickstart"
# Describe the bug
I tried to use the memory balloon following, but the kernel downloaded from [QuickStartGuide](https://github.com/firecracker-microvm/firecracker/blob/master/docs/getting-started.md) does not support memory balloon driver. This kernel was downloaded by using a second shell to run the script under "get the kernel and rootfs, if you don't have any available:..."

This pr #2500 is r

[2021-03-29 09:09] serban300 commented on #2513
Thanks for pointing this out ! I published PR #2514 for fixing this issue.

[2021-03-29 10:47] serban300 commented on #2513
Fixed by #2514 . Closing the issue.

[2021-03-29 10:47] #2513 closed

[2021-03-31 08:20] raduweiss commented on #1179
We’ve been thinking about / experimenting in this space in the last months, and we'll keep at it this year, but there’s no ETA for this feature right now. For maximum utility in a serverless platform paradigm [a], a single GPU hardware resource needs to be safely used by multiple microVMs, without trading off the other capabilities that Firecracker users like (e.g., CPU/memory oversubscription, fa

[2021-04-01 17:49] luminitavoicu opened #2516 "Use a dedicated performance tool to measure start-up latency in the CI"
The `--start_time_us` and `--start-time-cpu-us` flags are only used internally by our CI, in order to detect start-up latency regression. Firecracker is currently responsible of measuring the startup performance by itself, however this logic becomes hard to maintain as we face additional use cases (as it was the case with [this PR](https://github.com/firecracker-microvm/firecracker/pull/2488)).

W

[2021-04-02 08:53] alindima commented on #2516
Could we instead just increment the startup time metric with the absolute time, instead of the delta?
This way, people who are interested in measuring the delta should just do the subtraction

[2021-04-02 09:23] acatangiu commented on #2516
I'm not sure how that would work for `cpu time`; even if'd work we'd end up with a split implementation with fc exporting some timestamps that could just as easily be taken by the caller/measuring application.

I'm `+1` on the issue proposal to remove these pseudo-measuring-tools from firecracker.

Anyway, we should do a call-out to Firecracker users to see if the exported metric that we use in CI